
%config CONFIG_DRIVER_BCM283X_GPIO
  desc Provide support for Broadcom BCM283X soc GPIO controller.
  parent CONFIG_ARCH_BCM283X
  depend CONFIG_DEVICE_GPIO
%config end

%config CONFIG_DRIVER_BCM283X_GPIO_ICU
  desc Enable use of the BCM283X GPIO as an irq controller
  parent CONFIG_DRIVER_BCM283X_GPIO
  depend CONFIG_DEVICE_ICU
  default defined
%config end

