
%config CONFIG_DRIVER_ENST_RTTIMER
  desc Enable driver for Telecom ParisTech Real-Time timer.
  desc http://www.soclib.fr/trac/dev/wiki/Component/VciRtTimer
  parent CONFIG_DRIVER
  depend CONFIG_DEVICE_TIMER
  suggest CONFIG_DEVICE_IRQ
%config end

%config CONFIG_DRIVER_ENST_RTTIMER_PERIOD
  desc Telecom ParisTech Real-Time timer default pre-scaler period.
  parent CONFIG_DRIVER_ENST_RTTIMER
  flags value 
  default 1000
%config end
