%config CONFIG_NETWORK_SOCKET
desc Enable libsocket API support
default undefined
%config end

%config CONFIG_NETWORK_SOCKET_PACKET
desc Enable support for PF_PACKET sockets
default undefined
%config end

%config CONFIG_NETWORK_SOCKET_RAW
desc Enable support for raw sockets (SOCK_RAW)
default undefined
%config end
