%config CONFIG_NETWORK_SOCKET
desc Enable libsocket API support
default undefined
require	CONFIG_NETWORK_SOCKET_HEXO CONFIG_NETWORK_SOCKET_POSIX
%config end

%config CONFIG_NETWORK_SOCKET_HEXO
desc Use HEXO socket interface (without integer file descriptors)
default undefined
exclude CONFIG_NETWORK_SOCKET_POSIX
%config end

%config CONFIG_NETWORK_SOCKET_POSIX
desc Use POSIX socket interface (with integer file descriptors)
default undefined
exclude CONFIG_NETWORK_SOCKET_HEXO
%config end

%config CONFIG_NETWORK_SOCKET_PACKET
desc Enable support for PF_PACKET sockets
default undefined
%config end

%config CONFIG_NETWORK_SOCKET_RAW
desc Enable support for raw sockets (SOCK_RAW)
default undefined
%config end
