
%config CONFIG_DRIVER_EFR32_DMA
  desc Enable EFR32 linked DMA driver
  parent CONFIG_ARCH_EFM32
  depend CONFIG_DEVICE_DMA
  depend CONFIG_DEVICE_IRQ
  require CONFIG_DRIVER_EFM32_DMA_CHANNEL_COUNT
#  require CONFIG_EFM32_ARCHREV=EFM32_ARCHREV_EFR_XG1 CONFIG_EFM32_ARCHREV=EFM32_ARCHREV_EFR_XG12 CONFIG_EFM32_ARCHREV=EFM32_ARCHREV_EFR_XG14
%config end

%config CONFIG_DRIVER_EFR32_DMA_LINKED_LIST_SIZE
  desc Number of descriptor allocated for linked list
  parent CONFIG_DRIVER_EFR32_DMA
  flags value
  default 4
%config end

%config CONFIG_DRIVER_EFR32_DMA_CHANNEL_COUNT
  desc Number of dma channel used
  parent CONFIG_DRIVER_EFR32_DMA
  flags value
  default 4
%config end

%config CONFIG_DRIVER_EFR32_DMA_TEST
  desc Special mode for test
  parent CONFIG_DRIVER_EFR32_DMA
  default undefined
%config end
