
%config CONFIG_DRIVER_EFM32_USART
  desc Enable EFM32 USART driver
  parent CONFIG_ARCH_EFM32
%config end

%config CONFIG_DRIVER_EFM32_USART_CHAR
  desc Enable EFM32 USART char class driver
  parent CONFIG_DRIVER_EFM32_USART
  depend CONFIG_DEVICE_CHAR
  suggest CONFIG_DEVICE_IRQ
  default defined
%config end

%config CONFIG_DRIVER_EFM32_USART_CHAR_SWFIFO
  desc Size of the additional software FIFOs. 0 disables software FIFOs.
  parent CONFIG_DRIVER_EFM32_USART_CHAR
  flags value
  default 0
%config end

%config CONFIG_DRIVER_EFM32_USART_SPI
  desc Enable EFM32 USART SPI controller class driver
  parent CONFIG_DRIVER_EFM32_USART
  depend CONFIG_DEVICE_SPI
  suggest CONFIG_DEVICE_IRQ
  default defined
%config end

%config CONFIG_DRIVER_EFM32_USART_SPI_IDCNT
  desc Maximum number of SPI endpoints
  parent CONFIG_DRIVER_EFM32_USART_SPI
  flags value
  default 2
%config end

%config CONFIG_DRIVER_EFM32_USART_SPI_IRQRATE
  desc Do not use irqs for transferts above this bitrate
  parent CONFIG_DRIVER_EFM32_USART_SPI
  flags value
  default 2
%config end
