
%config CONFIG_ARCH_SIMPLE_SAM7
desc AT91SAM7 platform
parent CONFIG_ARCH_SIMPLE
provide CONFIG_ARCH_SIMPLE
provide CONFIG_CPU_ARM_7TDMI
provide CONFIG_ARCH_SIMPLE_COPY_DATA
%config end

%config CONFIG_ARCH_SIMPLE_SAM7X256
desc Provide all configuration tokens suitable for the AT91SAM7X256 device
provide CONFIG_ARCH_SIMPLE_SAM7
provide CONFIG_ARCH_SIMPLE_RAM_ADDR=0x200000
provide CONFIG_ARCH_SIMPLE_RAM_SIZE=0x10000
provide CONFIG_ARCH_SIMPLE_ROM_ADDR=0x0000
provide CONFIG_ARCH_SIMPLE_ROM_SIZE=0x40000
%config end

%config CONFIG_ARCH_SIMPLE_OLIMEX_SAM7_EX256
provide CONFIG_ARCH_SIMPLE_HW_INIT
provide CONFIG_ARCH_SIMPLE_SAM7X256

provide CONFIG_DRIVER_CHAR_US6089C_UART
provide CONFIG_DRIVER_SPI_SPI6088D
provide CONFIG_DRIVER_I2C_TWI6061A

desc All-in-one configuration for Olimex SAM7-EX256 dev board
# provide CONFIG_DRIVER_CHAR_SAM7DBGU
provide CONFIG_DRIVER_BLOCK_SD_MMC
provide CONFIG_DRIVER_ICU_SAM7
provide CONFIG_DRIVER_GPIO_SAM7
provide CONFIG_DRIVER_INPUT_MT5F
provide CONFIG_DRIVER_LCD_PCF8833
provide CONFIG_DRIVER_LCD_S1D15G00
%config end
