%config CONFIG_DRIVER_ARM_PL011_UART
  desc Enable ARM PrimeCell PL011 UART device driver
  parent CONFIG_DRIVER
  depend CONFIG_DEVICE_CHAR
  depend CONFIG_DEVICE_IRQ
%config end

%config CONFIG_DRIVER_ARM_PL011_UART_SWFIFO
  desc Size of the additional software FIFOs. 0 disables software FIFOs.
  parent CONFIG_DRIVER_ARM_PL011_UART
  flags value
  default 32
%config end

%config CONFIG_DRIVER_ARM_PL011_PRINTK
  desc Printk driver for PL011
  parent CONFIG_DRIVER
  depend CONFIG_MUTEK_PRINTK
  provide CONFIG_MUTEK_PRINTK_HANDLER
  require CONFIG_MUTEK_PRINTK_ADDR!=0
%config end

%init INIT_DRIVER_ARM_PL011_PRINTK
  parent CONFIG_DRIVER_ARM_PL011_PRINTK
  during INIT_MUTEK_PRINTK
  after INIT_MUTEK_DEFAULT_MEMALLOC
  function pl011_printk_init
%init end

%config CONFIG_DRIVER_ARM_PL011_PRINTK_DIVISOR
  desc Divisor from clock to baudrate to use for UART console output (float allowed)
  parent CONFIG_DRIVER_ARM_PL011_PRINTK
  flags value
%config end
