%config CONFIG_DRIVER_I2C_BITBANG
  parent CONFIG_DRIVER
  desc Enable bitbang I2C master
  depend CONFIG_DEVICE_I2C
  depend CONFIG_DEVICE_GPIO
  depend CONFIG_DEVICE_TIMER
  depend CONFIG_MUTEK_KROUTINE_SCHED
  depend CONFIG_MUTEK_BYTECODE
%config end

%config CONFIG_DRIVER_I2C_BITBANG_ASYNC
  parent CONFIG_DRIVER_I2C_BITBANG
  desc Implement asynchronous GPIO API
  default defined
%config end

%config CONFIG_DRIVER_I2C_BITBANG_SYNC
  parent CONFIG_DRIVER_I2C_BITBANG
  desc Implement synchronous GPIO API
  default defined
%config end
