%config CONFIG_ARCH_CC1326
  desc Ti cc13xx/cc26xx platform support
  module arch Hexo
  depend CONFIG_CPU_ARM32M_CORTEXM3
  provide CONFIG_ARCH_META
  provide CONFIG_ARCH_NAME=cc1326
%config end

%init INIT_CC1326_MEM_ALLOC
  parent CONFIG_ARCH_CC1326
  during INIT_MUTEK_MEMALLOC
  function cc1326_mem_init
%init end
