%config CONFIG_DRIVER_RTT
  desc Segger RTT driver
  parent CONFIG_DRIVER
  flags auto
%config end

%config CONFIG_DRIVER_RTT_BIDIR_CHANNEL
  desc RTT bi-directional channel count
  parent CONFIG_DRIVER_RTT
  flags enum
  default 0
%config end

%config CONFIG_DRIVER_RTT_RX_CHANNEL
  desc RTT input-only channel count
  parent CONFIG_DRIVER_RTT
  flags enum
  default CONFIG_DRIVER_RTT_BIDIR_CHANNEL_COUNT
%config end

%config CONFIG_DRIVER_RTT_TX_CHANNEL
  desc RTT output-only channel count
  parent CONFIG_DRIVER_RTT
  flags enum
  default CONFIG_DRIVER_RTT_BIDIR_CHANNEL_COUNT
%config end

%init INIT_DRIVER_RTT
  parent CONFIG_DRIVER_RTT
  during INIT_MUTEK_PRINTK
  function rtt_init
%init end
