
%config CONFIG_DRIVER_STM32_GPIO
  desc Driver for GPIO controller on stm32
  parent CONFIG_ARCH_STM32
  single CONFIG_DRIVER_STM32_GPIO_F1XX CONFIG_DRIVER_STM32_GPIO_F4XX
  depend CONFIG_DEVICE_GPIO
  depend CONFIG_DEVICE_IOMUX
%config end

%config CONFIG_DRIVER_STM32_GPIO_F1XX
  desc Driver for GPIO controller on stm32 F1 family
  parent CONFIG_DRIVER_STM32_GPIO
  when CONFIG_STM32_FAMILY=1
%config end

%config CONFIG_DRIVER_STM32_GPIO_F4XX
  desc Driver for GPIO controller on stm32 F4 family
  parent CONFIG_DRIVER_STM32_GPIO
  when CONFIG_STM32_FAMILY=4
%config end

%config CONFIG_DRIVER_STM32_GPIO_ICU
  desc Enable GPIO as interrupt source
  parent CONFIG_DRIVER_STM32_GPIO
  depend CONFIG_DEVICE_IRQ
  depend CONFIG_DEVICE_ICU
  default defined
%config end

%config CONFIG_DRIVER_STM32_GPIO_IRQ_COUNT
  desc IRQ count as interrupt sources
  parent CONFIG_DRIVER_STM32_GPIO_ICU
  flags value
  default 16
%config end

