%config CONFIG_DRIVER_ADXL362
  desc Enable ADXL362 3-axis accelerometer sensor Valio driver
  parent CONFIG_DRIVER
  depend CONFIG_DEVICE_SPI
  depend CONFIG_DEVICE_SPI_BYTECODE
  depend CONFIG_DEVICE_SPI_BYTECODE_GPIO
  depend CONFIG_DEVICE_SPI_BYTECODE_TIMER
  depend CONFIG_DEVICE_INIT_ASYNC
  depend CONFIG_DEVICE_VALIO_MOTION_SENSOR
%config end

%config CONFIG_DRIVER_ADXL362_RANGE_MG
  desc ADXL362 positive range
  parent CONFIG_DRIVER_ADXL362
  flags value
  default 2000
%config end
