%config CONFIG_DRIVER_ADXL362
  desc Enable ADXL362 3-axis accelerometer sensor Valio driver
  parent CONFIG_DRIVER
  depend CONFIG_DEVICE_SPI
  depend CONFIG_DEVICE_SPI_BYTECODE
  depend CONFIG_DEVICE_SPI_BYTECODE_GPIO
  depend CONFIG_DEVICE_SPI_BYTECODE_TIMER
  depend CONFIG_DEVICE_INIT_ASYNC
  depend CONFIG_DEVICE_VALIO_MOTION_SENSOR
%config end

%config CONFIG_DRIVER_ADXL362_RANGE_MG
  desc ADXL362 positive range
  parent CONFIG_DRIVER_ADXL362
  flags value
  default 2000
%config end

%config CONFIG_DRIVER_ADXL362_ACT_DATA_RATE_HZ
  desc ADXL362 output datarate when active
  parent CONFIG_DRIVER_ADXL362
  flags value
  default 6
%config end

%config CONFIG_DRIVER_ADXL362_INACT_DATA_RATE_HZ
  desc ADXL362 output datarate when inactive
  parent CONFIG_DRIVER_ADXL362
  flags value
  default 6
%config end

%config CONFIG_DRIVER_ADXL362_ACT_THRESHOLD_MG
  desc ADXL362 relative activity threshold
  parent CONFIG_DRIVER_ADXL362
  flags value
  default 60
%config end

%config CONFIG_DRIVER_ADXL362_INACT_THRESHOLD_MG
  desc ADXL362 relative inactivity threshold
  parent CONFIG_DRIVER_ADXL362
  flags value
  default 20
%config end

%config CONFIG_DRIVER_ADXL362_ACT_TIME_MS
  desc ADXL362 timer value for activity detection
  parent CONFIG_DRIVER_ADXL362
  flags value
  default 0
%config end

%config CONFIG_DRIVER_ADXL362_INACT_TIME_MS
  desc ADXL362 timer value for inactivity detection
  parent CONFIG_DRIVER_ADXL362
  flags value
  default 170
%config end
