
%config CONFIG_DRIVER_CHAR_CADENCE_UART
  desc Enable Cadence UART device driver
  parent CONFIG_DRIVER
  depend CONFIG_DEVICE_CHAR
  suggest CONFIG_DEVICE_IRQ
%config end

%config CONFIG_DRIVER_CHAR_CADENCE_UART_SWFIFO
  desc Size of the additional software FIFOs. 0 disables software FIFOs.
  parent CONFIG_DRIVER_CHAR_CADENCE_UART
  flags value
  default 0
%config end

