%config CONFIG_NRF5X_PCA10000
  desc Support for nRF51 development kit USB dongle
  parent CONFIG_ARCH_NRF51
%config end

%config CONFIG_NRF5X_PCA10005
  desc Support for nRF51822-DK with SMA connector
  parent CONFIG_ARCH_NRF51
%config end

%config CONFIG_NRF5X_PCA10024
  desc Support for nRF51822-mKIT
  parent CONFIG_ARCH_NRF51
%config end

%config CONFIG_NRF5X_PCA20002
  desc Support for nRF51 Smart Remote module
  parent CONFIG_ARCH_NRF51
%config end

%config CONFIG_NRF5X_PCA20006
  desc Support for nRF51 Smart Beacon
  parent CONFIG_ARCH_NRF51
%config end

%config CONFIG_NRF5X_PCA10036
  desc Support for nRF52832 Preview Development Kit
  parent CONFIG_ARCH_NRF52
%config end
