
%config CONFIG_DRIVER_GAISLER_IRQMP
  desc Provide support for Gaisler interrupt controller
  depend CONFIG_DEVICE_ICU
  parent CONFIG_ARCH_GAISLER
%config end

%config CONFIG_DRIVER_GAISLER_IRQMP_EIRQ
  desc Enable support for extended interrupts
  parent CONFIG_DRIVER_GAISLER_IRQMP
  default defined
%config end

