
%config CONFIG_ARCH_PIC32
  desc PIC32 platform support
  module arch Hardware abstraction layer
  provide CONFIG_ARCH_META
  provide CONFIG_ARCH_NAME=pic32
  exclude CONFIG_ARCH_SMP CONFIG_ARCH_CLUSTER
  require CONFIG_PIC32_SRAMSIZE
  require CONFIG_PIC32_FLASHSIZE
  require CONFIG_PIC32_BOOTFLASHSIZE
%config end

%config CONFIG_PIC32_SRAMSIZE
  desc Size of ram accessible by CPU and AHB masters, mapped at 0x20000000
  parent CONFIG_ARCH_PIC32
  flags value
%config end

%config CONFIG_PIC32_FLASHSIZE
  desc Size of flash memory
  parent CONFIG_ARCH_PIC32
  flags value
%config end

%config CONFIG_PIC32_BOOTFLASHSIZE
  desc Size of flash memory
  parent CONFIG_ARCH_PIC32
  flags value
%config end

%config CONFIG_PIC32_BOARD_MZEC_STK
  desc PIC32MZ embedded connectivity starter kit
  parent CONFIG_ARCH_PIC32
  depend CONFIG_DRIVER_PIC32_UART_PRINTK
%config end

%init INIT_PIC32_MEM_ALLOC
  parent CONFIG_ARCH_PIC32
  during INIT_MUTEK_MEMALLOC
  function pic32_mem_init
%init end

%init INIT_PIC32_CLOCK
  parent CONFIG_ARCH_PIC32
  during INIT_BOOTSTRAP
  after INIT_MEMORY_SECTIONS
  before INIT_MUTEK_MEMALLOC
  function pic32_clk_init
%init end
