# PPI

%config CONFIG_DRIVER_NRF5X_PPI_ENUM
  desc nRF5x PPI allocator
  parent CONFIG_ARCH_NRF5X
  flags enum
  default 0
%config end

%config CONFIG_DRIVER_NRF5X_PPI_GROUP_ENUM
  desc nRF5x PPI group allocator
  parent CONFIG_ARCH_NRF5X
  flags enum
  default 0
%config end

%config CONFIG_DRIVER_NRF5X_GPIOTE_ENUM
  desc nRF5x GPIOTE allocator
  parent CONFIG_ARCH_NRF5X
  flags enum
  default 0
%config end

# Clock

%config CONFIG_DRIVER_NRF5X_CLOCK
  desc Enable nRF5x clock driver
  parent CONFIG_ARCH_NRF5X
  depend CONFIG_DEVICE_CLOCK
  depend CONFIG_DEVICE_IRQ
  depend CONFIG_DEVICE_SLEEP
  flags auto
  depend CONFIG_MUTEK_KROUTINE_SCHED
%config end

%config CONFIG_DRIVER_NRF5X_CLOCK_DEPS
  desc Internal token for nRF52 clock depends
  parent CONFIG_DRIVER_NRF5X_CLOCK
  depend CONFIG_DEVICE_INIT_PARTIAL
  when CONFIG_NRF5X_MODEL>=52000
%config end

%config CONFIG_DRIVER_NRF5X_NOCLOCK
  desc No nRF5x clock driver
  parent CONFIG_ARCH_NRF5X
  when CONFIG_DRIVER_NRF5X_CLOCK!
%config end

%init INIT_NRF5X_CLOCK_INIT
  parent CONFIG_DRIVER_NRF5X_NOCLOCK
  during INIT_BOOTSTRAP
  before INIT_MEMORY
  function arch_nrf5x_clock_init
%init end

%config CONFIG_DRIVER_NRF5X_CLOCK_LFRC_CAL
  desc nRF5x Support for LFRC calibration
  parent CONFIG_DRIVER_NRF5X_CLOCK
%config end

# Temperature

%config CONFIG_DRIVER_NRF5X_TEMP
  desc Enable nRF5x temperature driver
  parent CONFIG_ARCH_NRF5X
  depend CONFIG_DEVICE_TIMER
  depend CONFIG_DEVICE_VALIO
  depend CONFIG_DEVICE_VALIO_TEMPERATURE
  depend CONFIG_DEVICE_IRQ
  # Clock driver needs temperature device internally
  # TODO: allow clock driver to get external temperature device
  # but this creates a circular dependency
  exclude CONFIG_DRIVER_NRF5X_CLOCK_LFRC_CAL
%config end

# Quadrature decoder

%config CONFIG_DRIVER_NRF5X_QDEC
  desc Enable nRF5x quadrature decoder driver
  parent CONFIG_ARCH_NRF5X
  depend CONFIG_DEVICE_VALIO
  depend CONFIG_DEVICE_VALIO_POSITION
  depend CONFIG_DEVICE_IRQ
%config end

# GPIO

%config CONFIG_DRIVER_NRF5X_GPIO
  desc Enable nRF5x GPIO driver
  parent CONFIG_ARCH_NRF5X
  depend CONFIG_DEVICE_GPIO
  depend CONFIG_DEVICE_IRQ
%config end

%config CONFIG_DRIVER_NRF5X_GPIO_ICU_CHANNEL_COUNT
  desc Enable nRF5x GPIO IRQ routing
  parent CONFIG_DRIVER_NRF5X_GPIO
  flags value maxval
  default 0
%config end

%config CONFIG_DRIVER_NRF5X_GPIO_ICU
  desc Enable nRF5x GPIO IRQ routing
  parent CONFIG_DRIVER_NRF5X_GPIO
  depend CONFIG_DEVICE_ICU
  depend CONFIG_DEVICE_IRQ
  when CONFIG_DRIVER_NRF5X_GPIO_ICU_CHANNEL_COUNT>0
%config end

%config CONFIG_DRIVER_NRF5X_GPIO_TE_COUNT
  desc nRF5x GPIO driver GPIOTE count
  parent CONFIG_DRIVER_NRF5X_GPIO
  flags value
  provide CONFIG_DRIVER_NRF5X_GPIOTE_ENUM
  default CONFIG_DRIVER_NRF5X_GPIO_ICU_CHANNEL_COUNT
%config end

%config CONFIG_DRIVER_NRF5X_GPIO_PPI_COUNT
  desc nRF5x GPIO PPI channel count
  parent CONFIG_DRIVER_NRF5X_GPIO
  flags value
  provide CONFIG_DRIVER_NRF5X_PPI_ENUM
  default CONFIG_DRIVER_NRF5X_GPIO_ICU_CHANNEL_COUNT
%config end

%config CONFIG_DRIVER_NRF5X_GPIO_UNTIL
  desc Enable nRF5x GPIO driver UNTIL feature
  parent CONFIG_DRIVER_NRF5X_GPIO
  depend CONFIG_DEVICE_IRQ
%config end

# Timer+GPIOTE-based PWM

%config CONFIG_DRIVER_NRF5X_GPIO_PWM
  desc Enable nRF5x GPIOTE-based PWM driver
  parent CONFIG_ARCH_NRF5X
  depend CONFIG_DEVICE_PWM
  depend CONFIG_DEVICE_IRQ
  depend CONFIG_DEVICE_IOMUX
  depend CONFIG_DEVICE_DELAYED_REQUEST
%config end

%config CONFIG_DRIVER_NRF5X_GPIO_PWM_CHANNEL_COUNT
  desc Count of nRF5x GPIO PWM driver
  parent CONFIG_DRIVER_NRF5X_GPIO_PWM
  flags value
  default 1
  range [1,3]
%config end

%config CONFIG_DRIVER_NRF5X_GPIO_PWM_TE_COUNT
  desc nRF5x GPIO+PWM driver GPIOTE count
  parent CONFIG_DRIVER_NRF5X_GPIO_PWM
  flags value
  provide CONFIG_DRIVER_NRF5X_GPIOTE_ENUM
  default CONFIG_DRIVER_NRF5X_GPIO_PWM_CHANNEL_COUNT
%config end

%config CONFIG_DRIVER_NRF5X_GPIO_PWM_PPI_COUNT
  desc Count of nRF5x GPIO PPI channels
  parent CONFIG_DRIVER_NRF5X_GPIO_PWM
  flags value
  provide CONFIG_DRIVER_NRF5X_PPI_ENUM
  default CONFIG_DRIVER_NRF5X_GPIO_PWM_CHANNEL_COUNT*2
%config end

# Memory controller

%config CONFIG_DRIVER_NRF5X_NVMC
  desc Enable nRF5x Non volatile memory controller
  parent CONFIG_ARCH_NRF5X
  depend CONFIG_DEVICE_MEM
%config end

# I2C

%config CONFIG_DRIVER_NRF5X_I2C
  desc Enable nRF5x I2C driver
  parent CONFIG_ARCH_NRF5X
  depend CONFIG_DEVICE_IOMUX
  depend CONFIG_DEVICE_I2C
  depend CONFIG_DEVICE_IRQ
  depend CONFIG_DEVICE_SLEEP
%config end

# RTC

%config CONFIG_DRIVER_NRF5X_RTC
  desc Enable nRF5x RTC driver
  parent CONFIG_ARCH_NRF5X
  provide CONFIG_DEVICE_START_LOG2INC=1
  depend CONFIG_DEVICE_SLEEP
  depend CONFIG_DEVICE_TIMER
  depend CONFIG_DEVICE_IRQ
%config end

# TIMER

%config CONFIG_DRIVER_NRF5X_TIMER
  desc Enable nRF5x Timer driver
  parent CONFIG_ARCH_NRF5X
  provide CONFIG_DEVICE_START_LOG2INC=1
  depend CONFIG_DEVICE_TIMER
  depend CONFIG_DEVICE_IRQ
%config end

# SPI

%config CONFIG_DRIVER_NRF5X_SPI
  desc Enable nRF5x SPI driver
  parent CONFIG_ARCH_NRF5X
  depend CONFIG_DEVICE_IOMUX
  depend CONFIG_DEVICE_SPI
  depend CONFIG_DEVICE_IRQ
%config end

# SPIM

%config CONFIG_DRIVER_NRF52_SPIM
  desc Enable nRF52 SPIM driver (SPI Master with DMA)
  parent CONFIG_ARCH_NRF5X
  require CONFIG_NRF5X_MODEL>=52000
  depend CONFIG_DEVICE_IOMUX
  depend CONFIG_DEVICE_SPI
  depend CONFIG_DEVICE_IRQ
%config end

%config CONFIG_DRIVER_NRF52_SPIM_PAN58
  desc Enable workaround for PAN58
  parent CONFIG_DRIVER_NRF52_SPIM
  default defined
%config end

%config CONFIG_DRIVER_NRF52_SPIM_PAN58_PPI_COUNT
  desc Internal allocation of PPI for PAN58 workaround
  parent CONFIG_DRIVER_NRF52_SPIM_PAN58
  flags value
  provide CONFIG_DRIVER_NRF5X_PPI_ENUM
  default 1
%config end

%config CONFIG_DRIVER_NRF52_SPIM_PAN58_GPIOTE_COUNT
  desc Internal allocation of GPIOTE for PAN58 workaround
  parent CONFIG_DRIVER_NRF52_SPIM_PAN58
  flags value
  provide CONFIG_DRIVER_NRF5X_GPIOTE_ENUM
  default 1
%config end

# UART

%config CONFIG_DRIVER_NRF5X_UART
  desc Enable nRF5x UART driver
  parent CONFIG_ARCH_NRF5X
  provide CONFIG_DEVICE_START_LOG2INC=2
  depend CONFIG_DEVICE_IOMUX
  depend CONFIG_DEVICE_CHAR
  depend CONFIG_DEVICE_SLEEP
  depend CONFIG_DEVICE_IRQ
%config end

%config CONFIG_DRIVER_NRF5X_UART_SWFIFO
  desc Size of the software FIFO.
  parent CONFIG_DRIVER_NRF5X_UART
  flags value
  default 32
  range [1,512]
%config end

# printk() output

%config CONFIG_DRIVER_NRF5X_PRINTK
  desc Pin to use for UART console output
  parent CONFIG_ARCH_NRF5X
  depend CONFIG_MUTEK_PRINTK
  provide CONFIG_MUTEK_PRINTK_HANDLER
  require CONFIG_MUTEK_PRINTK_ADDR!=0
  when CONFIG_MUTEK_PRINTK CONFIG_MUTEK_PRINTK_ADDR=0x40002000
%config end

%init INIT_DRIVER_NRF5X_PRINTK
  parent CONFIG_DRIVER_NRF5X_PRINTK
  during INIT_MUTEK_PRINTK
  after INIT_MUTEK_DEFAULT_MEMALLOC
  function nrf5x_printk_init
%init end

%config CONFIG_DRIVER_NRF5X_PRINTK_PIN
  desc Pin to use for UART console output
  parent CONFIG_DRIVER_NRF5X_PRINTK
  flags value
%config end

%config CONFIG_DRIVER_NRF5X_PRINTK_RATE
  desc Baudrate to use for UART console output
  parent CONFIG_DRIVER_NRF5X_PRINTK
  flags value
  default 1000000
%config end

# UARTE

%config CONFIG_DRIVER_NRF52_UARTE
  desc Enable nRF52 UARTE driver (UART with DMA)
  parent CONFIG_ARCH_NRF5X
  require CONFIG_NRF5X_MODEL>=52000
  provide CONFIG_DEVICE_START_LOG2INC=2
  depend CONFIG_DEVICE_IOMUX
  depend CONFIG_DEVICE_CHAR
  depend CONFIG_DEVICE_IRQ
%config end

# Crypto

%config CONFIG_DRIVER_NRF5X_AES
  desc Enable nRF5x AES-128 driver
  parent CONFIG_ARCH_NRF5X
  depend CONFIG_DEVICE_CRYPTO
  depend CONFIG_DEVICE_DELAYED_REQUEST
%config end

%config CONFIG_DRIVER_NRF5X_AES_RANDOM
  desc Enable nRF5x AES-128-based DRBG
  parent CONFIG_DRIVER_NRF5X_AES
%config end

%config CONFIG_DRIVER_NRF5X_AES_CMAC
  desc Enable nRF5x AES-CMAC
  parent CONFIG_DRIVER_NRF5X_AES
%config end

%config CONFIG_DRIVER_NRF5X_AES_CCM
  desc Enable nRF5x Ble-specific CCM
  parent CONFIG_DRIVER_NRF5X_AES
  depend CONFIG_BLE
%config end

%config CONFIG_DRIVER_NRF5X_RNG
  desc Enable nRF5x Thermal RNG driver
  parent CONFIG_ARCH_NRF5X
  depend CONFIG_DEVICE_CRYPTO
  depend CONFIG_DEVICE_IRQ
%config end

# ADC

%config CONFIG_DRIVER_NRF5X_ADC
  desc Enable nRF5x ADC driver
  parent CONFIG_ARCH_NRF5X
  depend CONFIG_DEVICE_VALIO
  depend CONFIG_DEVICE_VALIO_ADC
  depend CONFIG_DEVICE_IRQ
%config end

# SAADC

%config CONFIG_DRIVER_NRF52_SAADC
  desc Enable nRF52 ADC driver
  parent CONFIG_ARCH_NRF5X
  require CONFIG_NRF5X_MODEL>=52000
  depend CONFIG_DEVICE_VALIO
  depend CONFIG_DEVICE_IOMUX
  depend CONFIG_DEVICE_VALIO_ADC
%config end

# USB Device

%config CONFIG_DRIVER_NRF52_USBD
  desc Enable nRF52 USB Device driver
  parent CONFIG_ARCH_NRF5X
  require CONFIG_NRF5X_MODEL=52840
  depend CONFIG_DEVICE_USBDEV
  depend CONFIG_DRIVER_NRF5X_CLOCK
  depend CONFIG_DEVICE_CLOCK_VARFREQ
  depend CONFIG_DEVICE_CLOCK_THROTTLE
  depend CONFIG_DEVICE_CLOCK
%config end

# PDM

%config CONFIG_DRIVER_NRF52_PDM
  desc Enable nRF52 PDM driver
  parent CONFIG_ARCH_NRF5X
  require CONFIG_NRF5X_MODEL>=52000
  depend CONFIG_DEVICE_IOMUX
  depend CONFIG_DEVICE_PCM
%config end

%config CONFIG_DRIVER_NRF52_PDM_POWERGATE
  desc Enable nRF52 PDM driver external power gating
  parent CONFIG_DRIVER_NRF52_PDM
  depend CONFIG_DEVICE_CLOCK
%config end

# I2S

%config CONFIG_DRIVER_NRF52_I2S
  desc Enable nRF52 I2S driver
  parent CONFIG_ARCH_NRF5X
  require CONFIG_NRF5X_MODEL>=52000
  depend CONFIG_DEVICE_IOMUX
  depend CONFIG_DEVICE_PCM
%config end

%config CONFIG_DRIVER_NRF52_I2S_POWERGATE
  desc Enable nRF52 I2S driver external power gating
  parent CONFIG_DRIVER_NRF52_I2S
  depend CONFIG_DEVICE_CLOCK
%config end

# 1-Wire

%config CONFIG_DRIVER_NRF5X_ONEWIRE
  desc Enable nRF5x 1-Wire driver
  parent CONFIG_ARCH_NRF5X
  depend CONFIG_DEVICE_ONEWIRE
  depend CONFIG_DEVICE_IOMUX
%config end

%config CONFIG_DRIVER_NRF5X_ONEWIRE_PPI_COUNT
  desc Internal allocation of PPI for 1-Wire dirver
  parent CONFIG_DRIVER_NRF5X_ONEWIRE
  flags value
  provide CONFIG_DRIVER_NRF5X_PPI_ENUM
  default 5
%config end

%config CONFIG_DRIVER_NRF5X_ONEWIRE_GPIOTE_COUNT
  desc Internal allocation of GPIOTE for 1-Wire dirver
  parent CONFIG_DRIVER_NRF5X_ONEWIRE
  flags value
  provide CONFIG_DRIVER_NRF5X_GPIOTE_ENUM
  default 3
%config end

# IR Blaster (PWM-based)

%config CONFIG_DRIVER_NRF52_IR_BLASTER
  desc Enable nRF52 IR-blaster driver
  parent CONFIG_ARCH_NRF5X
  require CONFIG_NRF5X_MODEL>=52000
  depend CONFIG_DEVICE_IOMUX
  depend CONFIG_DEVICE_VALIO
  depend CONFIG_DEVICE_VALIO_IR
%config end

# BLE network

%config CONFIG_DRIVER_NRF5X_BLE
  desc Enable BLE network device
  parent CONFIG_ARCH_NRF5X
  depend CONFIG_BLE
  depend CONFIG_DEVICE_NET
  depend CONFIG_DEVICE_CRYPTO
  depend CONFIG_DEVICE_CLOCK_GATING
%config end

%config CONFIG_DRIVER_NRF5X_BLE_PPI_COUNT
  desc Count of BLE device PPI channels
  parent CONFIG_DRIVER_NRF5X_BLE
  flags value
  provide CONFIG_DRIVER_NRF5X_PPI_ENUM
  default 6
%config end

%config CONFIG_DRIVER_NRF5X_BLE_PPI_GROUP_COUNT
  desc Count of BLE device PPI groups
  parent CONFIG_ARCH_NRF5X
  flags value
  provide CONFIG_DRIVER_NRF5X_PPI_GROUP_ENUM
  default 1
%config end

%config CONFIG_DRIVER_NRF5X_BLE_DEBUG
  desc Enable nRF5x BLE Debug code
  parent CONFIG_DRIVER_NRF5X_BLE
%config end

%config CONFIG_DRIVER_NRF5X_BLE_TRX_GPIO
  desc Use GPIO to signal TX/RX
  parent CONFIG_DRIVER_NRF5X_BLE
  flags value
%config end

%config CONFIG_DRIVER_NRF5X_BLE_TRX_GPIO_TX_VALUE
  desc Value to set to GPIO on TX
  parent CONFIG_DRIVER_NRF5X_BLE
  flags value
  default 1
%config end
