
%config CONFIG_DRIVER_RFPACKET_SI446X
  desc Enable Silabs SI446x radio frequency driver
  parent CONFIG_DRIVER
  depend CONFIG_DEVICE_RFPACKET
  depend CONFIG_DEVICE_INIT_ASYNC
  depend CONFIG_DEVICE_IRQ
  depend CONFIG_DEVICE_SPI
  depend CONFIG_DEVICE_SPI_BYTECODE
  depend CONFIG_DEVICE_SPI_BYTECODE_TIMER
  depend CONFIG_DEVICE_SPI_BYTECODE_GPIO
  require CONFIG_DRIVER_RFPACKET_SI446X_SPI_BITRATE<=10000000
  # because of modem calculator
  provide CONFIG_LICENSE_USE_GPL3
%config end

%config CONFIG_DRIVER_RFPACKET_SI446X_MAX_PKT_SIZE
  desc SI446X maximum packet size
  parent CONFIG_DRIVER_RFPACKET_SI446X
  default 256
  flags value
%config end

%config CONFIG_DRIVER_RFPACKET_SI446X_CCA
  desc Enable Silabs SI446x CCA support
  parent CONFIG_DRIVER_RFPACKET_SI446X
  default defined
%config end

%config CONFIG_DRIVER_RFPACKET_SI446X_CHIPREV
  desc SI446X revision (rev 2b: 0x22, rev 1a: 0x20)
  parent CONFIG_DRIVER_RFPACKET_SI446X
  default 0x22
  flags value
%config end

%config CONFIG_DRIVER_RFPACKET_SI446X_FREQ_XO
  desc SI446X XO frequency
  parent CONFIG_DRIVER_RFPACKET_SI446X
  default 26000000U
  flags value
%config end

%config CONFIG_DRIVER_RFPACKET_SI446X_MOD_RAW
  desc SI446X RAW support
  parent CONFIG_DRIVER_RFPACKET_SI446X
  default undefined
%config end

%config CONFIG_DRIVER_RFPACKET_SI446X_MOD_OOK
  desc SI446X 2FSK support
  parent CONFIG_DRIVER_RFPACKET_SI446X
  default undefined
%config end

%config CONFIG_DRIVER_RFPACKET_SI446X_MOD_2FSK
  desc SI446X 2FSK support
  parent CONFIG_DRIVER_RFPACKET_SI446X
  default defined
%config end

%config CONFIG_DRIVER_RFPACKET_SI446X_MOD_4FSK
  desc SI446X 4FSK support
  default undefined
  parent CONFIG_DRIVER_RFPACKET_SI446X
%config end

%config CONFIG_DRIVER_RFPACKET_SI446X_AFC
  desc SI446X AFC support
  parent CONFIG_DRIVER_RFPACKET_SI446X
  default defined
%config end

%config CONFIG_DRIVER_RFPACKET_SI446X_AFCBD
  desc Enable AFC bandwidth narrowing
  parent CONFIG_DRIVER_RFPACKET_SI446X_AFC
  default defined
%config end

%config CONFIG_DRIVER_RFPACKET_SI446X_SPI_BITRATE
  desc SI446X spi clock speed
  parent CONFIG_DRIVER_RFPACKET_SI446X
  default 6000000
  flags value
%config end

%config CONFIG_DRIVER_RFPACKET_SI446X_SLEEP
  desc SI446X Sleep mode support
  parent CONFIG_DRIVER_RFPACKET_SI446X
  depend CONFIG_DEVICE_SLEEP
  default defined
%config end

%config CONFIG_DRIVER_RFPACKET_SI446X_WUT
  desc SI446X wakeup timer and low duty cycle RX
  parent CONFIG_DRIVER_RFPACKET_SI446X
%config end

%config CONFIG_DRIVER_RFPACKET_SI446X_TCXO
  desc Configure the SI446X to use a TCXO instead of a XTAL
  parent CONFIG_DRIVER_RFPACKET_SI446X
%config end

%config CONFIG_DRIVER_RFPACKET_SI446X_CTS_IRQ
  desc Configure the SI446X to use an IRQ for CTS (requires to declare the IRQ as resource)
  default undefined
  parent CONFIG_DRIVER_RFPACKET_SI446X
%config end