%config CONFIG_DRIVER_USBDEV_MAX3420
  desc Enable Maxim 3420 USB peripehral controller driver
  parent CONFIG_DRIVER
  depend CONFIG_DEVICE_USBDEV
  depend CONFIG_DEVICE_IRQ
  depend CONFIG_DEVICE_SPI
  depend CONFIG_DEVICE_SPI_BYTECODE
  depend CONFIG_DEVICE_SPI_BYTECODE_TIMER
  depend CONFIG_DEVICE_SPI_BYTECODE_GPIO
  depend CONFIG_DEVICE_INIT_ASYNC
  require CONFIG_DRIVER_USBDEV_MAX3420_SPI_BITRATE<=26000000
%config end

%config CONFIG_DRIVER_USBDEV_MAX3420_SPI_BITRATE 
  desc MAX3420 spi clock speed 
  parent CONFIG_DRIVER_USBDEV_MAX3420
  default 12000000
  flags value
%config end
