
%config CONFIG_COMPILE_PIC
desc Generate position independant code
default defined
%config end

%config CONFIG_COMPILE_COLLECT
desc Enable symbols garbage collection to reduce binary size
default undefined
%config end

%config CONFIG_COMPILE_DEBUG
desc Disable compiler optimization and add debug symbols
provide CONFIG_COMPILE_FRAMEPTR
%config end

%config CONFIG_COMPILE_FRAMEPTR
desc Compile with frame pointer register
%config end

%config CONFIG_COMPILE_INSTRUMENT
desc Add instrumentation calls for entry and exit to functions
%config end

%config CONFIG_COMPILE_SIZEOF_INT
desc Size of int C type in bytes
flags nodefine
%config end

%config CONFIG_DEBUG
desc Enable debug features globaly
provide CONFIG_HEXO_MEMALLOC_SIGNED
provide CONFIG_HEXO_MEMALLOC_DEBUG
provide CONFIG_PTHREAD_CHECK
provide CONFIG_LIBC_ASSERT
%config end

