
%config CONFIG_TTY
desc TTY device support
default defined
%config end

%config CONFIG_UART
desc UART device support
default defined
%config end

%config CONFIG_TTY_UART
desc TTY use uart
require CONFIG_UART
default undefined
%config end

%config CONFIG_FB
desc Frame buffer device support
default undefined
%config end

%config CONFIG_TIMER
desc Timer dvice suppport
default defined
%config end

%config CONFIG_VGATTY_ANSI
desc Vga TTY is support ansi codes
require CONFIG_TTY
%config end

%config CONFIG_SMP
desc Support multi-processors systems
default defined
%config end

%config CONFIG_CLUSTER
desc Support multi-clusters systems
%config end

%config CONFIG_SHED_MIGRATION
desc Scheduler algorithm use permanent context migration among processors
default defined
%config end

%config CONFIG_CACHE
desc Processors uses cache
default defined
%config end

%config CONFIG_CACHE_COHERENCY
desc Processors supports cache coherency mechanism 
require CONFIG_CACHE
default defined
%config end

%config CONFIG_IPI
desc Inter processor interrupts support
%config end

%config CONFIG_PREEMPT
desc Scheduler is preemptiv
%config end

%config CONFIG_PTHREAD_STACK_SIZE
desc Size of the stack allocated for new pthread in number of elements
default 65535
%config end

%config CONFIG_PTHREAD_CHECK
desc Extensive error checking for pthread API
default defined
%config end

%config CONFIG_PTHREAD_CANCEL
desc Provide pthread_cancel support
default defined
%config end

%config CONFIG_PTHREAD_JOIN
desc Provide joinable pthread support
default defined
%config end

%config CONFIG_PTHREAD_MUTEX_ATTR
desc Provide pthread mutex attributes support
default defined
%config end

%config CONFIG_LIBC_PRINTF_SIMPLE
desc libc printf() features are reduced
default undefined
%config end

%config CONFIG_LIBC_PRINTF_EXT
desc libc printf support %S and %P extentions to dump buffers
default defined
%config end

%config CONFIG_MIPS
desc Use mips processor
default undefined
%config end

%config CONFIG_MIPS_VERSION
depend CONFIG_MIPS
mandatory
desc Mips processor version (1, 2, 3, 4, 32, 322, 64)
default 1
%config end

%config CONFIG_MIPS_ABI_O32
depend CONFIG_MIPS
desc Mips processor abi is Old 32
exclude CONFIG_MIPS_ABI_O64 CONFIG_MIPS_ABI_N32 CONFIG_MIPS_ABI_EABI
default defined
%config end

%config CONFIG_MIPS_ABI_O64
depend CONFIG_MIPS
desc Mips processor abi is Old 64
exclude CONFIG_MIPS_ABI_O32 CONFIG_MIPS_ABI_N32 CONFIG_MIPS_ABI_EABI
default undefined
%config end

%config CONFIG_MIPS_ABI_N32
depend CONFIG_MIPS
desc Mips processor abi is New 32
exclude CONFIG_MIPS_ABI_O32 CONFIG_MIPS_ABI_O64 CONFIG_MIPS_ABI_N32
default undefined
%config end

%config CONFIG_MIPS_ABI_EABI
depend CONFIG_MIPS
desc Mips processor abi is Ext ABI
exclude CONFIG_MIPS_ABI_O32 CONFIG_MIPS_ABI_O64 CONFIG_MIPS_ABI_N32
default undefined
%config end

%config CONFIG_PIC
desc Generate position independant code
default defined
%config end

%config CONFIG_DEVICE_HIERARCHY
desc Have all device nodes sorted in a tree form
default defined
%config end

%config CONFIG_NETWORK_AUTOALIGN
desc Network option: force aligned memory accesses
default defined
%config end

%config CONFIG_NE2000_FRAGMENT
desc NE2000 driver option: use fragmenation
default defined
%config end

%config CONFIG_HEXO_MEMALLOC_ALIGN
desc Memory allocation block alignment
default 0x20
%config end

%config CONFIG_HEXO_MEMALLOC_STATS
desc keep stats about allocated blocks count and size
default defined
%config end

%config CONFIG_HEXO_MEMALLOC_SIGNED
desc add signature to memory allocated blocks headers
default defined
%config end

%config CONFIG_HEXO_MEMALLOC_DEBUG
desc fill allocated and freed memory blocks with 0x5a pattern
default defined
%config end

%config CONFIG_HEXO_MEMALLOC_ALGO_FIRSTFIT
desc select memory allocation algorithm first fit
default defined
exclude CONFIG_HEXO_MEMALLOC_ALGO_BESTFIT
%config end

%config CONFIG_HEXO_MEMALLOC_ALGO_BESTFIT
desc select memory allocation algorithm best fit
default undefined
exclude CONFIG_HEXO_MEMALLOC_ALGO_FIRSTFIT
%config end

