
%config CONFIG_ARCH_ATMEL
  desc Atmel platform support
  module arch Platforms
  provide CONFIG_ARCH_META
  provide CONFIG_ARCH_NAME=atmel
%config end

%init INIT_ATMEL_MEM_ALLOC
  parent CONFIG_ARCH_ATMEL
  during INIT_MUTEK_MEMALLOC
  function atmel_mem_init
%init end


%config CONFIG_ATMEL_PRINTK_AVR32_SIM
  desc Atmel early console output uses write syscall of the avr32 simulator
  parent CONFIG_ARCH_ATMEL
  provide CONFIG_MUTEK_PRINTK_HANDLER
  exclude CONFIG_ATMEL_PRINTK_USART
%config end

%init INIT_ATMEL_PRINTK_AVR32_SIM
  parent CONFIG_ATMEL_PRINTK_AVR32_SIM
  during INIT_MUTEK_PRINTK
  function atmel_printk_avr32sim_init
%init end



%config CONFIG_ATMEL_PRINTK_USART
  desc Atmel early console output uses an USART device
  parent CONFIG_ARCH_ATMEL
  provide CONFIG_MUTEK_PRINTK_HANDLER
  exclude CONFIG_ATMEL_PRINTK_AVR32_SIM
%config end

%init INIT_ATMEL_PRINTK_USART
  parent CONFIG_ATMEL_PRINTK_USART
  during INIT_MUTEK_PRINTK
  function atmel_printk_usart_init
%init end

