
%config CONFIG_ARCH_ATMEL
  desc Atmel platform support
  module arch Hexo
  parent CONFIG_ARCH_META
  provide CONFIG_ARCH_NAME=atmel
  exclude CONFIG_ARCH_SMP CONFIG_ARCH_CLUSTER
%config end

%init INIT_ATMEL_DATA
  parent CONFIG_ARCH_ATMEL CONFIG_DATA_FROM_ROM
  during INIT_MEMORY_SECTIONS
  function atmel_data_section_init
%init end

%init INIT_ATMEL_BSS
  parent CONFIG_ARCH_ATMEL
  during INIT_MEMORY_SECTIONS
  function atmel_bss_section_init
%init end

%init INIT_ATMEL_MEM_ALLOC
  parent CONFIG_ARCH_ATMEL
  during INIT_MUTEK_MEMALLOC
  function atmel_mem_init
%init end

%init INIT_ATMEL_ENUM
  parent CONFIG_ARCH_ATMEL
  during INIT_DEVICE_ENUM
  function atmel_hw_enum_init
%init end



%config CONFIG_ATMEL_EARLY_CONSOLE_AVR32_SIM
  desc Atmel early console output uses write syscall of the avr32 simulator
  parent CONFIG_ARCH_ATMEL
  provide CONFIG_MUTEK_EARLY_CONSOLE
  exclude CONFIG_ATMEL_EARLY_CONSOLE_USART
%config end

%init INIT_ATMEL_EARLY_CONSOLE_AVR32_SIM
  parent CONFIG_ATMEL_EARLY_CONSOLE_AVR32_SIM
  during INIT_MUTEK_EARLY_CONSOLE
  function atmel_early_console_avr32sim_init
%init end



%config CONFIG_ATMEL_EARLY_CONSOLE_USART
  desc Atmel early console output uses an USART device
  parent CONFIG_ARCH_ATMEL
  provide CONFIG_MUTEK_EARLY_CONSOLE
  exclude CONFIG_ATMEL_EARLY_CONSOLE_AVR32_SIM
%config end

%config CONFIG_ATMEL_EARLY_CONSOLE_USART_ADDR
  desc Address of the Atmel USART used for early console output
  parent CONFIG_ATMEL_EARLY_CONSOLE_USART
  flags value
  default 0xffe00c00
%config end

%init INIT_ATMEL_EARLY_CONSOLE_USART
  parent CONFIG_ATMEL_EARLY_CONSOLE_USART
  during INIT_MUTEK_EARLY_CONSOLE
  function atmel_early_console_usart_init
%init end

