%config CONFIG_LIBTERMUI
desc Enable libtermui
provide CONFIG_MODULES=+libtermui:%CONFIGPATH
default undefined
%config end

%config CONFIG_LIBTERMUI_CONSOLE
desc Enable libtermui console
parent CONFIG_LIBTERMUI
default undefined
%config end

%config CONFIG_LIBTERMUI_GETLINE
desc Enable libtermui getline
parent CONFIG_LIBTERMUI
default undefined
%config end


