######################################################################
# User definable tokens

%config CONFIG_CPU_ARM32M_CORTEXM0
  desc Arm Cortex-M0
  flags harddep
  parent CONFIG_CPU_ARM32M
  provide CONFIG_COMPILE_MCPU=cortex-m0
  provide CONFIG_CPU_NAME=arm_cortex_m0
  provide CONFIG_CPU_WAIT_IRQ
  provide CONFIG_CPU_ARM32M_ARCH_VERSION=6
  provide CONFIG_CPU_HARDWARE_MUL=32
%config end

%config CONFIG_CPU_ARM32M_CORTEXM0PLUS
  desc Arm Cortex-M0+
  flags harddep
  parent CONFIG_CPU_ARM32M
  provide CONFIG_COMPILE_MCPU=cortex-m0+
  provide CONFIG_CPU_NAME=arm_cortex_m0plus
  provide CONFIG_CPU_WAIT_IRQ
  provide CONFIG_CPU_ARM32M_ARCH_VERSION=6
  provide CONFIG_CPU_HARDWARE_MUL=32
%config end

%config CONFIG_CPU_ARM32M_CORTEXM1
  desc Arm Cortex-M1
  flags harddep
  parent CONFIG_CPU_ARM32M
  provide CONFIG_COMPILE_MCPU=cortex-m1
  provide CONFIG_CPU_NAME=arm_cortex_m1
  provide CONFIG_CPU_WAIT_IRQ
  provide CONFIG_CPU_ARM32M_ARCH_VERSION=6
  provide CONFIG_CPU_HARDWARE_MUL=32
%config end

%config CONFIG_CPU_ARM32M_CORTEXM3
  desc Arm Cortex-M3
  flags harddep
  parent CONFIG_CPU_ARM32M
  provide CONFIG_COMPILE_MCPU=cortex-m3
  provide CONFIG_CPU_NAME=arm_cortex_m3
  provide CONFIG_CPU_EXCEPTION_RELOCATABLE
  provide CONFIG_CPU_WAIT_IRQ
  provide CONFIG_CPU_ARM32M_ARCH_VERSION=7
  provide CONFIG_CPU_HARDWARE_MUL=64
  provide CONFIG_CPU_HARDWARE_DIVMOD=32
%config end

%config CONFIG_CPU_ARM32M_CORTEXM4
  desc Arm Cortex-M4
  flags harddep
  parent CONFIG_CPU_ARM32M
  provide CONFIG_COMPILE_MCPU=cortex-m4
  provide CONFIG_CPU_NAME=arm_cortex_m4
  provide CONFIG_CPU_EXCEPTION_RELOCATABLE
  provide CONFIG_CPU_WAIT_IRQ
  provide CONFIG_CPU_ARM32M_ARCH_VERSION=7
  provide CONFIG_CPU_HARDWARE_MUL=64
  provide CONFIG_CPU_HARDWARE_DIVMOD=32
%config end

%config CONFIG_CPU_ARM32M_CORTEXM7
  desc Arm Cortex-M7
  flags harddep
  parent CONFIG_CPU_ARM32M
  provide CONFIG_COMPILE_MCPU=cortex-m7
  provide CONFIG_CPU_NAME=arm_cortex_m7
  provide CONFIG_CPU_EXCEPTION_RELOCATABLE
  provide CONFIG_CPU_WAIT_IRQ
  provide CONFIG_CPU_ARM32M_ARCH_VERSION=7
  provide CONFIG_CPU_HARDWARE_MUL=64
  provide CONFIG_CPU_HARDWARE_DIVMOD=32
%config end

%config CONFIG_CPU_ARM32M_CORTEXM33
  desc Arm Cortex-M33
  flags harddep
  parent CONFIG_CPU_ARM32M
  provide CONFIG_CPU_NAME=arm_cortex_m33
  provide CONFIG_CPU_EXCEPTION_RELOCATABLE
  provide CONFIG_CPU_WAIT_IRQ
  provide CONFIG_CPU_ARM32M_ARCH_VERSION=8
  provide CONFIG_CPU_HARDWARE_MUL=64
  provide CONFIG_CPU_HARDWARE_DIVMOD=32
%config end

######################################################################
# Provided tokens, not definable by user directly

%config CONFIG_CPU_ARM32M
  desc ARM cortex-m 32 bit processors support
  provide CONFIG_CPU_META
  flags internal
  module cpu Processors::ARM 32 bit microcontroller

  when CONFIG_CPU_ARM32M_CORTEXM0
  when CONFIG_CPU_ARM32M_CORTEXM0PLUS
  when CONFIG_CPU_ARM32M_CORTEXM1
  when CONFIG_CPU_ARM32M_CORTEXM3
  when CONFIG_CPU_ARM32M_CORTEXM4
  when CONFIG_CPU_ARM32M_CORTEXM7
  when CONFIG_CPU_ARM32M_CORTEXM33

  provide CONFIG_CPU_ARCHNAME=arm32m
  single CONFIG_CPU_ARM32M_CORTEXM0 CONFIG_CPU_ARM32M_CORTEXM0PLUS CONFIG_CPU_ARM32M_CORTEXM1 CONFIG_CPU_ARM32M_CORTEXM3 CONFIG_CPU_ARM32M_CORTEXM4 CONFIG_CPU_ARM32M_CORTEXM7 CONFIG_CPU_ARM32M_CORTEXM33
  provide CONFIG_HEXO_STACK_ALIGN=8
  provide CONFIG_CPU_INT64_ALIGN=4

  provide CONFIG_CPU_EXCEPTION_ADDR=0x00000000
  exclude CONFIG_HEXO_CONTEXT_NESTED

  provide CONFIG_CPU_EXCEPTION_SIZE=(16+CONFIG_CPU_ARM32M_M_IRQ_COUNT*4)
  provide CONFIG_CPU_EXCEPTION_ALIGN=0x00000100
  provide CONFIG_CPU_RESET_ADDR=0x00000000
  provide CONFIG_CPU_RESET_SIZE=0
  provide CONFIG_CPU_ENDIAN_LITTLE
  provide CONFIG_CPU_NONALIGNED_ACCESS=1
  exclude CONFIG_LOAD_RESET_SEPARATE
  exclude CONFIG_ARCH_SMP
  provide CONFIG_CPU_NATIVE_BYTECODE

  require CONFIG_CPU_ARM32M_ARCH_VERSION
%config end

%config CONFIG_DRIVER_CPU_ARM32M
  desc Enable driver for ARM CPU
  parent CONFIG_CPU_ARM32M
  depend CONFIG_DEVICE_CPU
  default defined
%config end

%config CONFIG_CPU_ARM32M_EXT_DSP
  desc CPU has DSP extension
  parent CONFIG_CPU_ARM32M
%config end

%config CONFIG_CPU_ARM32M_M33_DSP
  desc M33 with DSP extension
  parent CONFIG_CPU_ARM32M_CORTEXM33
  when CONFIG_CPU_ARM32M_EXT_DSP CONFIG_CPU_ARM32M_CORTEXM33
  provide CONFIG_COMPILE_MCPU=cortex-m33
%config end

%config CONFIG_CPU_ARM32M_M33_NODSP
  desc M33 with DSP extension
  parent CONFIG_CPU_ARM32M_CORTEXM33
  when CONFIG_CPU_ARM32M_EXT_DSP! CONFIG_CPU_ARM32M_CORTEXM33
  provide CONFIG_COMPILE_MCPU=cortex-m33+nodsp
%config end

%config CONFIG_CPU_ARM32M_ARCH_VERSION
  desc ARM processor architecture version
  flags internal value
  parent CONFIG_CPU_ARM32M
%config end

%config CONFIG_CPU_ARM32M_M_IRQ_COUNT
  desc ARM M profile irq count
  flags value
  default 16
  parent CONFIG_CPU_ARM32M
%config end

%config CONFIG_CPU_ARM32M_TIMER_SYSTICK
  desc Enable timer driver for ARM-m SysTick
  parent CONFIG_CPU_ARM32M
  default defined
  depend CONFIG_DEVICE_TIMER
%config end

%config CONFIG_CPU_ARM32M_TIMER_SYSTICK_PERIOD
  desc Set the initial SysTick timer period
  parent CONFIG_CPU_ARM32M_TIMER_SYSTICK
  default 1000000
  flags value
%config end

%config CONFIG_CPU_ARM32M_TIMER_DWTCYC
  desc Enable timer driver for ARM-v7m DWT cycle counter
  parent CONFIG_CPU_ARM32M
  when CONFIG_CPU_ARM32M_ARCH_VERSION>=7
  depend CONFIG_DEVICE_TIMER
%config end

%config CONFIG_CPU_ARM32M_CLOCK
  desc Use clock endpoint on ARM driver processor
  parent CONFIG_CPU_ARM32M
  # break dep cycle, clock manager will require the ICU class of the CPU
  depend CONFIG_DEVICE_INIT_PARTIAL
  depend CONFIG_DEVICE_CLOCK
  when CONFIG_DEVICE_CLOCK
%config end

%config CONFIG_CPU_ARM32M_MPU_NULL_PTR
  desc Use the Memory Protection Unit of ARM-m processor to catch NULL pointer access
  parent CONFIG_CPU_ARM32M
%config end

%config CONFIG_CPU_ARM32M_MPU_STACK_GUARD
  desc Use the Memory Protection Unit of ARM-m processor to catch access near the end of context stack
  parent CONFIG_CPU_ARM32M
  require CONFIG_HEXO_STACK_ALIGN>=32
%config end

%config CONFIG_CPU_ARM32M_MPU_STACK_GUARD_SIZE
  desc Defines the number of bytes at the top of the stack which can not be used.
  desc Allowed values are 32, 64, 128, 256
  parent CONFIG_CPU_ARM32M_MPU_STACK_GUARD
  flags value
  default 32
%config end

%config CONFIG_CPU_ARM32M_BARE_BOOT
  desc Output executable code in the reset vector instead
  desc of the standard ARM header containing the stack pointer.
  parent CONFIG_CPU_ARM32M
%config end

# Trace global enable

%config CONFIG_CPU_ARM32M_CORESIGHT
  desc Enables CoreSight support
  parent CONFIG_CPU_ARM32M
%config end

%init INIT_CPU_ARM32M_CORESIGHT
  parent CONFIG_CPU_ARM32M_CORESIGHT
  during INIT_BOOTSTRAP
  before INIT_DEVICE_EARLY_DRIVERS
  function arm32m_coresight_init
%init end

%config CONFIG_CPU_ARM32M_TRACE
  desc Enables the TRACE output
  parent CONFIG_CPU_ARM32M_CORESIGHT
%config end

# TPIU config

%config CONFIG_CPU_ARM32M_TRACE_PARALLEL
  desc TRACEDATA output width, 0 means SWO in NRZ mode
  parent CONFIG_CPU_ARM32M_TRACE
  flags value
  default 0
%config end

%config CONFIG_CPU_ARM32M_TRACE_CLKIN_RATE
  desc Trace macrocell input clock frequency from SoC (Hz)
  parent CONFIG_CPU_ARM32M_TRACE
  flags value
%config end

%config CONFIG_CPU_ARM32M_TRACE_RATE
  desc Trace output port clock rate
  parent CONFIG_CPU_ARM32M
  flags value
  default 11
%config end

%config CONFIG_CPU_ARM32M_TRACE_FORMATTING
  desc Enable TPIU formatting
  parent CONFIG_CPU_ARM32M_TRACE
%config end

# ETM config

%config CONFIG_CPU_ARM32M_ETM
  desc Enables the Embedded Trace Macrocell
  parent CONFIG_CPU_ARM32M_CORESIGHT
%config end

%config CONFIG_CPU_ARM32M_ETM_BUSID
  desc ETM Bus ID in TPIU
  parent CONFIG_CPU_ARM32M_TRACE_FORMATTING
  flags value
  default 2
%config end

# DWT config

%config CONFIG_CPU_ARM32M_DWT
  desc Enables the DWT
  parent CONFIG_CPU_ARM32M_CORESIGHT
%config end

%config CONFIG_CPU_ARM32M_DWT_CYCLE_COUNT
  desc Enables the DWT cycle counter
  parent CONFIG_CPU_ARM32M_DWT
%config end

%config CONFIG_CPU_ARM32M_DWT_SYNC
  desc Make the DWT generate sync events
  parent CONFIG_CPU_ARM32M_DWT
%config end

# ITM config

%config CONFIG_CPU_ARM32M_ITM
  desc Enables the Instruction Trace Macrocell (Software-initated events)
  parent CONFIG_CPU_ARM32M_CORESIGHT
%config end

%config CONFIG_CPU_ARM32M_ITM_BUSID
  desc ITM Bus ID in TPIU
  parent CONFIG_CPU_ARM32M_TRACE_FORMATTING
  flags value
  default 1
%config end

# ITM-based printk

%config CONFIG_CPU_ARM32M_ITM_PRINTK
  desc Use Printk output on ITM
  depend CONFIG_MUTEK_PRINTK
  provide CONFIG_MUTEK_PRINTK_HANDLER
  parent CONFIG_CPU_ARM32M_ITM
%config end

%config CONFIG_CPU_ARM32M_ITM_PRINTK_PORT
  desc Printk output ITM stimulus port
  parent CONFIG_CPU_ARM32M_ITM_PRINTK
  flags value
  default 0
%config end

%init INIT_CPU_ARM32M_ITM_PRINTK
  parent CONFIG_CPU_ARM32M_ITM_PRINTK
  during INIT_MUTEK_PRINTK
  after INIT_CPU_ARM32M_CORESIGHT
  function arm32m_itm_printk_init
%init end
