
%config CONFIG_VULPIS
  desc Enable Sigfox support
  module libvulpis Libraries::Sigfox protocol implementation
  require CONFIG_VULPIS_PERSIST_UID_CNT
  require CONFIG_VULPIS_PERSIST_UID_ID
  depend CONFIG_PERSIST
%config end

%config CONFIG_VULPIS_PERSIST_UID
  parent CONFIG_VULPIS
  flags value
  default 'VL'
%config end

%config CONFIG_VULPIS_PERSIST_UID_CNT
  parent CONFIG_VULPIS
  flags value
  default 1
%config end

%config CONFIG_VULPIS_PERSIST_UID_ID
  parent CONFIG_VULPIS
  flags value
  default 0
%config end
