
%config CONFIG_DRIVER_SOCLIB_VCI_XICU
  desc Enable SoCLib VciXicu component driver
  parent CONFIG_ARCH_SOCLIB
  depend CONFIG_DEVICE
%config end

%config CONFIG_DRIVER_SOCLIB_VCI_XICU_ICU
  desc Enable support for SoCLib VciXicu interrupt controller feature
  parent CONFIG_DRIVER_SOCLIB_VCI_XICU
  depend CONFIG_DEVICE_ICU
  default defined
%config end

%config CONFIG_DRIVER_SOCLIB_VCI_XICU_TIMER
  desc Enable support for SoCLib VciXicu timer feature
  parent CONFIG_DRIVER_SOCLIB_VCI_XICU
  depend CONFIG_DEVICE_TIMER
  default defined
%config end

