# printk() output

%config CONFIG_DRIVER_PSOC4_PRINTK
  desc PSoC4 SCB UART printk output
  parent CONFIG_ARCH_PSOC4
  provide CONFIG_MUTEK_PRINTK_HANDLER
%config end

%init INIT_DRIVER_PSOC4_PRINTK
  parent CONFIG_DRIVER_PSOC4_PRINTK
  during INIT_MUTEK_PRINTK
  function psoc4_printk_init
%init end

%config CONFIG_DRIVER_PSOC4_PRINTK_PIN
  desc Pin to use for UART console output ((port << 3) + pin)
  parent CONFIG_DRIVER_PSOC4_PRINTK
  flags value
%config end

%config CONFIG_DRIVER_PSOC4_PRINTK_RATE
  desc Baudrate to use for UART console output
  parent CONFIG_DRIVER_PSOC4_PRINTK
  flags value
  default 115200
%config end

# GPIO

%config CONFIG_DRIVER_PSOC4_GPIO
  desc Enable PSoC4 GPIO driver
  parent CONFIG_ARCH_PSOC4
  depend CONFIG_DEVICE_GPIO
%config end

%config CONFIG_DRIVER_PSOC4_GPIO_ICU_CHANNEL_COUNT
  desc Enable PSoC4 GPIO IRQ routing
  parent CONFIG_DRIVER_PSOC4_GPIO
  flags value
  default 0
  range [0,4]
%config end

%config CONFIG_DRIVER_PSOC4_GPIO_ICU
  desc Enable PSoC4 GPIO IRQ routing
  parent CONFIG_DRIVER_PSOC4_GPIO
  depend CONFIG_DEVICE_ICU
  depend CONFIG_DEVICE_IOMUX
  depend CONFIG_DEVICE_IRQ
  when CONFIG_DRIVER_PSOC4_GPIO_ICU_CHANNEL_COUNT>0
%config end

# UART

%config CONFIG_DRIVER_PSOC4_UART
  desc PSoC4 SCB UART char device
  parent CONFIG_ARCH_PSOC4
  provide CONFIG_DEVICE_START_LOG2INC=1
  depend CONFIG_DEVICE_CHAR
  depend CONFIG_DEVICE_IRQ
  depend CONFIG_DEVICE_IOMUX
  depend CONFIG_DEVICE_SLEEP
  depend CONFIG_DEVICE_CLOCK
  depend CONFIG_DEVICE_CLOCK_VARFREQ
%config end

# Clock

%config CONFIG_DRIVER_PSOC4_CLOCK
  desc PSoC4/ProcBLE Clock device driver
  parent CONFIG_ARCH_PSOC4
  depend CONFIG_DEVICE_CLOCK
  depend CONFIG_DEVICE_CLOCK_GATING
  depend CONFIG_DEVICE_CLOCK_VARFREQ
%config end

%config CONFIG_DRIVER_PSOC4_CLOCK_BLE
  desc PSoC4-BLE/Proc-BLE Clock device driver BLESS support
  parent CONFIG_DRIVER_PSOC4_CLOCK
%config end

%config CONFIG_DRIVER_PSOC4_CLOCK_NODRV
  desc PSoC4 no clock device driver
  parent CONFIG_ARCH_PSOC4
  when CONFIG_DRIVER_PSOC4_CLOCK!
%config end

%init INIT_DRIVER_PSOC4_CLOCK
  parent CONFIG_DRIVER_PSOC4_CLOCK_NODRV
  during INIT_BOOTSTRAP
  function psoc4_clock_setup
%init end

# Clock peripheral distribution divisors

%config CONFIG_DRIVER_PSOC4_PERI
  desc PSoC4-BLE/PRoC-BLE Peripheral clock divider support
  parent CONFIG_ARCH_PSOC4
  depend CONFIG_DEVICE_CLOCK
  depend CONFIG_DEVICE_CLOCK_VARFREQ
  provide CONFIG_DEVICE_CLOCK_FRAC_WIDTH=21
%config end

%config CONFIG_DRIVER_PSOC4_PCLK
  desc PSoC4 Peripheral clock divider support
  parent CONFIG_ARCH_PSOC4
  depend CONFIG_DEVICE_CLOCK
  depend CONFIG_DEVICE_CLOCK_VARFREQ
  provide CONFIG_DEVICE_CLOCK_FRAC_WIDTH=21
%config end

# Wdt RTC

%config CONFIG_DRIVER_PSOC4_RTC
  desc PSoC4 WDT-based RTC
  parent CONFIG_ARCH_PSOC4
  provide CONFIG_DEVICE_START_LOG2INC=1
  depend CONFIG_DEVICE_TIMER
  depend CONFIG_DEVICE_IRQ
  depend CONFIG_DEVICE_SLEEP
  depend CONFIG_DEVICE_CLOCK
  depend CONFIG_DEVICE_CLOCK_VARFREQ
%config end
