%config CONFIG_ARCH_ZYNQ
  desc Zynq platform support
  module arch Hexo
  provide CONFIG_ARCH_META
  provide CONFIG_ARCH_NAME=zynq
  exclude CONFIG_ARCH_CLUSTER CONFIG_ARCH_SMP_CAPABLE
%config end

%config CONFIG_ZYNQ_PRINTK_UART
  desc Zynq early console output uses an UART device
  parent CONFIG_ARCH_ZYNQ
  provide CONFIG_MUTEK_PRINTK_HANDLER
%config end

%init INIT_ZYNQ_PRINTK_UART
  parent CONFIG_ZYNQ_PRINTK_UART
  during INIT_MUTEK_PRINTK
  function zynq_early_console_init
%init end

