%config CONFIG_ARCH_ZYNQ
  desc Zynq platform support
  module arch Hexo
  parent CONFIG_ARCH_META
  provide CONFIG_ARCH_NAME=zynq
  exclude CONFIG_ARCH_CLUSTER CONFIG_ARCH_SMP_CAPABLE
%config end

%init INIT_ZYNQ_MEM_ALLOC
  parent CONFIG_ARCH_ZYNQ
  during INIT_MUTEK_MEMALLOC
  function zynq_mem_init
%init end

%config CONFIG_ZYNQ_EARLY_CONSOLE_UART
  desc Zynq early console output uses an UART device
  parent CONFIG_ARCH_ZYNQ
  provide CONFIG_MUTEK_EARLY_CONSOLE
%config end

%config CONFIG_ZYNQ_EARLY_CONSOLE_UART_ADDR
  desc Address of the Zynq UART used for early console output
  parent CONFIG_ZYNQ_EARLY_CONSOLE_UART
  flags value
  default 0xe0001000
%config end

%init INIT_ZYNQ_EARLY_CONSOLE_UART
  parent CONFIG_ZYNQ_EARLY_CONSOLE_UART
  during INIT_MUTEK_EARLY_CONSOLE
  function zynq_early_console_init
%init end

