
%config CONFIG_DRIVER_BCM283X_I2C
  desc Enable BCM283X I2C driver
  parent CONFIG_ARCH_BCM283X
  depend CONFIG_DEVICE_I2C
  depend CONFIG_DEVICE_IRQ
%config end

%config CONFIG_DRIVER_BCM283X_I2C_MAX_TRANSFER
  desc Define the number of maximum transfer allowed
  parent CONFIG_DRIVER_BCM283X_I2C
  flags value
  default 8
%config end

