%config CONFIG_DRIVER_USB_SYNOPSYS
  desc Enable Synopsys DWC usb driver
  parent CONFIG_DEVICE_USBDEV
  depend CONFIG_DEVICE_IRQ
  flags auto
%config end

%config CONFIG_DRIVER_USB_SYNOPSYS_EP_COUNT
  desc Number of additional input and output endpoint supported by device
  parent CONFIG_DRIVER_USB_SYNOPSYS
  flags value
  default 6
%config end

%config CONFIG_DRIVER_USB_SYNOPSYS_EFM32
  desc Enable Synopsys DWC usb driver for EFM32
  parent CONFIG_ARCH_EFM32
  depend CONFIG_DRIVER_USB_SYNOPSYS
  suggest CONFIG_DEVICE_CLOCK_THROTTLE
%config end
