
%config CONFIG_DEVICE_HELPER_PREFIX
  desc Device helper prefix
  parent CONFIG_DEVICE
  flags value
  default
%config end

%config CONFIG_ARCH_STM32
  desc STMicroelectronics STM32 platform support
  module arch Hexo
  provide CONFIG_ARCH_META
  provide CONFIG_ARCH_NAME=stm32
  exclude CONFIG_ARCH_SMP CONFIG_ARCH_CLUSTER
  provide CONFIG_DEVICE_HELPER_PREFIX=STM32
  require CONFIG_STM32_SERIE
  require CONFIG_STM32_FAMILY
  require CONFIG_STM32_AHBRAMSIZE
  require CONFIG_STM32_CPURAMSIZE
  require CONFIG_STM32_FLASHSIZE
%config end

%init INIT_STM32_CLOCK
  parent CONFIG_ARCH_STM32
  during INIT_BOOTSTRAP
  after INIT_MEMORY_SECTIONS
  before INIT_MUTEK_MEMALLOC
  function stm32_clock_init
%init end

%config CONFIG_STM32_SERIE
  desc Defines the STM32 architecture series
  parent CONFIG_ARCH_STM32
  flags value
%config end

%config CONFIG_STM32_FAMILY
  desc Defines the STM32 architecture family
  parent CONFIG_ARCH_STM32
  flags value
%config end

%config CONFIG_STM32_AHBRAMSIZE
  desc Size of ram accessible by CPU and AHB masters, mapped at 0x20000000
  parent CONFIG_ARCH_STM32
  flags value
%config end

%config CONFIG_STM32_CPURAMSIZE
  desc Size of ram accessible by CPU only, mapped at 0x10000000
  parent CONFIG_ARCH_STM32
  flags value
%config end

%config CONFIG_STM32_FLASHSIZE
  desc Size of flash memory
  parent CONFIG_ARCH_STM32
  flags value
%config end

%config CONFIG_BOARD_STM32_NUCLEOF401RE
  desc STM32 Nucleo STM32F401RE board
  parent CONFIG_ARCH_STM32
  depend CONFIG_DRIVER_STM32_USART_PRINTK
%config end

