
%config CONFIG_ARCH_STM32
  desc STMicroelectronics STM32 platform support
  module arch Platforms::STMicroelectronics STM32
  provide CONFIG_ARCH_META
  provide CONFIG_ARCH_NAME=stm32
  exclude CONFIG_ARCH_SMP CONFIG_ARCH_CLUSTER
  require CONFIG_STM32_SERIES
  require CONFIG_STM32_FAMILY
  require CONFIG_STM32_AHBRAMSIZE
  require CONFIG_STM32_CPURAMSIZE
  require CONFIG_STM32_FLASHSIZE
  provide CONFIG_DEVICE_IOMUX_MAX_MUX=12
%config end

%init INIT_STM32_CLOCK
  parent CONFIG_ARCH_STM32
  during INIT_BOOTSTRAP
  after INIT_MEMORY_SECTIONS
  before INIT_MUTEK_MEMALLOC
  function stm32_clock_init
%init end

%config CONFIG_STM32_SERIES
  desc Defines the STM32 architecture series
  parent CONFIG_ARCH_STM32
  flags value
%config end

%config CONFIG_STM32_FAMILY
  desc Defines the STM32 architecture family
  parent CONFIG_ARCH_STM32
  flags value
%config end

%config CONFIG_STM32_AHBRAMSIZE
  desc Size of ram accessible by CPU and AHB masters, mapped at 0x20000000
  parent CONFIG_ARCH_STM32
  flags value
%config end

%config CONFIG_STM32_CPURAMSIZE
  desc Size of ram accessible by CPU only, mapped at 0x10000000
  parent CONFIG_ARCH_STM32
  flags value
%config end

%config CONFIG_STM32_FLASHSIZE
  desc Size of flash memory
  parent CONFIG_ARCH_STM32
  flags value
%config end

%config CONFIG_STM32_BOARD
  desc STM32 board name
  parent CONFIG_ARCH_STM32
  default none
  flags value
%config end

