
%config CONFIG_ARCH_STM32
  desc STMicroelectronics STM32 platform support
  module arch Hexo
  parent CONFIG_ARCH_META
  provide CONFIG_ARCH_NAME=stm32
  exclude CONFIG_ARCH_SMP CONFIG_ARCH_CLUSTER
%config end

%init INIT_STM32_MEM_ALLOC
  parent CONFIG_ARCH_STM32
  during INIT_MUTEK_MEMALLOC
  function stm32_mem_init
%init end

%config CONFIG_STM32_EARLY_CONSOLE_UART
  desc STM32 early console output uses an UART device
  parent CONFIG_ARCH_STM32
  provide CONFIG_MUTEK_EARLY_CONSOLE
%config end

%config CONFIG_STM32_EARLY_CONSOLE_UART_ADDR
  desc Address of the STM32 UART used for early console output
  parent CONFIG_STM32_EARLY_CONSOLE_UART
  flags value
  default 0x40004400
%config end

%config CONFIG_STM32_EARLY_CONSOLE_UART_BAUDRATE
  desc Address of the STM32 UART used for early console output
  parent CONFIG_STM32_EARLY_CONSOLE_UART
  flags value
  default 115200
%config end

%init INIT_STM32_EARLY_CONSOLE_UART
  parent CONFIG_STM32_EARLY_CONSOLE_UART
  during INIT_MUTEK_EARLY_CONSOLE
  function stm32_early_console_init
%init end

%init INIT_STM32_FREQ_SCALING
  parent CONFIG_ARCH_STM32
  during INIT_BOOTSTRAP
  after INIT_MEMORY_SECTIONS
  before INIT_STM32_EARLY_CONSOLE_UART
  function stm32_freq_scaling_init
%init end

