
%config CONFIG_DRIVER_CHAR_MUX
  desc Enable char device multiplexer
  parent CONFIG_DRIVER
  depend CONFIG_DEVICE_CHAR
  depend CONFIG_MUTEK_KROUTINE_SCHED
  require CONFIG_DRIVER_CHAR_MUX_PACKET_SIZE>=1
  require CONFIG_DRIVER_CHAR_MUX_READ_SIZE>=4
%config end

%config CONFIG_DRIVER_CHAR_MUX_RX_FIFOS
  desc enable use of per channel RX fifos
  parent CONFIG_DRIVER_CHAR_MUX
  default defined
%config end

%config CONFIG_DRIVER_CHAR_MUX_PACKET_SIZE
  desc Maximum payload size of generated and accepted packet on IO device.
  desc Shorter packets have a larger overhead but improves resync capability.
  parent CONFIG_DRIVER_CHAR_MUX
  flags value
  default 48
%config end

%config CONFIG_DRIVER_CHAR_MUX_READ_SIZE
  desc Size of IO read buffer.
  parent CONFIG_DRIVER_CHAR_MUX
  flags value
  default 50
%config end

