
%config CONFIG_ARCH_RASPBERRY
  desc Atmel platform support
  module arch Hexo
  parent CONFIG_ARCH_META
  provide CONFIG_ARCH_NAME=raspberry
  exclude CONFIG_ARCH_SMP CONFIG_ARCH_CLUSTER
%config end

%init INIT_RASPBERRY_BSS
  parent CONFIG_ARCH_RASPBERRY
  during INIT_MEMORY_SECTIONS
  function raspberry_bss_section_init
%init end

%init INIT_RASPBERRY_MEM_ALLOC
  parent CONFIG_ARCH_RASPBERRY
  during INIT_MUTEK_MEMALLOC
  function raspberry_mem_init
%init end

%init INIT_RASPBERRY_ENUM
  parent CONFIG_ARCH_RASPBERRY
  during INIT_DEVICE_ENUM
  function raspberry_hw_enum_init
%init end

%config CONFIG_RASPBERRY_EARLY_CONSOLE_UART
  desc Raspberry early console output uses an UART device
  parent CONFIG_ARCH_RASPBERRY
  provide CONFIG_MUTEK_EARLY_CONSOLE
%config end

%config CONFIG_RASPBERRY_EARLY_CONSOLE_UART_ADDR
  desc Address of the Raspberry UART used for early console output
  parent CONFIG_RASPBERRY_EARLY_CONSOLE_UART
  flags value
  default 0x20201000
%config end

%init INIT_RASPBERRY_EARLY_CONSOLE_UART
  parent CONFIG_RASPBERRY_EARLY_CONSOLE_UART
  during INIT_MUTEK_EARLY_CONSOLE
  function raspberry_early_console_init
%init end

