
%module Mutek

%config CONFIG_MUTEK_MAIN
desc Enable Mutek global intialization. provide mutek_main() and mutek_main_smp() functions.
desc Can be disabled if application code handle all the initialization stuff.
default defined
%config end

%config CONFIG_MUTEK_CONSOLE
desc Enable text console support
depend CONFIG_DRIVER_TTY CONFIG_DRIVER_UART
%config end

%config CONFIG_MUTEK_TIMERMS
desc Provide a general purpose milliseconds timer object
depend CONFIG_DRIVER_TIMER
%config end

%config CONFIG_MUTEK_LOGO
desc Add builtin MutekH logo bitmap to the kernel
depend CONFIG_DRIVER_FB
%config end


%config CONFIG_VMEM
desc Provide virtual memory support
provide CONFIG_HEXO_MMU
provide CONFIG_VMEM_PHYS_ALLOC
provide CONFIG_VMEM_KERNEL_ALLOC
%config end

%config CONFIG_VMEM_PHYS_ALLOC
desc Provide physical page allocator for virtual memory
parent CONFIG_VMEM
%config end

%config CONFIG_VMEM_KERNEL_ALLOC
parent CONFIG_VMEM
require CONFIG_HEXO_MMU
require CONFIG_VMEM_PHYS_ALLOC
desc Provide kernel virtual address space allocator
%config end


%config CONFIG_MUTEK_SCHEDULER
desc Hexo scheduler feature is enabled
default defined
require CONFIG_MUTEK_SCHEDULER_IDLE_STACK_SIZE
require CONFIG_MUTEK_SCHEDULER_MIGRATION CONFIG_MUTEK_SCHEDULER_STATIC
single  CONFIG_MUTEK_SCHEDULER_MIGRATION CONFIG_MUTEK_SCHEDULER_STATIC
%config end

%config CONFIG_MUTEK_SCHEDULER_PREEMPT
desc Scheduler is preemptiv
parent CONFIG_MUTEK_SCHEDULER
depend CONFIG_DRIVER_TIMER
%config end

%config CONFIG_MUTEK_SCHEDULER_MIGRATION
desc Scheduler algorithm use permanent context migration among available processors
parent CONFIG_MUTEK_SCHEDULER
default defined
%config end

%config CONFIG_MUTEK_SCHEDULER_STATIC
desc Scheduler algorithm use per cpu context list
parent CONFIG_MUTEK_SCHEDULER
default undefined
%config end

%config CONFIG_MUTEK_SCHEDULER_MIGRATION_AFFINITY
desc Handle scheduler context cpu affininty in migration mode
depend CONFIG_MUTEK_SCHEDULER_MIGRATION
depend CONFIG_SMP
parent CONFIG_MUTEK_SCHEDULER
default undefined
%config end

%config CONFIG_MUTEK_SCHEDULER_IDLE_STACK_SIZE
desc Size of the stack allocated for idle scheduler context.
desc Stack size is specified in stack bytes count.
parent CONFIG_MUTEK_SCHEDULER
default 2048
%config end

%config CONFIG_MUTEK_SCHEDULER_CANDIDATE_FCN
desc Enables sched_context_candidate_fcn(), uses an external function to check if a running thread must be selected
parent CONFIG_MUTEK_SCHEDULER
default undefined
%config end

%config CONFIG_MUTEK_RWLOCK
depend CONFIG_MUTEK_SCHEDULER
default defined
desc Provide read/write locks based on hexo scheduler
%config end


%config CONFIG_MUTEK_PRINTK
desc Provide printk() for kernel messages
default defined
%config end

%config CONFIG_PRINTF_ARG_SIMPLE
desc libc printf() features are reduced
default undefined
%config end

%config CONFIG_PRINTF_ARG_EXT
desc libc printf support %S and %P extentions to dump buffers
default defined
%config end
