
%config CONFIG_MUTEK
  desc MutekH kernel core
  module mutek Core::Kernel services
  flags mandatory
%config end

%init INIT_MUTEKH_STARTUP
  parent CONFIG_MUTEK
  desc Os startup
%init end

%init INIT_BOOTSTRAP
  parent CONFIG_MUTEK
  desc Root init token for all startup operations which must be performed on the bootstrap cpu only
  during INIT_MUTEKH_STARTUP
  flags calls
%init end

%init INIT_START_CPUS
  parent CONFIG_MUTEK
  desc Start non-bootstrap processors, must be provided in arch/ code.
  condition CONFIG_ARCH_SMP
  during INIT_BOOTSTRAP
  after INIT_SMP_STARTUP_BARRIER
  after INIT_DEVICE
  before INIT_SMP
  flags notempty
%init end

%init INIT_MEMORY
  parent CONFIG_MUTEK
  desc Initialization of memory
  during INIT_BOOTSTRAP
%init end

%init INIT_MEMORY_SECTIONS
  parent CONFIG_MUTEK
  desc Initialization of memory sections (zero .bss and initialize .data) if needed
  during INIT_MEMORY
%init end

%init INIT_COPY_DATA
  parent CONFIG_MUTEK
  condition CONFIG_LOAD_ROM
  during INIT_MEMORY_SECTIONS
  function section_data_init
%init end

%init INIT_ZERO_BSS
  parent CONFIG_MUTEK
  condition CONFIG_LOAD_ROM CONFIG_LOAD_NO_ZERO_IN_BSS!
  condition CONFIG_LOAD_BOOTLOAD CONFIG_LOAD_NO_ZERO_IN_BSS!
  during INIT_MEMORY_SECTIONS
  function section_bss_init
%init end

%init INIT_SMP
  parent CONFIG_MUTEK
  during INIT_MUTEKH_STARTUP
  after INIT_BOOTSTRAP
  desc Root init token for all startup operations which may be performed on multiple processors
  flags calls
%init end

%init INIT_DEVREADY
  parent CONFIG_MUTEK
  desc Root init token for all startup operations which must be performed once no more device
  desc initialization is ongoing. This may happen before or after scheduler startup depending
  desc on the configuration. This still occurs at the end of startup when libdevice is disabled.
  after INIT_SMP
  during INIT_MUTEKH_STARTUP
  flags calls
%init end

%init INIT_NODEV
  parent CONFIG_MUTEK
  during INIT_SMP
  condition CONFIG_DEVICE!
  desc This perform INIT_DEVREADY when libdevice is not used.
  after INIT_HEXO_CONTEXT
  after INIT_MUTEK_SCHEDULER_INITSMP
  before INIT_MUTEK_SCHEDULER_START
  function mutekh_startup_devready
%init end

%init INIT_CPUS
  parent CONFIG_MUTEK
  desc Initialization of processors
  during INIT_SMP
%init end

%init INIT_LIBRARIES
  parent CONFIG_MUTEK
  desc Initialization of mutekh libraries
  during INIT_DEVREADY
%init end

%config CONFIG_APP_START
  flags root
  desc Call the user defined @ref app_start function before the scheduler is started.
%config end

%config CONFIG_APP_START_SMP
  desc When this token is defined, all processors execute the @ref app_start function
  parent CONFIG_MUTEK
%config end

%init INIT_APP_START
  parent CONFIG_APP_START
  during INIT_DEVREADY
  after INIT_LIBRARIES
  function mutek_app_initsmp
%init end



%init INIT_SMP_STARTUP_BARRIER
  parent CONFIG_MUTEK
  desc Initialize the spin-barrier primitive used to synchronize processors during smp startup
  condition CONFIG_ARCH_SMP
  during INIT_BOOTSTRAP
  # we need to know the number of cpus
   after INIT_DEVICE
  function mutek_startup_barrier_init
%init end


%config CONFIG_MUTEK_FAULT_HANDLER
  desc Install a default fault handler with verbose output
  parent CONFIG_MUTEK
  depend CONFIG_HEXO_EXCEP
  default defined
%config end

%init INIT_MUTEK_FAULT_HANDLER
  parent CONFIG_MUTEK_FAULT_HANDLER
  desc Setup a processor fault handler
  # we need cpu local variables
   after INIT_DEVICE_CPU_REGS
  during INIT_CPUS
  function mutek_fault_initsmp
%init end

%config CONFIG_MUTEK_FAULT_FINISH
  desc void function called on abort, assert fail and cpu fault.
  parent CONFIG_MUTEK
  flags value
  default mutek_startup_halt
%config end

%config CONFIG_MUTEK_CONSOLE
  desc Enable console based on a char device driver.
  depend CONFIG_DEVICE_CHAR
  parent CONFIG_MUTEK
  require CONFIG_MUTEK_CONSOLE_DEVICE_PATHS
%config end

%config CONFIG_MUTEK_CONSOLE_DEVICE_PATHS
  desc Specify the candidate console device paths in the device tree
  parent CONFIG_MUTEK_CONSOLE
  flags value
  default "console* uart* tty*"
%config end

%init INIT_MUTEK_CONSOLE
  parent CONFIG_MUTEK_CONSOLE
  desc Initialize the console_dev device accessor.
  during INIT_DEVREADY
  before INIT_LIBRARIES
  function mutek_console_initsmp mutek_console_cleanupsmp
%init end

%config CONFIG_MUTEK_SHELL
  parent CONFIG_MUTEK
  desc Enable support for mutek interactive command shell
  depend CONFIG_LIBTERMUI_CONSOLE
  depend CONFIG_MUTEK_MEMALLOC
%config end

%config CONFIG_MUTEK_SHELL_THREAD
  parent CONFIG_MUTEK_SHELL
  desc Creates a thread running the shell on the console at startup
  depend CONFIG_MUTEK_CONSOLE
  depend CONFIG_MUTEK_THREAD
%config end

%config CONFIG_MUTEK_SHELL_STACK_SIZE
  parent CONFIG_MUTEK_SHELL_THREAD
  desc Specifies the stack size of the shell threads
  flags value maxval
  default 3072
%config end

%config CONFIG_MUTEK_SHELL_PROMPT
  parent CONFIG_MUTEK_SHELL
  desc Define the default shell prompt string
  flags value
  default "[#31;mutek#;] "
%config end

%config CONFIG_MUTEK_SHELL_LINE_SIZE
  parent CONFIG_MUTEK_SHELL
  desc Define the shell max line size
  flags value
  default 256
%config end

%config CONFIG_MUTEK_SHELL_BUF_SIZE
  parent CONFIG_MUTEK_SHELL
  desc Define the size of the shell history buffer
  flags value
  default 1024
%config end

%init INIT_MUTEK_SHELL_THREAD
  parent CONFIG_MUTEK_SHELL_THREAD
  during INIT_DEVREADY
  after INIT_MUTEK_CONSOLE
  function mutek_shell_thread_init
%init end

%config CONFIG_MUTEK_SHELL_BUFFER
  flags auto
  parent CONFIG_MUTEK_SHELL
  depend CONFIG_MUTEK_MEMALLOC_SMART
  desc Enable management of named buffers in shell context
%config end

%config CONFIG_MUTEK_SHELL_MEM
  parent CONFIG_MUTEK_SHELL
  desc Enable memory ops commands in shell
  default defined
%config end

%config CONFIG_MUTEK_LOGO
  desc Add builtin MutekH logo bitmap to the kernel
  parent CONFIG_MUTEK
%config end

%config CONFIG_MUTEK_NUMA
  desc Support of non uniform memory access platform
  depend CONFIG_MUTEK_MEMALLOC_SMART
  parent CONFIG_MUTEK
%config end

%config CONFIG_MUTEK_PRINTK
  desc Enable support for the printk kernel logging family of functions
  default defined
  parent CONFIG_MUTEK
  depend CONFIG_LIBC_FORMATTER
%config end

%config CONFIG_MUTEK_PRINTK_COMPILE_EXPR
  desc Set the logk filtering expression used at compile time.
  desc Calls to logk will be filtered out when this evaluates to false.
  parent CONFIG_MUTEK_PRINTK
  flags value userval
  # example: level >= LOGK_LEVEL_DEBUG || id == 'test'
  default level >= CONFIG_MUTEK_PRINTK_RUNTIME_LEVEL
%config end

%config CONFIG_MUTEK_PRINTK_RUNTIME_LEVEL
  desc Set the logk filtering level initially used at runtime.
  parent CONFIG_MUTEK_PRINTK
  flags value
  default LOGK_LEVEL_NORMAL
%config end

%config CONFIG_MUTEK_PRINTK_RUNTIME_EXPR
  desc Set the logk filtering expression used at runtime.
  desc Calls to logk will be filtered out when this evaluates to false.
  parent CONFIG_MUTEK_PRINTK
  flags value
  # example: level >= backend_level || id == 'test'
  default (!backend_id || backend_id == id) && level >= backend_level
%config end

%config CONFIG_MUTEK_PRINTK_COLOR
  desc Enable use of ANSI color in logk
  parent CONFIG_MUTEK_PRINTK
%config end

%config CONFIG_MUTEK_PRINTK_HANDLER
  desc An implementation for printk output exists
  parent CONFIG_MUTEK_PRINTK
  flags meta
%config end

%config CONFIG_MUTEK_PRINTK_HEXDUMP
  desc Provide hexdumpk() for kernel diagnostic
  parent CONFIG_MUTEK_PRINTK
  depend CONFIG_LIBC_FORMATTER_HEXDUMP
%config end

%config CONFIG_MUTEK_PRINTK_ADDR
  desc Address of the device used for console output
  parent CONFIG_MUTEK_PRINTK
  default 0
  flags value
%config end

%init INIT_MUTEK_PRINTK
  parent CONFIG_MUTEK_PRINTK_HANDLER
  desc Setup a kernel console output as soon as data sections are setup
  during INIT_MEMORY
  after INIT_MEMORY_SECTIONS
  before INIT_MUTEK_MEMALLOC
  flags notempty
%init end

%config CONFIG_MUTEK_SCHED_PRIORITIES
  desc Define the number of priority levels for kroutines and scheduler contexts
  parent CONFIG_MUTEK
  flags value
  default 1
%config end

%config CONFIG_MUTEK_PRINTK_RING
  desc Store printk output in a ring buffer
  parent CONFIG_MUTEK_PRINTK
  depend CONFIG_MUTEK_SHELL
  provide CONFIG_MUTEK_PRINTK_HANDLER
  require CONFIG_MUTEK_PRINTK_RING_SIZE>0
%config end

%config CONFIG_MUTEK_PRINTK_RING_SIZE
  desc Specifies the size of the ring buffer used store the printk output
  parent CONFIG_MUTEK_PRINTK_RING
  flags value
  default 512
%config end

%init INIT_MUTEK_PRINTK_RING
  parent CONFIG_MUTEK_PRINTK_RING
  during INIT_MUTEK_PRINTK
  function printk_ring_init
%init end

######################################################################
#		Vmem

%config CONFIG_VMEM
  desc Provide virtual memory support
  flags auto
  depend CONFIG_HEXO_MMU
  depend CONFIG_VMEM_PHYS_ALLOC
  depend CONFIG_VMEM_KERNEL_ALLOC
  exclude CONFIG_MUTEK_MEMALLOC_SIMPLE
  parent CONFIG_MUTEK
%config end

%config CONFIG_VMEM_PHYS_ALLOC
  desc Provide physical page allocator for virtual memory
  flags auto
  parent CONFIG_VMEM
%config end

%config CONFIG_VMEM_KERNEL_ALLOC
  desc Provide kernel virtual address space allocator
  flags auto
  parent CONFIG_VMEM
  depend CONFIG_HEXO_MMU
  depend CONFIG_VMEM_PHYS_ALLOC
%config end

######################################################################
#		Scheduler

%config CONFIG_MUTEK_SCHED
  desc Mutekh common scheduler part
  parent CONFIG_MUTEK
  flags auto
%config end

%config CONFIG_MUTEK_CONTEXT_SCHED
  desc Mutekh context scheduler
  flags auto
  single CONFIG_MUTEK_CONTEXT_SCHED_MIGRATION CONFIG_MUTEK_CONTEXT_SCHED_STATIC
  depend CONFIG_DEVICE_CPU
  depend CONFIG_HEXO_CONTEXT
  parent CONFIG_MUTEK
  depend CONFIG_MUTEK_SCHED
%config end

%init INIT_MUTEK_SCHEDULER_INIT
  parent CONFIG_MUTEK_SCHED
  desc Initialization of the scheduler on the bootstrap processor.
  during INIT_BOOTSTRAP
  after INIT_MEMORY
  before INIT_START_CPUS
  function mutek_scheduler_init
%init end

%init INIT_MUTEK_SCHEDULER_INITSMP
  parent CONFIG_MUTEK_SCHED
  desc Initialization of the scheduler on all processors.
  desc Contexts and kroutine may be scheduled once this is done.
  during INIT_SMP
  after INIT_HEXO_CONTEXT
  function mutek_scheduler_initsmp
%init end

%init INIT_MUTEK_SCHEDULER_START
  parent CONFIG_MUTEK_SCHED
  desc Enter the scheduler loop. Any scheduled context or kroutine will start running.
  after INIT_MUTEK_SCHEDULER_INITSMP
  during INIT_SMP
  function mutek_scheduler_start
%init end

%config CONFIG_MUTEK_CONTEXT_SCHED_MIGRATION
  desc Scheduler algorithm use permanent context migration among available processors
#  when CONFIG_MUTEK_CONTEXT_SCHED CONFIG_MUTEK_CONTEXT_SCHED_STATIC!
  when CONFIG_MUTEK_CONTEXT_SCHED_STATIC!
  parent CONFIG_MUTEK_CONTEXT_SCHED
%config end

%config CONFIG_MUTEK_CONTEXT_SCHED_STATIC
  desc Scheduler algorithm use per cpu context list
  parent CONFIG_MUTEK_CONTEXT_SCHED
%config end

%config CONFIG_MUTEK_CONTEXT_SCHED_MIGRATION_AFFINITY
  desc Handle scheduler context cpu affininty in migration mode
  parent CONFIG_MUTEK_CONTEXT_SCHED_MIGRATION
  depend CONFIG_ARCH_SMP
%config end

%config CONFIG_MUTEK_CONTEXT_SCHED_CANDIDATE_FCN
  desc Enables sched_context_candidate_fcn(), uses an external function to check if a running thread must be selected
  parent CONFIG_MUTEK_CONTEXT_SCHED
%config end

%config CONFIG_MUTEK_THREAD
  flags auto
  parent CONFIG_MUTEK
  desc Provide generic thread based on scheduler context
  depend CONFIG_MUTEK_CONTEXT_SCHED
%config end

%config CONFIG_MUTEK_RWLOCK
  flags auto
  parent CONFIG_MUTEK
  desc Provide read/write locks based on the mutek scheduler
  desc Mutek rwlocks functions are empty when the scheduler is disabled in the configuration.
  depend CONFIG_MUTEK_CONTEXT_SCHED
%config end

%config CONFIG_MUTEK_SEMAPHORE
  flags auto
  parent CONFIG_MUTEK
  desc Provide generic semaphore on the mutek scheduler
  desc Mutek semaphore functions are empty when the scheduler is disabled in the configuration.
  depend CONFIG_MUTEK_CONTEXT_SCHED
%config end

%config CONFIG_MUTEK_KROUTINE_QUEUE
  desc Support kernel routine queue
  parent CONFIG_MUTEK
  flags auto
%config end

%config CONFIG_MUTEK_KROUTINE_SCHED
  desc Mutekh kroutine scheduler
  parent CONFIG_MUTEK
  flags auto
  depend CONFIG_MUTEK_SCHED
  depend CONFIG_MUTEK_KROUTINE_QUEUE
%config end

%config CONFIG_MUTEK_KROUTINE_IDLE
  desc Support deferred execution of kernel routine on processor idle state
  parent CONFIG_MUTEK
  flags auto
  depend CONFIG_MUTEK_KROUTINE_SCHED
%config end

%config CONFIG_MUTEK_KROUTINE_TRIGGER
  desc Support deferred execution of kernel routine on a function call trigger
  parent CONFIG_MUTEK
  flags auto
%config end

%config CONFIG_MUTEK_KROUTINE_SEMAPHORE
  desc Support posting to a semaphore when a KROUTINE_QUEUE is scheduled
  parent CONFIG_MUTEK_KROUTINE_QUEUE
  depend CONFIG_MUTEK_SEMAPHORE
  flags auto
%config end

%config CONFIG_MUTEK_KROUTINE_PREEMPT
  flags internal
  desc This pulls context preempt and context irqen features when kroutines and contexts are scheduled concurrently.
  parent CONFIG_MUTEK
  when CONFIG_MUTEK_KROUTINE_SCHED CONFIG_MUTEK_CONTEXT_SCHED
  depend CONFIG_HEXO_CONTEXT_PREEMPT
#  depend CONFIG_HEXO_CONTEXT_IRQEN
%config end

######################################################################
#		Memory allocator

%config CONFIG_MUTEK_MEMALLOC
  parent CONFIG_MUTEK
  desc Memory allocation support
  single CONFIG_MUTEK_MEMALLOC_SIMPLE CONFIG_MUTEK_MEMALLOC_SMART
  default defined
%init end

%init INIT_MUTEK_MEMALLOC
  parent CONFIG_MUTEK_MEMALLOC
  desc Initialization of memory allocator
  during INIT_MEMORY
  after INIT_MEMORY_SECTIONS
  flags notempty
%init end

%config CONFIG_MUTEK_DEFAULT_MEMALLOC_INIT
  desc Enable initialization of memory allocator default region on startup
  parent CONFIG_MUTEK_MEMALLOC
%config end

%init INIT_MUTEK_DEFAULT_MEMALLOC
  parent CONFIG_MUTEK_DEFAULT_MEMALLOC_INIT
  desc Default initialization of memory allocator using values of CONFIG_STARTUP_HEAP_* and CONFIG_LOAD_ROM_RW_*
  during INIT_MUTEK_MEMALLOC
  function mutek_mem_alloc_init
%init end

%init INIT_MUTEK_STARTUP_STACK_RECLAIM
  parent CONFIG_MUTEK_DEFAULT_MEMALLOC_INIT
  during INIT_SMP
  before INIT_CPUS
  condition CONFIG_DEVICE_CPU
  function mutek_startup_stack_reclaim
%init end

%config CONFIG_MUTEK_MEM_REGION
  desc Enable use of memory region handler.
  parent CONFIG_MUTEK_MEMALLOC
%config end

%init INIT_MUTEK_MEM_REGION
  parent CONFIG_MUTEK_MEM_REGION
  desc Init memory regions in arch/ code
  during INIT_BOOTSTRAP
  after INIT_DEVICE_ENUM
  before INIT_DEVICE_EARLY_DRIVERS
%init end

%config CONFIG_MUTEK_MEMALLOC_SIMPLE
  desc Enable use of simple memory allocation algorithm.
  desc Incremental memory allocation without freeing.
  parent CONFIG_MUTEK_MEMALLOC
%config end

%config CONFIG_MUTEK_MEMALLOC_SMART
  desc Enable use of memory allocation algorithm.
  when CONFIG_MUTEK_MEMALLOC_SIMPLE!
  single CONFIG_MUTEK_MEMALLOC_ALGO_FIRSTFIT CONFIG_MUTEK_MEMALLOC_ALGO_BESTFIT
  parent CONFIG_MUTEK_MEMALLOC
%config end

%config CONFIG_MUTEK_MEMALLOC_ALGO_FIRSTFIT
  desc select memory allocation algorithm first fit
  parent CONFIG_MUTEK_MEMALLOC_SMART
  default defined
%config end

%config CONFIG_MUTEK_MEMALLOC_ALGO_BESTFIT
  desc select memory allocation algorithm best fit
  parent CONFIG_MUTEK_MEMALLOC_SMART
%config end

%config CONFIG_MUTEK_MEMALLOC_ALIGN
  desc Memory allocation block address alignment
  flags value
  default 0x20
  parent CONFIG_MUTEK_MEMALLOC
%config end

%config CONFIG_MUTEK_MEMALLOC_SCRAMBLE
  desc When enabled all allocated and freed memory blocks will filled be with 0x5a and 0xa5 bytes
  desc Checks are performed when allocating or resizing a memory block to ensure free blocks have not been overwritten.
  desc The mem_check and memory_allocator_region_check functions can be used to check the whole chain of blocks.
  when CONFIG_DEBUG
  parent CONFIG_MUTEK_MEMALLOC
%config end

%config CONFIG_MUTEK_MEMALLOC_SCRAMBLE_CHECK
  desc Specify the amount of bytes at start and and of free memory blocks which are checked to contain 0xa5 bytes.
  desc If this value is set to 0, no checks are performed.
  parent CONFIG_MUTEK_MEMALLOC_SCRAMBLE
  flags value
  default 64
%config end

%config CONFIG_MUTEK_MEMALLOC_STATS
  desc keep stats about allocated blocks count and size
  depend CONFIG_MUTEK_MEMALLOC_SMART
  parent CONFIG_MUTEK
%config end

%config CONFIG_MUTEK_MEMALLOC_CRC
  desc When enabled all memory block headers will include a CRC32.
  desc CRC checks are performed when calling memory allocator functions.
  desc The mem_check and memory_allocator_region_check functions can be used to check the whole chain of blocks.
  depend CONFIG_MUTEK_MEMALLOC_SMART
  when CONFIG_DEBUG
  parent CONFIG_MUTEK
%config end

%config CONFIG_MUTEK_MEMALLOC_GUARD
  desc Add a guard zone before and after each allocated block. These two zones are filled with 0x55 an 0xaa bytes.
  desc Checks are performed when freeing or resizing a memory block to ensure the guard zones have not been overwritten.
  desc The mem_check and memory_allocator_region_check functions can be used to check the whole chain of blocks.
  depend CONFIG_MUTEK_MEMALLOC_SMART
  when CONFIG_DEBUG CONFIG_COMPILE_OPTIMIZE!=s
  suggest CONFIG_MUTEK_MEMALLOC_ALIGN=1
  require CONFIG_MUTEK_MEMALLOC_GUARD_SIZE
  parent CONFIG_MUTEK
%config end

%config CONFIG_MUTEK_MEMALLOC_GUARD_SIZE
  desc Memory allocation debug guard zone size in bytes.
  flags value
  parent CONFIG_MUTEK_MEMALLOC_GUARD
  default 128
%config end

%config CONFIG_MUTEK_MEMALLOC_GUARD_INSTRUMENT
  desc Automatically check guard zone on all function calls and returns.
  parent CONFIG_MUTEK_MEMALLOC_GUARD
  depend CONFIG_COMPILE_INSTRUMENT
%config end

###################################################################
# Slab allocator

%config CONFIG_MUTEK_SLAB
  desc Enable use of slab allocator.
  parent CONFIG_MUTEK
  flags auto
%config end

%config CONFIG_MUTEK_BUFFER_POOL
  desc Enable use of packet pool allocator.
  parent CONFIG_MUTEK
  depend CONFIG_MUTEK_SLAB
  flags auto
%config end

######################################################################
# Bytecode

%config CONFIG_MUTEK_BYTECODE
  desc Enable the mutekh customizable bytecode.
  flags auto
  parent CONFIG_MUTEK
  require CONFIG_MUTEK_BYTECODE_BREAKPOINTS<=16
%config end

%config CONFIG_MUTEK_BYTECODE_VM
  desc Enable the mutekh bytecode interpreter.
  flags auto
  parent CONFIG_MUTEK_BYTECODE
  when CONFIG_CPU_NATIVE_BYTECODE!
%config end

%config CONFIG_MUTEK_BYTECODE_VM64
  desc Force use of 64 bits vm registers on 32 bits arch for test purpose.
  parent CONFIG_MUTEK_BYTECODE_VM
  exclude CONFIG_RELEASE
%config end

%config CONFIG_MUTEK_BYTECODE_NATIVE
  desc Enable translation of bytecode in machine code at compile time.
  parent CONFIG_MUTEK_BYTECODE
  when CONFIG_CPU_NATIVE_BYTECODE
  depend CONFIG_CPU_NATIVE_BYTECODE
  exclude CONFIG_MUTEK_BYTECODE_VM64
%config end

%config CONFIG_MUTEK_BYTECODE_SANDBOX
  desc Support sandboxed execution of bytecode.
  flags auto
  parent CONFIG_MUTEK_BYTECODE_VM
%config end

%config CONFIG_MUTEK_BYTECODE_VM_SINGLE
  desc Use a single slower/bigger VM for sandboxed and non-sandboxed bytecodes
  parent CONFIG_MUTEK_BYTECODE_VM
%config end

%config CONFIG_MUTEK_BYTECODE_DEBUG
  desc Enable the dump instruction, enable verbose failed checks.
  parent CONFIG_MUTEK_BYTECODE
%config end

%config CONFIG_MUTEK_BYTECODE_TRACE
  desc Enable verbose bytecode execution.
  parent CONFIG_MUTEK_BYTECODE_VM
  depend CONFIG_MUTEK_BYTECODE_DEBUG
%config end

%config CONFIG_MUTEK_BYTECODE_BREAKPOINTS
  desc Enable breakpoints
  parent CONFIG_MUTEK_BYTECODE_VM
  flags value
  default 0
%config end

