
%config CONFIG_DRIVER_EFM32_RTCC
  desc Enable EFM32 Real Time Counter and Calendar
  parent CONFIG_ARCH_EFM32
  depend CONFIG_DEVICE_TIMER
  suggest CONFIG_DEVICE_IRQ
  provide CONFIG_DEVICE_START_LOG2INC=1
  require CONFIG_EFM32_ARCHREV=EFM32_ARCHREV_EFR_XG1 CONFIG_EFM32_ARCHREV=EFM32_ARCHREV_EFR_XG12 CONFIG_EFM32_ARCHREV=EFM32_ARCHREV_EFR_XG14
%config end

