
%config CONFIG_CPU_X86
desc x86 processors support
default undefined
require	CONFIG_ARCH_IBMPC
provide CONFIG_CPU_NAME=x86
provide CONFIG_CPU_CACHE CONFIG_CPU_CACHE_COHERENCY
provide CONFIG_LIBC_STRING_ASM
provide CONFIG_CPU_RESET_ADDR=0x000ffff0
provide CONFIG_CPU_ENDIAN_LITTLE
provide CONFIG_COMPILE_SIZEOF_INT=4
# 8 general purpose registers + eip
provide CONFIG_LIBC_SETJMP_REG_COUNT=9
%config end

