
%config CONFIG_CPU_X86
  desc 32 bit x86 processors support
  flags harddep
  module cpu Processors::x86 32 bit processor
  depend CONFIG_ARCH_IBMPC
  depend CONFIG_DEVICE_CPU
  depend CONFIG_HEXO_CONTEXT
  depend CONFIG_HEXO_EXCEP
  provide CONFIG_CPU_CACHE
  provide CONFIG_CPU_NAME=x86
  provide CONFIG_CPU_ARCHNAME=x86
  provide CONFIG_CPU_CACHE CONFIG_CPU_CACHE_COHERENCY
  provide CONFIG_LIBC_STRING_ASM
  provide CONFIG_CPU_ENDIAN_LITTLE
  provide CONFIG_HEXO_MMU_PAGESIZE=4096
  provide CONFIG_CPU_NONALIGNED_ACCESS=15
  provide CONFIG_CPU_WAIT_IRQ
  provide CONFIG_CPU_SMP_CAPABLE
  provide CONFIG_CPU_META
  require CONFIG_HEXO_STACK_ALIGN>=8
  provide CONFIG_CPU_HARDWARE_MUL=64
  provide CONFIG_CPU_HARDWARE_DIVMOD=64

  provide CONFIG_CPU_RESET_ADDR=0x000ffff0
  provide CONFIG_CPU_RESET_SIZE=20
  provide CONFIG_CPU_EXCEPTION_ALIGN=16
  provide CONFIG_CPU_EXCEPTION_ADDR=0x00000000
  provide CONFIG_CPU_EXCEPTION_SIZE=0x200
  exclude CONFIG_HEXO_CONTEXT_NESTED
  exclude CONFIG_HEXO_CONTEXT_STACK_IRQ
%config end

%init INIT_X86_PMODE_TABLES
  parent CONFIG_CPU_X86
  desc Initialize x86 protected mode GDT and IDT tables
  during INIT_BOOTSTRAP
  after INIT_MEMORY
  before INIT_DEVICE
  function x86_pmode_tables_init
%config end

%config CONFIG_CPU_X86_ALIGNCHECK
  parent CONFIG_CPU_X86
  desc Enable memory access alignement checking on x86 processors.
  desc Warning: gcc may generate non aligned accesses in memset.
  provide CONFIG_CPU_NONALIGNED_ACCESS=1
%config end

%config CONFIG_CPU_X86_APIC
  parent CONFIG_CPU_X86
  desc Enable use of processor local APIC interrupt controller
%config end

%config CONFIG_CPU_X86_SYSENTER
  parent CONFIG_CPU_X86
  desc enable sysenter/sysexit instructions for system call fast path
  default defined
%config end

%config CONFIG_CPU_X86_SMP_BOOT_ADDR
  parent CONFIG_CPU_X86
  desc app CPUs boot address for x86 SMP bootup sequence.
  desc Must be 4k aligned, below 1Mb limit.
  flags value internal
  default 0x00002000
%config end

%config CONFIG_CPU_X86_TIMER_CYCLECOUNTER
  desc Enable timer driver for x86 cycle counter
  parent CONFIG_CPU_X86
  depend CONFIG_DEVICE_TIMER
  default defined
%config end

