
%config CONFIG_CPU_X86
  desc x86 processors support
  module cpu Hexo
  require CONFIG_ARCH_IBMPC
  provide CONFIG_CPU_CACHE
  provide CONFIG_CPU_NAME=x86
  provide CONFIG_CPU_CACHE CONFIG_CPU_CACHE_COHERENCY
  provide CONFIG_LIBC_STRING_ASM
  provide CONFIG_CPU_RESET_ADDR=0x000ffff0
  provide CONFIG_CPU_RESET_SIZE=0x100
  provide CONFIG_CPU_ENDIAN_LITTLE
  provide CONFIG_HEXO_MMU_PAGESIZE=4096
  provide CONFIG_CPU_NONALIGNED_ACCESS
  parent CONFIG_CPU_META
%config end

%config CONFIG_CPU_X86_ALIGNCHECK
  parent CONFIG_CPU_X86
  desc Enable memory access alignement checking on x86 processors
  default defined
%config end

%config CONFIG_CPU_X86_SYSENTER
  parent CONFIG_CPU_X86
  desc enable sysenter/sysexit instructions for system call fast path
  default defined
%config end

