
%config CONFIG_DRIVER_EFM32_LEUART
  desc Enable EFM32 Low Energy UART driver
  parent CONFIG_ARCH_EFM32
%config end

%config CONFIG_DRIVER_EFM32_LEUART_RATE
  desc Specify EFM32 Low Energy UART default data rate
  parent CONFIG_DRIVER_EFM32_LEUART
  flags value
  default 9600
%config end

%config CONFIG_DRIVER_EFM32_LEUART_CHAR
  desc Enable EFM32 Low Energy UART char driver
  parent CONFIG_DRIVER_EFM32_LEUART
  depend CONFIG_DEVICE_CHAR
  depend CONFIG_DEVICE_IOMUX
  suggest CONFIG_DEVICE_IRQ
  default defined
  provide CONFIG_DEVICE_START_LOG2INC=2
%config end

%config CONFIG_DRIVER_EFM32_LEUART_SWFIFO
  desc Size of the additional software FIFOs. 0 disables software FIFOs.
  parent CONFIG_DRIVER_EFM32_LEUART_CHAR
  flags value
  default 0
%config end

%config CONFIG_DRIVER_EFM32_LEUART_CLOCK
  desc Clock frequency use by the leuart
  parent CONFIG_DRIVER_EFM32_LEUART_PRINTK
  flags value
  default 32768
%config end

%config CONFIG_DRIVER_EFM32_LEUART_PRINTK
  desc Enable EFM32 Low Energy UART printk handler
  parent CONFIG_DRIVER_EFM32_LEUART
  depend CONFIG_MUTEK_PRINTK
  provide CONFIG_MUTEK_PRINTK_HANDLER
  require CONFIG_DRIVER_EFM32_LEUART_PRINTK_PIN
  require CONFIG_DRIVER_EFM32_LEUART_PRINTK_LOC
  require CONFIG_MUTEK_PRINTK_ADDR!=0
  # series 0
  when CONFIG_MUTEK_PRINTK CONFIG_MUTEK_PRINTK_ADDR=0x40084000
  when CONFIG_MUTEK_PRINTK CONFIG_MUTEK_PRINTK_ADDR=0x40084400
  # series 1
  when CONFIG_MUTEK_PRINTK CONFIG_MUTEK_PRINTK_ADDR=0x4004a000
%config end

%config CONFIG_DRIVER_EFM32_LEUART_PRINTK_PIN
  desc Specify EFM32 Low Energy UART pin used for printk TX
  parent CONFIG_DRIVER_EFM32_LEUART_PRINTK
  flags value
%config end

%config CONFIG_DRIVER_EFM32_LEUART_PRINTK_LOC
  desc Specify EFM32 Low Energy UART location for printk
  parent CONFIG_DRIVER_EFM32_LEUART_PRINTK
  flags value
%config end

%init INIT_DRIVER_EFM32_LEUART_PRINTK
  parent CONFIG_DRIVER_EFM32_LEUART_PRINTK
  during INIT_MUTEK_PRINTK
  function efm32_leuart_printk_init
%init end
