
######################################################################
# User definable tokens

%config CONFIG_CPU_MAXCOUNT
desc Maximum CPU count
flags value
default 1
%config end

%config CONFIG_CPU_RESET_HANDLER
desc Whether the kernel has to implement a reset handler, or this kernel
desc is designed to be booted from a bootloader
default defined
require CONFIG_CPU_RESET_ADDR
require CONFIG_CPU_RESET_SIZE
%config end

%config CONFIG_CPU_RESET_ADDR
desc Processor reset vector address
flags value
%config end

%config CONFIG_CPU_RESET_SIZE
desc Processor reset vector size
flags value
%config end

%config CONFIG_CPU_USER
desc Enable processor user privilege level support
default undefined
%config end

######################################################################
# Provided token, not definable by user directly

%config CONFIG_CPU_CACHE
desc Processors uses cache
flags nodefine value
%config end

%config CONFIG_CPU_CACHE_LINE
desc Size of a single cpu cache line in bytes
flags nodefine value
parent CONFIG_CPU_CACHE
%config end

%config CONFIG_CPU_CACHE_COHERENCY
desc Processors supports cache coherency mechanism
flags nodefine value
parent CONFIG_CPU_CACHE
require CONFIG_CPU_CACHE
%config end

%config CONFIG_CPU_EXCEPTION_FIXED_ADDRESS
desc Processor mandatory address exception vectors
flags nodefine value
%config end

%config CONFIG_CPU_EXCEPTION_ALIGN
desc Processor mandatory alignment of exception vectors
flags nodefine value
%config end

%config CONFIG_CPU_ENDIAN_BIG
desc Processor is big endian
flags nodefine value
%config end

%config CONFIG_CPU_ENDIAN_LITTLE
desc Processor is little endian
flags nodefine value
%config end

%config CONFIG_CPU_NONALIGNED_ACCESS
desc Non-aligned memory access are supported by processor without special handling
flags nodefine value
%config end

%config CONFIG_CPU_META
desc	meta configuration token used to impose requirements
flags	mandatory noexport nodefine
default defined value
require	CONFIG_CPU_NAME
single	CONFIG_CPU_X86 CONFIG_CPU_X86_EMU CONFIG_CPU_X86_64_EMU CONFIG_CPU_MIPS CONFIG_CPU_AVR CONFIG_CPU_ARM CONFIG_CPU_PPC
require CONFIG_CPU_ENDIAN_BIG CONFIG_CPU_ENDIAN_LITTLE
require CONFIG_CPU_MAXCOUNT
%config end

%config CONFIG_CPU_SIZEOF_INT
desc Size of int C type in bytes
flags nodefine value
%config end

# Makefile variable

%config CONFIG_CPU_NAME
desc	Processor type name configuration token
flags	nodefine value
%config end

