
%config CONFIG_CPU_CACHE
desc Processors uses cache
default undefined
%config end

%config CONFIG_CPU_CACHE_COHERENCY
desc Processors supports cache coherency mechanism
require CONFIG_CPU_CACHE
default undefined
%config end


######################################################################
#	x86 processors support

%config CONFIG_CPU_X86
desc x86 processors support
default defined
require	CONFIG_ARCH_IBMPC CONFIG_ARCH_EMU
exclude CONFIG_CPU_MIPS
provide CONFIG_CPU_NAME=x86
provide CONFIG_CPU_CACHE
provide CONFIG_CPU_CACHE_COHERENCY
%config end


######################################################################
#	Mips processors support


%config CONFIG_CPU_MIPS
desc MIPS processors support
default undefined
require	CONFIG_ARCH_SOCLIB
require CONFIG_CPU_MIPS_ABI_O32 CONFIG_CPU_MIPS_ABI_O64 CONFIG_CPU_MIPS_ABI_N32 CONFIG_CPU_MIPS_ABI_EABI
require CONFIG_CPU_MIPS_VERSION
exclude CONFIG_CPU_X86
provide CONFIG_CPU_NAME=mips
%config end

%config CONFIG_CPU_MIPS_VERSION
desc Mips processor version (1, 2, 3, 4, 32, 322, 64)
default 1
%config end

%config CONFIG_CPU_MIPS_ABI_O32
desc Mips processor abi is Old 32
exclude CONFIG_CPU_MIPS_ABI_O64 CONFIG_CPU_MIPS_ABI_N32 CONFIG_CPU_MIPS_ABI_EABI
default defined
%config end

%config CONFIG_CPU_MIPS_ABI_O64
desc Mips processor abi is Old 64
exclude CONFIG_CPU_MIPS_ABI_O32 CONFIG_CPU_MIPS_ABI_N32 CONFIG_CPU_MIPS_ABI_EABI
default undefined
%config end

%config CONFIG_CPU_MIPS_ABI_N32
desc Mips processor abi is New 32
exclude CONFIG_CPU_MIPS_ABI_O32 CONFIG_CPU_MIPS_ABI_O64 CONFIG_CPU_MIPS_ABI_N32
default undefined
%config end

%config CONFIG_CPU_MIPS_ABI_EABI
desc Mips processor abi is Ext ABI
exclude CONFIG_CPU_MIPS_ABI_O32 CONFIG_CPU_MIPS_ABI_O64 CONFIG_CPU_MIPS_ABI_N32
default undefined
%config end

######################################################################

%config CONFIG_CPU_META
desc	meta configuration token used to impose requirements
default defined
flags	mandatory noexport nodefine
require	CONFIG_CPU_X86 CONFIG_CPU_MIPS
%config end

# Makefile variable

%config CONFIG_CPU_NAME
desc	makefile variable configuration token
flags	noheader nodefine
%config end

