%config CONFIG_ARCH_PSOC4
  desc Cypress PSoC4 platform support
  module arch Platforms::Cypress PSoC4/PRoC-BLE platform
  depend CONFIG_CPU_ARM32M_CORTEXM0
  provide CONFIG_ARCH_META
  provide CONFIG_ARCH_NAME=psoc4
  single CONFIG_ARCH_PSOC4_PROCBLE CONFIG_ARCH_PSOC4_PSOC CONFIG_ARCH_PSOC4_BLE
%config end

%config CONFIG_ARCH_PSOC4_PROCBLE
  desc PRoC-BLE variant support
  parent CONFIG_ARCH_PSOC4
%config end

%config CONFIG_ARCH_PSOC4_PSOC
  desc Basic PSoC4 variant support
  parent CONFIG_ARCH_PSOC4
%config end

%config CONFIG_ARCH_PSOC4_BLE
  desc PSoC4-BLE variant support
  parent CONFIG_ARCH_PSOC4
%config end

%config CONFIG_PSOC4_RAMSIZE
  desc PSoC4 RAM size
  parent CONFIG_ARCH_PSOC4
  flags value
%config end

%init INIT_PSOC4_POWER
  parent CONFIG_ARCH_PSOC4
  during INIT_BOOTSTRAP
  function psoc4_power_setup
%init end
