%config CONFIG_ARCH_PSOC4
  desc Cypress PSoC4 platform support
  module arch Platforms::Cypress PSoC4/PRoC-BLE platform
  depend CONFIG_CPU_ARM32M_CORTEXM0
  provide CONFIG_ARCH_META
  provide CONFIG_ARCH_NAME=psoc4
%config end

%config CONFIG_PSOC4_RAMSIZE
  desc PSoC4 RAM size
  parent CONFIG_ARCH_PSOC4
  flags value
%config end
