%config CONFIG_ARCH_CC26XX
  desc Ti cc13xx/cc26xx platform support
  module arch Hardware abstraction layer
  depend CONFIG_CPU_ARM32M_CORTEXM3
  provide CONFIG_ARCH_META
  provide CONFIG_ARCH_NAME=cc26xx
%config end

%config CONFIG_CC26XX_RAMSIZE
  desc Ti CC13xx/cc26xx RAM size
  parent CONFIG_ARCH_CC26XX
  flags value
%config end

%config CONFIG_CC26XX_GPIO_COUNT
  desc Ti CC13xx/cc26xx GPIO pin count
  parent CONFIG_ARCH_CC26XX
  flags value
%config end

%init INIT_CC26XX_TI
  parent CONFIG_ARCH_CC26XX
  during INIT_BOOTSTRAP
  after INIT_MEMORY_SECTIONS
  before INIT_MUTEK_PRINTK
  before INIT_DEVICE
  function cc26xx_ti_init
%config end

