
%config CONFIG_UNIX
desc Enable UNIX support
require CONFIG_PTHREAD_STACK_SIZE
depend CONFIG_MUTEK_SCHEDULER
depend CONFIG_HEXO_MMU
require CONFIG_UNIX_STACK_VADDR
require CONFIG_UNIX_START_VADDR
provide CONFIG_MODULES=+libunix:$(CONFIGPATH)
%config end

%config CONFIG_UNIX_STACK_VADDR
parent CONFIG_UNIX
desc Set unix process user stack base address
default 0x80000000
%config end

%config CONFIG_UNIX_START_VADDR
parent CONFIG_UNIX
desc Set unix process user start address
default 0x81000000
%config end

%config CONFIG_UNIX_KSTACK_SIZE
parent CONFIG_UNIX
desc Set unix process kernel stack size
default 4096
%config end

%config CONFIG_UNIX_DEBUG
parent CONFIG_UNIX
desc Set a debugging flag
%config end
