
%module Hexo

%config CONFIG_CPU_PPC
desc PowerPC processors support
default undefined
require	CONFIG_ARCH_SOCLIB
provide CONFIG_CPU_CACHE
provide CONFIG_CPU_NAME=ppc
provide CONFIG_MODULES=+cpu:%CONFIGPATH
provide CONFIG_CPU_RESET_ADDR=0xffffff80
provide CONFIG_CPU_RESET_SIZE=0x80
provide CONFIG_CPU_ENDIAN_BIG
provide CONFIG_COMPILE_SIZEOF_INT=4
provide CONFIG_CPU_EXCEPTION_ALIGN=0x00010000
%config end

