%config CONFIG_DRIVER_ARM_PL080
  desc Enable ARM PL080 DMA device driver
  parent CONFIG_DRIVER
  depend CONFIG_DEVICE_DMA
  depend CONFIG_DEVICE_IRQ
  depend CONFIG_DRIVER_ARM_IDENTIFICATION
%config end

%config CONFIG_DRIVER_ARM_PL080_IRQ_SEPARATE
  desc Have separate IRQ lines for error and completion
  parent CONFIG_DRIVER_ARM_PL080
%config end
