%config CONFIG_DRIVER_CMU_GPIO_POWER_SYNC
  parent CONFIG_DRIVER
  desc GPIO external power provider driver, using synchronous GPIO API
  depend CONFIG_DEVICE_GPIO
  depend CONFIG_DEVICE_CLOCK
%config end

%config CONFIG_DRIVER_CMU_GPIO_POWER_ASYNC
  parent CONFIG_DRIVER
  desc GPIO external power provider driver, using asynchronous GPIO API
  depend CONFIG_DEVICE_GPIO
  depend CONFIG_DEVICE_CLOCK
%config end
