%config CONFIG_DRIVER_CHAR_RTT
  desc Enable RTT-based character device
  parent CONFIG_DRIVER
  depend CONFIG_DRIVER_RTT
  depend CONFIG_DEVICE_CHAR
  depend CONFIG_DEVICE_TIMER
  depend CONFIG_MUTEK_KROUTINE_SCHED_SWITCH
%config end

%config CONFIG_DRIVER_CHAR_RTT_TX_BUFFER_SIZE
  desc Size of TX buffer size
  parent CONFIG_DRIVER_CHAR_RTT
  flags value
  default 64
%config end

%config CONFIG_DRIVER_CHAR_RTT_RX_BUFFER_SIZE
  desc Size of RX buffer size
  parent CONFIG_DRIVER_CHAR_RTT
  flags value
  default 16
%config end

%config CONFIG_DRIVER_CHAR_RTT_CHANNEL_COUNT
  desc RTT character device channel count
  parent CONFIG_DRIVER_CHAR_RTT
  flags value
  provide CONFIG_DRIVER_RTT_BIDIR_CHANNEL
  default 1
%config end
