
%config CONFIG_DRIVER_ENUM_FDT
  desc Provide support for device enumeration from a Flat Device Tree
  flags auto
  depend CONFIG_DEVICE_ENUM
  depend CONFIG_LIBFDT
  depend CONFIG_DEVICE_TREE
  parent CONFIG_DRIVER
%config end

%config CONFIG_DRIVER_ENUM_FDT_MAX_RESOURCES
  parent CONFIG_DRIVER_ENUM_FDT
  desc Defines maximum number of resource slots per FDT enumerated device
  flags value
  default 40
%config end

%config CONFIG_DRIVER_ENUM_FDT_MAX_DEPTH
  parent CONFIG_DRIVER_ENUM_FDT
  desc Defines maximum number of FDT tree nested levels
  flags value
  default 4
%config end
