%config CONFIG_DRIVER_CHAR_USBDEV
  parent CONFIG_DRIVER
  depend CONFIG_DEVICE_CHAR
  depend CONFIG_DEVICE_USBDEV
  desc Enable USB related char device drivers
  when CONFIG_DRIVER_CHAR_USBDEV_ACM
  when CONFIG_DRIVER_CHAR_USBDEV_SERIAL
%config end

%config CONFIG_DRIVER_CHAR_USBDEV_ACM
  parent CONFIG_DRIVER_CHAR_USBDEV
  flags auto
  desc Enable USB CDC ACM char device driver
%config end

%config CONFIG_DRIVER_CHAR_USBDEV_SERIAL
  parent CONFIG_DRIVER_CHAR_USBDEV
  flags auto
  desc Enable USB serial char device driver
%config end
