%config CONFIG_DRIVER_ADXL345
  parent CONFIG_DRIVER
  desc Enable ADXL345 accelerometer Valio driver
  depend CONFIG_DEVICE_VALIO_MOTION
  depend CONFIG_DEVICE_I2C
%config end

%config CONFIG_DRIVER_KXTJ3
  parent CONFIG_DRIVER
  desc Enable KXTJ3-1057 accelerometer Valio driver
  depend CONFIG_DEVICE_VALIO_MOTION_SENSOR
  depend CONFIG_DEVICE_I2C
  depend CONFIG_DEVICE_I2C_BYTECODE
  depend CONFIG_DEVICE_I2C_BYTECODE_TIMER
  depend CONFIG_DEVICE_INIT_ASYNC
%config end
