
%config CONFIG_DRIVER_MEM_SPI_FLASH
  desc Enable driver for flashs and eeproms on SPI bus
  parent CONFIG_DRIVER
  depend CONFIG_DEVICE_MEM
  depend CONFIG_DEVICE_SPI
  depend CONFIG_DEVICE_SPI_BYTECODE
  depend CONFIG_DEVICE_SPI_BYTECODE_TIMER
  depend CONFIG_DEVICE_INIT_ASYNC
  depend CONFIG_DEVICE_SLEEP
%config end

