%config CONFIG_DRIVER_HTS221
  desc Enable HTS221 Temperature/Humidity Sensor Valio driver
  parent CONFIG_DRIVER
  depend CONFIG_DEVICE_I2C
  depend CONFIG_DEVICE_I2C_BYTECODE
  depend CONFIG_DEVICE_I2C_BYTECODE_TIMER
  depend CONFIG_DEVICE_INIT_ASYNC
  depend CONFIG_DEVICE_VALIO_TEMPERATURE
  depend CONFIG_DEVICE_VALIO_HUMIDITY
%config end
