
%config CONFIG_DRIVER_PIC32_GPIO
  desc Enable PIC32 GPIO driver
  parent CONFIG_ARCH_PIC32
  depend CONFIG_DEVICE_IOMUX
  depend CONFIG_DEVICE_GPIO
%config end

%config CONFIG_DRIVER_PIC32_GPIO_ICU
  desc Enable use of the PIC32 GPIO as an irq controller
  parent CONFIG_DRIVER_PIC32_GPIO
  depend CONFIG_DEVICE_IRQ
  depend CONFIG_DEVICE_ICU
  default undefined
%config end

%config CONFIG_DRIVER_PIC32_GPIO_IRQ_COUNT
  parent CONFIG_DRIVER_PIC32_GPIO_ICU
  desc Specify the number of supported input interrupt lines.
  default 160
  flags value
%config end

