%config CONFIG_DRIVER_MPU650X
  parent CONFIG_DRIVER
  desc Enable MPU650x motion sensor Valio driver
  flags auto
  depend CONFIG_DEVICE_VALIO_MOTION_SENSOR
  depend CONFIG_MUTEK_KROUTINE_SCHED
  depend CONFIG_DEVICE_GPIO
  single CONFIG_DRIVER_MPU650X_I2C CONFIG_DRIVER_MPU650X_SPI
  depend CONFIG_DEVICE_SLEEP
%config end

%config CONFIG_DRIVER_MPU650X_POWERGATE
  desc Enable Mpu650x power gating
  parent CONFIG_DRIVER_MPU650X
  depend CONFIG_DEVICE_CLOCK_GATING
%config end

%config CONFIG_DRIVER_MPU650X_6050MODE
  desc Enable Mpu650x 6050-emulation mode
  parent CONFIG_DRIVER_MPU650X
%config end

%config CONFIG_DRIVER_MPU650X_I2C
  desc Enable Mpu650x I2C transport
  parent CONFIG_DRIVER_MPU650X
  depend CONFIG_DEVICE_I2C
  depend CONFIG_DEVICE_I2C_BYTECODE
  depend CONFIG_DEVICE_I2C_BYTECODE_TIMER
%config end

%config CONFIG_DRIVER_MPU650X_SPI
  desc Enable Mpu650x SPI transport
  parent CONFIG_DRIVER_MPU650X
  depend CONFIG_DEVICE_SPI
  depend CONFIG_DEVICE_SPI_BYTECODE
  depend CONFIG_DEVICE_SPI_BYTECODE_TIMER
%config end
