
%config CONFIG_ARCH_BCM2835
  desc BCM2835 platform support
  module arch Hardware abstraction layer
  provide CONFIG_ARCH_META
  provide CONFIG_ARCH_NAME=bcm2835
  exclude CONFIG_ARCH_SMP CONFIG_ARCH_CLUSTER
%config end

%config CONFIG_ARCH_BCM2835_BOARD
  desc BCM2835 board name
  parent CONFIG_ARCH_BCM2835
  default none
  flags value
%config end

%init INIT_BCM2835_MEM_ALLOC
  parent CONFIG_ARCH_BCM2835
  during INIT_MUTEK_MEMALLOC
  function bcm2835_mem_init
%init end

%config CONFIG_BCM2835_PRINTK_UART
  desc Raspberry early console output uses an UART device
  parent CONFIG_ARCH_BCM2835
  provide CONFIG_MUTEK_PRINTK_HANDLER
%config end

%init INIT_BCM2835_PRINTK_UART
  parent CONFIG_BCM2835_PRINTK_UART
  during INIT_MUTEK_PRINTK
  function bcm2835_early_console_init
%init end

