
%config CONFIG_ARCH_BCM283X
  desc BCM283X platform support
  module arch Platforms::BCM283X Raspberry Pi
  provide CONFIG_ARCH_META
  provide CONFIG_ARCH_NAME=bcm283x
  exclude CONFIG_ARCH_SMP CONFIG_ARCH_CLUSTER
%config end

%config CONFIG_ARCH_BCM283X_BOARD
  desc BCM283X board name
  parent CONFIG_ARCH_BCM283X
  default none
  flags value
%config end

%init INIT_BCM283X_MEM_ALLOC
  parent CONFIG_ARCH_BCM283X
  during INIT_MUTEK_MEMALLOC
  function bcm283x_mem_init
%init end

%config CONFIG_BCM283X_PRINTK_UART
  desc Raspberry early console output uses an UART device
  parent CONFIG_ARCH_BCM283X
  provide CONFIG_MUTEK_PRINTK_HANDLER
  depend CONFIG_MUTEK_PRINTK
  require CONFIG_MUTEK_PRINTK_ADDR!=0
%config end

%init INIT_BCM283X_PRINTK_UART
  parent CONFIG_BCM283X_PRINTK_UART
  during INIT_MUTEK_PRINTK
  function bcm283x_printk_init
%init end

