%config CONFIG_DRIVER_ARM_PL022_SPI
  desc Enable ARM PrimeCell PL022 SPI device driver
  parent CONFIG_DRIVER
  depend CONFIG_DEVICE_SPI
  depend CONFIG_DEVICE_IRQ
  depend CONFIG_DRIVER_ARM_IDENTIFICATION
%config end

%config CONFIG_DRIVER_ARM_PL022_DMA
  desc Enable PL022 DMA support
  parent CONFIG_DRIVER_ARM_PL022_SPI
  depend CONFIG_DEVICE_DMA
%config end
