
%module Virtual File System

%config CONFIG_VFS
desc Enable virtual file system support
provide CONFIG_MODULES=+libvfs:$(CONFIGPATH)
require CONFIG_VFS_NAMELEN
%config end

%config CONFIG_VFS_NAMELEN
parent CONFIG_VFS
default 32
desc Maximum file name length supported
%config end

%config CONFIG_VFS_VERBOSE
parent CONFIG_VFS
desc Print some vfs debugging informations
%config end
