
%config CONFIG_DRIVER_RFPACKET_SX127X
  desc Enable Semtech SX127X radio frequency driver
  parent CONFIG_DRIVER
  depend CONFIG_DEVICE_RFPACKET
  depend CONFIG_DEVICE_IRQ
  depend CONFIG_DEVICE_SPI
  depend CONFIG_DEVICE_SPI_BYTECODE
  depend CONFIG_DEVICE_SPI_BYTECODE_TIMER
  depend CONFIG_DEVICE_SPI_BYTECODE_GPIO
  depend CONFIG_DEVICE_INIT_ASYNC
  require CONFIG_DRIVER_RFPACKET_SX127X_SPI_BITRATE<=10000000
%config end

%config CONFIG_DRIVER_RFPACKET_SX127X_FREQ_XO
  desc SX127X XO frequency
  parent CONFIG_DRIVER_RFPACKET_SX127X
  default 32000000U
  flags value
%config end

%config CONFIG_DRIVER_RFPACKET_SX127X_MOD_LORA
  desc SX127X lora support
  parent CONFIG_DRIVER_RFPACKET_SX127X
  default undefined
%config end

%config CONFIG_DRIVER_RFPACKET_SX127X_SPI_BITRATE
  desc SX127X spi clock speed
  parent CONFIG_DRIVER_RFPACKET_SX127X
  default 1000000
  flags value
%config end

%config CONFIG_DRIVER_RFPACKET_SX127X_PABOOST
  desc Enable use of PA-BOOST when hardware supports it
  parent CONFIG_DRIVER_RFPACKET_SX127X
%config end

%config CONFIG_DRIVER_RFPACKET_SX127X_CACHE_SIZE
  desc Defines the depth of the configuration cache
  parent CONFIG_DRIVER_RFPACKET_SX127X
  flags value
  default 0
%config end

%config CONFIG_DRIVER_RFPACKET_SX127X_PACKET_MTU
  desc Defines the MTU of a packet
  parent CONFIG_DRIVER_RFPACKET_SX127X
  flags value
  default 256
%config end

%config CONFIG_DRIVER_CRYPTO_SX127X_RNG
  desc Enable random number generator
  parent CONFIG_DRIVER_RFPACKET_SX127X
  depend CONFIG_DEVICE_CRYPTO
%config end

%config CONFIG_DRIVER_CRYPTO_SX127X_RNG_SIZE
  desc Defines the size of the internal RNG buffer
  parent CONFIG_DRIVER_CRYPTO_SX127X_RNG
  flags value
  default 32
%config end
