
%config CONFIG_DRIVER_STM32_USART
  desc Driver for USART on STM32F4xx boards.
  parent CONFIG_ARCH_STM32
  depend CONFIG_DEVICE_CHAR
  depend CONFIG_DEVICE_IOMUX
  suggest CONFIG_DEVICE_IRQ
%config end

%config CONFIG_DRIVER_STM32_USART_SWFIFO
  desc Depth of USART software FIFO (0 disable the FIFO).
  parent CONFIG_DRIVER_STM32_USART
  flags value
  default 0
%config end

