
%config CONFIG_DRIVER_CRYPTO_SOFT_SALSA
  desc Enable software implementation of the Salsa family of stream ciphers
  parent CONFIG_DRIVER
  depend CONFIG_DEVICE_CRYPTO
  suggest CONFIG_DEVICE_DELAYED_REQUEST
%config end

%config CONFIG_DRIVER_CRYPTO_SOFT_SALSA_STREAM
  desc Enable support for stream cipher mode of operation
  parent CONFIG_DRIVER_CRYPTO_SOFT_SALSA
  default defined
%config end

%config CONFIG_DRIVER_CRYPTO_SOFT_SALSA_RANDOM
  desc Enable support for pseudo random generator mode of operation
  parent CONFIG_DRIVER_CRYPTO_SOFT_SALSA
  default defined
%config end

%config CONFIG_DRIVER_CRYPTO_SOFT_SALSA20
  desc Enable software implementation of the Salsa20 cipher
  parent CONFIG_DRIVER_CRYPTO_SOFT_SALSA
  default defined
%config end

%config CONFIG_DRIVER_CRYPTO_SOFT_CHACHA20
  desc Enable software implementation of the Cahcha20 cipher
  parent CONFIG_DRIVER_CRYPTO_SOFT_SALSA
  default defined
%config end

