
%config CONFIG_DRIVER_CRYPTO_SOFT_AES
  desc Enable software implementation of the AES cipher
  parent CONFIG_DRIVER
  depend CONFIG_DEVICE_CRYPTO
  suggest CONFIG_DEVICE_DELAYED_REQUEST
%config end

%config CONFIG_DRIVER_CRYPTO_SOFT_AES192
  desc Enable use of 192 bits keys
  parent CONFIG_DRIVER_CRYPTO_SOFT_AES
  default defined
%config end

%config CONFIG_DRIVER_CRYPTO_SOFT_AES256
  desc Enable use of 256 bits keys
  parent CONFIG_DRIVER_CRYPTO_SOFT_AES
  default defined
%config end

%config CONFIG_DRIVER_CRYPTO_SOFT_AES_ECB
  desc Enable AES ECB mode
  parent CONFIG_DRIVER_CRYPTO_SOFT_AES
  default defined
%config end

%config CONFIG_DRIVER_CRYPTO_SOFT_AES_CBC
  desc Enable AEC CBC mode
  parent CONFIG_DRIVER_CRYPTO_SOFT_AES
  default defined
%config end

%config CONFIG_DRIVER_CRYPTO_SOFT_AES_CTR
  desc Enable AES CTR mode
  parent CONFIG_DRIVER_CRYPTO_SOFT_AES
  default defined
%config end

%config CONFIG_DRIVER_CRYPTO_SOFT_AES_OCB3
  desc Enable AES OCB3 mode as specified in RFC7253
  parent CONFIG_DRIVER_CRYPTO_SOFT_AES
  default defined
%config end

%config CONFIG_DRIVER_CRYPTO_SOFT_AES_OCB3_MAXBLOCKS
  desc Specifies the maximum number of blocks processed in OCB mode
  parent CONFIG_DRIVER_CRYPTO_SOFT_AES
  default 15
  flags value
%config end

%config CONFIG_DRIVER_CRYPTO_SOFT_AES_AD
  desc Handle assocaited data with authenticated modes
  parent CONFIG_DRIVER_CRYPTO_SOFT_AES
  default defined
%config end

%config CONFIG_DRIVER_CRYPTO_SOFT_AES_CTXCOUNT
  desc Specifies the number of cached crypto contexts
  parent CONFIG_DRIVER_CRYPTO_SOFT_AES
  default 1
  flags value
%config end

