%config CONFIG_DRIVER_HD44780
  desc Enable HD44780 LCD character device driver
  parent CONFIG_DRIVER
  depend CONFIG_MUTEK_BYTECODE
  depend CONFIG_DEVICE_CHAR
  depend CONFIG_DEVICE_GPIO
  depend CONFIG_DEVICE_TIMER
%config end

%config CONFIG_DRIVER_HD44780_TERM
  desc Implement basic terminal control
  parent CONFIG_DRIVER_HD44780
%config end

%config CONFIG_DRIVER_HD44780_4BIT
  desc Use a 4-bit interface to HD44780
  parent CONFIG_DRIVER_HD44780
%config end

%config CONFIG_DRIVER_HD44780_4BIT_SWAPPED
  desc Use a swapped 4-bit interface to HD44780
  parent CONFIG_DRIVER_HD44780_4BIT
%config end
