
%config CONFIG_DEMO_TINYGL_META
	desc Meta configuration token for choosing demo to run
	flags mandatory internal root
	require CONFIG_DEMO_TINYGL_NAME
	single CONFIG_DEMO_TINYGL_GEARS CONFIG_DEMO_TINYGL_SPIN
%config end

%config CONFIG_DEMO_TINYGL_NAME
	desc Application name token
	parent CONFIG_DEMO_TINYGL_META
	flags internal value
%config end

%config CONFIG_DEMO_TINYGL_GEARS
	desc TinyGL demo app: Gears
	parent CONFIG_DEMO_TINYGL_META
	provide CONFIG_DEMO_TINYGL_NAME=gears
%config end

%config CONFIG_DEMO_TINYGL_SPIN
	desc TinyGL demo app: Spin
	parent CONFIG_DEMO_TINYGL_META
	provide CONFIG_DEMO_TINYGL_NAME=spin
%config end

