%config CONFIG_ARCH_REALVIEW_EB
  desc Realview EB platform support
  module arch Platforms::Realview EB
  provide CONFIG_ARCH_META
  provide CONFIG_ARCH_NAME=realview_eb
  exclude CONFIG_ARCH_CLUSTER CONFIG_ARCH_SMP_CAPABLE
%config end

%config CONFIG_REALVIEW_EB_PRINTK_UART
  desc Realview EB early console output uses an UART device
  parent CONFIG_ARCH_REALVIEW_EB
  provide CONFIG_MUTEK_PRINTK_HANDLER
  depend CONFIG_MUTEK_PRINTK
  require CONFIG_MUTEK_PRINTK_ADDR!=0
%config end

%init INIT_REALVIEW_EB_PRINTK_UART
  parent CONFIG_REALVIEW_EB_PRINTK_UART
  during INIT_MUTEK_PRINTK
  function realview_eb_printk_init
%init end

