
%config CONFIG_LIBRTLD
desc Enable runtime Loader library
provide CONFIG_MODULES=+librtld:%CONFIGPATH
provide CONFIG_LICENSE_USE_GPL
%config end

%config CONFIG_LIBRTLD_PAGE_SIZE
desc Page size for allocator
parent CONFIG_LIBRTLD
default 4096
%config end

%config CONFIG_LIBRTLD_DEBUG
desc Enable RTLD lib debug information
parent CONFIG_LIBRTLD
default undefined
%config end

%config CONFIG_RTLD_VFSNAME_HACK
desc Convert pathnames into uppershort names
parent CONFIG_LIBRTLD
default defined
%config end
