%config CONFIG_DEVICE
  desc MutekH device handling code
  module device
  flags auto
%config end

# Initialization

%init INIT_DEVICE
  parent CONFIG_DEVICE
  desc Discover and init hardware
  during INIT_BOOTSTRAP
  after INIT_MEMORY
%init end

%init INIT_DEVICE_EARLY_DRIVERS
  parent CONFIG_DEVICE
  desc Try to find available drivers and initialize all registered devices
  during INIT_DEVICE
  after INIT_DEVICE_ENUM
  function libdevice_drivers_init0
%init end

%init INIT_DEVICE_CPU_REGS
  parent CONFIG_DEVICE
  desc Let processor driver initialize processor registers
  during INIT_CPUS
  function libdevice_cpu_regs_initsmp
%init end

%init INIT_DEVICE_OTHER_DRIVERS
  parent CONFIG_DEVICE
  desc Try to find available drivers and initialize all registered devices
  during INIT_SMP
  after INIT_CPUS
  after INIT_HEXO_MAIN_CONTEXT
  after INIT_MUTEK_SCHEDULER_INIT
  function libdevice_drivers_init1
%init end

# IRQ support

%config CONFIG_DEVICE_IRQ
  parent CONFIG_DEVICE
  desc Enable device IRQ support
  depend CONFIG_HEXO_IRQ
  flags auto
%config end

%config CONFIG_DEVICE_IRQ_BYPASS
  parent CONFIG_DEVICE_IRQ
  desc Enable use of irq bypass end-point. This will improve interrupt latency on some systems.
  flags auto
%config end

%config CONFIG_DEVICE_IRQ_SHARING
  parent CONFIG_DEVICE_IRQ
  desc Enable linking multiple irq src end-points to a single sink end-point.
  flags auto
%config end

%config CONFIG_DEVICE_IRQ_MULTI_SINK
  parent CONFIG_DEVICE_IRQ
  desc Enable linking a single src end-point to multiple sink end-points.
  flags auto
%config end

%config CONFIG_DEVICE_IRQ_MAX_ROUTES
  parent CONFIG_DEVICE_IRQ
  desc Specify the width of the irq routing bit mask
  flags value maxval
  default 8
%config end

%config CONFIG_DEVICE_IRQ_MAX_OUTPUT_ID
  parent CONFIG_DEVICE_IRQ
  desc Specify the log2 of the maximum output id of an irq link
  flags value maxval
  default 5
%config end

%config CONFIG_DEVICE_IRQ_MAX_INPUT_ID
  parent CONFIG_DEVICE_IRQ
  desc Specify the log2 of the maximum intput id of an irq link
  flags value maxval
  default 11
%config end

%config CONFIG_DEVICE_IRQ_MAX_LOGICAL_ID
  parent CONFIG_DEVICE_IRQ
  desc Specify the log2 of the maximum logical id of an irq
  flags value maxval
  default 16
%config end

# Features

%config CONFIG_DEVICE_USE_BITS
  parent CONFIG_DEVICE
  desc Specify the number of bits available in device use counter and start counter
  default 7
  flags value
%config end

%config CONFIG_DEVICE_START_LOG2INC
  parent CONFIG_DEVICE
  desc Specify the log2 of the device start counter increment.
  desc This can be used to reserve some lower bits of the counter as driver specific start flags.
  flags value maxval internal
  default 0
%config end

%config CONFIG_DEVICE_TREE
  parent CONFIG_DEVICE
  desc Enable devices to be enumerated dynamically and stored in a tree.
  desc When this is disabled, a static device table is used instead.
  default defined
%config end

%init INIT_DEVICE_TREE
  parent CONFIG_DEVICE_TREE
  desc Initialize the device tree and attach statically defined devices
  during INIT_DEVICE
  function device_tree_init
%init end

%config CONFIG_DEVICE_ADDRESS_SPACES
  parent CONFIG_DEVICE
  desc Support platforms with multiple address spaces.
  flags auto
%config end

%config CONFIG_DEVICE_DELAYED_REQUEST
  parent CONFIG_DEVICE
  desc .
  flags auto
  depend CONFIG_MUTEK_KROUTINE_SCHED
  depend CONFIG_HEXO_IRQ
%config end

%config CONFIG_DEVICE_CUSTOM_CLASS_COUNT
  desc MutekH device handling code
  parent CONFIG_DEVICE
  flags enum
  default 128
%config end

%config CONFIG_DEVICE_SHELL
  parent CONFIG_DEVICE
  depend CONFIG_MUTEK_SHELL
  when CONFIG_MUTEK_SHELL
  desc Enable device related commands in the shell
%config end

%config CONFIG_DEVICE_SHELL_I2C_TRANSFER_MAX
  parent CONFIG_DEVICE_SHELL
  desc Define the number of maximum transfers sent from shell
  flags value
  default 16
%config end

%config CONFIG_DEVICE_DRIVER_REGISTRY
  parent CONFIG_DEVICE
  desc Keep a table of available device drivers
  default defined
%config end

%config CONFIG_DEVICE_DRIVER_DESC
  desc Include description field in driver
  parent CONFIG_DEVICE
  default defined
%config end

%config CONFIG_DEVICE_DRIVER_CLEANUP
  desc Include cleanup function in driver
  parent CONFIG_DEVICE
  default defined
%config end

%config CONFIG_DEVICE_RESOURCE_ALLOC
  desc Enable dynamic extension of device resources list
  parent CONFIG_DEVICE
  when CONFIG_DEVICE_TREE
%config end

# Built-in classes

%config CONFIG_DEVICE_BLOCK
  parent CONFIG_DEVICE
  flags auto
  desc Enable block device support
%config end

%config CONFIG_DEVICE_CHAR
  parent CONFIG_DEVICE
  flags auto
  desc Enable character devices support
%config end

%config CONFIG_DEVICE_ENUM
  parent CONFIG_DEVICE
  depend CONFIG_DEVICE_TREE
  depend CONFIG_DEVICE_DRIVER_REGISTRY
  flags auto
  desc Enable enumerator device support
%config end

%init INIT_DEVICE_ENUM
  parent CONFIG_DEVICE
  desc Enumeration of processors and devices by arch/ specific code
  during INIT_DEVICE
  after INIT_DEVICE_TREE
%init end

%config CONFIG_DEVICE_FB
  parent CONFIG_DEVICE
  flags auto
  desc Enable frame buffer device support
%config end

%config CONFIG_DEVICE_ICU
  parent CONFIG_DEVICE
  depend CONFIG_DEVICE_IRQ
  flags auto
  desc Enable interrupts controller device support
%config end

%config CONFIG_DEVICE_DMA
  parent CONFIG_DEVICE
  flags auto
  desc Enable DMA devices support
%config end

%config CONFIG_DEVICE_DMA_DOUBLE_BUFFERING
  parent CONFIG_DEVICE_DMA
  flags auto
  desc Enable DMA double buffering support
%config end

%config CONFIG_DEVICE_INPUT
  parent CONFIG_DEVICE
  flags auto
  desc Enable input event device support
%config end

%config CONFIG_DEVICE_NET
  parent CONFIG_DEVICE
  flags auto
  desc Enable network adapter devices support
%config end

%config CONFIG_DEVICE_SOUND
  parent CONFIG_DEVICE
  flags auto
  desc Enable sound device support
%config end

%config CONFIG_DEVICE_TIMER
  parent CONFIG_DEVICE
  flags auto
  desc Enable timer devices support
%config end

%config CONFIG_DEVICE_PWM
  parent CONFIG_DEVICE
  flags auto
  desc Enable PWM devices support
%config end

%config CONFIG_DEVICE_SPI
  parent CONFIG_DEVICE
  flags auto
  desc Enable SPI device support
%config end

%config CONFIG_DEVICE_SPI_REQUEST
  parent CONFIG_DEVICE_SPI
  depend CONFIG_MUTEK_BYTECODE
  depend CONFIG_MUTEK_KROUTINE_TRIGGER
  flags auto
  desc Enable SPI device requests scheduler
%config end

%config CONFIG_DEVICE_SPI_REQUEST_TIMER
  parent CONFIG_DEVICE_SPI_REQUEST
  depend CONFIG_DEVICE_TIMER
  flags auto
  desc Enable SPI device requests scheduler time handling
%config end

%config CONFIG_DEVICE_SPI_REQUEST_GPIO
  parent CONFIG_DEVICE_SPI_REQUEST
  depend CONFIG_DEVICE_GPIO
  flags auto
  desc Enable SPI device requests gpio based instructions and chip select
%config end

%config CONFIG_DEVICE_LCD
  parent CONFIG_DEVICE
  flags auto
  desc Enable LCD device support
%config end

%config CONFIG_DEVICE_CLOCK
  parent CONFIG_DEVICE
  flags auto
  desc Enable clock management support
%config end

%config CONFIG_DEVICE_CLOCK_MAX_ID
  parent CONFIG_DEVICE_CLOCK
  desc Specify the log 2 of the maximum node id
  flags value maxval
  default 6
%config end

%config CONFIG_DEVICE_CLOCK_MAX_CONFIG
  parent CONFIG_DEVICE_CLOCK
  desc Specify the maximum number of clock configurations (= bit width of the mask)
  flags value maxval
  default 6
%config end

%config CONFIG_DEVICE_CLOCK_FRAC_WIDTH
  parent CONFIG_DEVICE_CLOCK
  desc Specify the number of bits used to store numerator and denominator of frequency ratios.
  flags value maxval
  default 16
%config end

%config CONFIG_DEVICE_CLOCK_OSCN_WIDTH
  parent CONFIG_DEVICE_CLOCK
  desc Specify the number of bits used to store numerator of frequency values.
  flags value maxval
  default 36
%config end

%config CONFIG_DEVICE_CLOCK_OSCD_WIDTH
  parent CONFIG_DEVICE_CLOCK
  desc Specify the number of bits used to store numerator of frequency values.
  flags value maxval
  default 4
%config end

%config CONFIG_DEVICE_GPIO
  parent CONFIG_DEVICE
  flags auto
  desc Enable GPIO device support
%config end

%config CONFIG_DEVICE_GPIO_MAX_ID
  parent CONFIG_DEVICE_GPIO
  desc Specify the log2 of the maximum gpio pin id
  flags value maxval
  default 10
%config end

%config CONFIG_DEVICE_GPIO_MAX_WIDTH
  parent CONFIG_DEVICE_GPIO
  desc Specify the log2 of the maximum gpio pin range size
  flags value maxval
  default 10
%config end

%config CONFIG_DEVICE_IOMUX
  parent CONFIG_DEVICE
  flags auto
  desc Enable IO pin muxing support
%config end

%config CONFIG_DEVICE_IOMUX_MAX_DEMUX
  parent CONFIG_DEVICE_IOMUX
  desc Specify the log2 of the maximum IO demux selector value
  flags value maxval
  default 10
%config end

%config CONFIG_DEVICE_IOMUX_MAX_ID
  parent CONFIG_DEVICE_IOMUX
  desc Specify the log2 of the maximum IO id
  flags value maxval
  default 10
%config end

%config CONFIG_DEVICE_IOMUX_MAX_MUX
  parent CONFIG_DEVICE_IOMUX
  desc Specify the log2 of the maximum IO mux selector value
  flags value maxval
  default 10
%config end

%config CONFIG_DEVICE_IOMUX_MAX_CONFIG
  parent CONFIG_DEVICE_IOMUX
  desc Specify the number of bits of the IO controller specific configuration value
  flags value maxval
  default 12
%config end

%config CONFIG_DEVICE_UART
  parent CONFIG_DEVICE
  flags auto
  desc Enable UART device support
%config end

%config CONFIG_DEVICE_I2C
  parent CONFIG_DEVICE
  flags auto
  desc Enable I2C device support
%config end

%config CONFIG_DEVICE_MEM
  parent CONFIG_DEVICE
  flags auto
  desc Enable memory device support
%config end

%config CONFIG_DEVICE_RFPACKET
  parent CONFIG_DEVICE
  flags auto
  desc Enable packet based RF transceiver devices support
%config end

%config CONFIG_DEVICE_CRYPTO
  parent CONFIG_DEVICE
  flags auto
  desc Enable crypto devices support
%config end

%config CONFIG_DEVICE_CPU
  parent CONFIG_DEVICE
  flags auto
  desc Enable processors devices support
%config end

%config CONFIG_DEVICE_VALIO
  parent CONFIG_DEVICE
  flags auto
  desc Enable attribute devices support
%config end

%config CONFIG_DEVICE_PERSIST
  parent CONFIG_DEVICE
  flags auto
  desc Enable persistent storage support
%config end
