
%config CONFIG_DEVICE
  desc MutekH device handling code
  module device
  flags auto
%config end

%config CONFIG_DEVICE_TREE
  parent CONFIG_DEVICE
  desc Have all device nodes sorted in a tree
  default defined
%config end

%config CONFIG_DEVICE_IRQ
  parent CONFIG_DEVICE
  desc Enable device IRQ support
  depend CONFIG_HEXO_IRQ
  flags auto
%config end

%config CONFIG_DEVICE_IRQ_BYPASS
  parent CONFIG_DEVICE_IRQ
  desc Enable use of irq bypass end-point. This will improve interrupt latency on some systems.
  flags auto
%config end

%config CONFIG_DEVICE_CPU
  parent CONFIG_DEVICE
  flags auto
  desc Enable processors devices support
%config end

%config CONFIG_DEVICE_CHAR
  parent CONFIG_DEVICE
  flags auto
  desc Enable character devices support
%config end

%config CONFIG_DEVICE_DMA
  parent CONFIG_DEVICE
  flags auto
  desc Enable DMA devices support
%config end

%config CONFIG_DEVICE_NET
  parent CONFIG_DEVICE
  flags auto
  desc Enable network adapter devices support
%config end

%config CONFIG_DEVICE_TIMER
  parent CONFIG_DEVICE
  flags auto
  desc Enable timer devices support
%config end

%config CONFIG_DEVICE_TIMER_DEFAULT_FREQ
  parent CONFIG_DEVICE_TIMER
  flags value
  desc This specifies the default timer input frequency.
  desc This value is used as default value for time unit conversion operations
  desc when a timer has no frequency resource entry in the device tree.
  default 1000000
%config end

%config CONFIG_DEVICE_ICU
  parent CONFIG_DEVICE
  depend CONFIG_DEVICE_IRQ
  flags auto
  desc Enable interrupts controller device support
%config end

%config CONFIG_DEVICE_FB
  parent CONFIG_DEVICE
  flags auto
  desc Enable frame buffer device support
%config end

%config CONFIG_DEVICE_INPUT
  parent CONFIG_DEVICE
  flags auto
  desc Enable input event device support
%config end

%config CONFIG_DEVICE_SOUND
  parent CONFIG_DEVICE
  flags auto
  desc Enable sound device support
%config end

%config CONFIG_DEVICE_BLOCK
  parent CONFIG_DEVICE
  flags auto
  desc Enable block device support
%config end

%config CONFIG_DEVICE_SPI
  parent CONFIG_DEVICE
  flags auto
  desc Enable SPI device support
%config end

%config CONFIG_DEVICE_ENUM
  parent CONFIG_DEVICE
  depend CONFIG_DEVICE_TREE
  flags auto
  desc Enable enumerator device support
%config end

%config CONFIG_DEVICE_LCD
  parent CONFIG_DEVICE
  flags auto
  desc Enable LCD device support
%config end

%config CONFIG_DEVICE_GPIO
  parent CONFIG_DEVICE
  flags auto
  desc Enable GPIO device support
%config end

%config CONFIG_DEVICE_I2C
  parent CONFIG_DEVICE
  flags auto
  desc Enable I2C device support
%config end

%config CONFIG_DEVICE_MEM
  parent CONFIG_DEVICE
  flags auto
  desc Enable memory device support
%config end

