
%config CONFIG_DEVICE
  desc MutekH device handling code
  module device
  flags auto
%config end

%init INIT_DEVICE
  parent CONFIG_DEVICE
  desc Discover and init hardware
  during INIT_BOOTSTRAP
  after INIT_MEMORY
%init end

%init INIT_DEVICE_TREE
  parent CONFIG_DEVICE
  desc Initialize device tree
  during INIT_DEVICE
  function device_tree_init
%init end

%init INIT_DEVICE_ENUM
  parent CONFIG_DEVICE
  desc Enumeration of processors and devices by arch/ specific code
  during INIT_DEVICE
  after INIT_DEVICE_TREE
%init end

%init INIT_DEVICE_DRIVERS 
  parent CONFIG_DEVICE
  desc Attach available drivers to devices in tree and initialize devices
  during INIT_DEVICE
  after INIT_DEVICE_ENUM
  function libdevice_drivers_init
%init end

%init INIT_DEVICE_CPU_REGS
  parent CONFIG_DEVICE
  desc Let processor driver initialize processor registers
  during INIT_CPUS
  function libdevice_cpu_regs_initsmp
%init end

%config CONFIG_DEVICE_TREE
  parent CONFIG_DEVICE
  desc Have all device nodes sorted in a tree
  default defined
%config end

%config CONFIG_DEVICE_IRQ
  parent CONFIG_DEVICE
  desc Enable device IRQ support
  depend CONFIG_HEXO_IRQ
  flags auto
%config end

%config CONFIG_DEVICE_IRQ_BYPASS
  parent CONFIG_DEVICE_IRQ
  desc Enable use of irq bypass end-point. This will improve interrupt latency on some systems.
  flags auto
%config end

%config CONFIG_DEVICE_IRQ_MAX_OUTPUT_ID
  parent CONFIG_DEVICE_IRQ
  desc Specify the log2 of the maximum output id of an irq link
  flags value maxval
  default 5
%config end

%config CONFIG_DEVICE_IRQ_MAX_INPUT_ID
  parent CONFIG_DEVICE_IRQ
  desc Specify the log2 of the maximum intput id of an irq link
  flags value maxval
  default 11
%config end

%config CONFIG_DEVICE_IRQ_MAX_LOGICAL_ID
  parent CONFIG_DEVICE_IRQ
  desc Specify the log2 of the maximum logical id of an irq
  flags value maxval
  default 16
%config end

%config CONFIG_DEVICE_ADDRESS_SPACES
  parent CONFIG_DEVICE
  desc Support platforms with multiple address spaces.
  flags auto
%config end

%config CONFIG_DEVICE_CPU
  parent CONFIG_DEVICE
  flags auto
  desc Enable processors devices support
%config end

%config CONFIG_DEVICE_CHAR
  parent CONFIG_DEVICE
  flags auto
  desc Enable character devices support
%config end

%config CONFIG_DEVICE_DMA
  parent CONFIG_DEVICE
  flags auto
  desc Enable DMA devices support
%config end

%config CONFIG_DEVICE_NET
  parent CONFIG_DEVICE
  flags auto
  desc Enable network adapter devices support
%config end

%config CONFIG_DEVICE_TIMER
  parent CONFIG_DEVICE
  flags auto
  desc Enable timer devices support
%config end

%config CONFIG_DEVICE_TIMER_DEFAULT_FREQ
  parent CONFIG_DEVICE_TIMER
  flags value
  desc This specifies the default timer input frequency.
  desc This value is used as default value for time unit conversion operations
  desc when a timer has no frequency resource entry in the device tree.
  default 1000000
%config end

%config CONFIG_DEVICE_ICU
  parent CONFIG_DEVICE
  depend CONFIG_DEVICE_IRQ
  flags auto
  desc Enable interrupts controller device support
%config end

%config CONFIG_DEVICE_FB
  parent CONFIG_DEVICE
  flags auto
  desc Enable frame buffer device support
%config end

%config CONFIG_DEVICE_INPUT
  parent CONFIG_DEVICE
  flags auto
  desc Enable input event device support
%config end

%config CONFIG_DEVICE_SOUND
  parent CONFIG_DEVICE
  flags auto
  desc Enable sound device support
%config end

%config CONFIG_DEVICE_BLOCK
  parent CONFIG_DEVICE
  flags auto
  desc Enable block device support
%config end

%config CONFIG_DEVICE_SPI
  parent CONFIG_DEVICE
  flags auto
  desc Enable SPI device support
%config end

%config CONFIG_DEVICE_ENUM
  parent CONFIG_DEVICE
  depend CONFIG_DEVICE_TREE
  flags auto
  desc Enable enumerator device support
%config end

%config CONFIG_DEVICE_LCD
  parent CONFIG_DEVICE
  flags auto
  desc Enable LCD device support
%config end

%config CONFIG_DEVICE_GPIO
  parent CONFIG_DEVICE
  flags auto
  desc Enable GPIO device support
%config end

%config CONFIG_DEVICE_I2C
  parent CONFIG_DEVICE
  flags auto
  desc Enable I2C device support
%config end

%config CONFIG_DEVICE_MEM
  parent CONFIG_DEVICE
  flags auto
  desc Enable memory device support
%config end

