%config CONFIG_DEVICE_VALIO_ATTRIBUTE_ENUM
  desc Valio attribute ID allocator
  parent CONFIG_DEVICE_VALIO
  flags enum
  default 0
%config end

%config CONFIG_DEVICE_VALIO_BUTTON
  desc Valio Button class enable
  parent CONFIG_DEVICE_VALIO
  flags auto
%config end

%config CONFIG_DEVICE_VALIO_BUTTON_ATTRIBUTE_COUNT
  desc Valio Button class attribute count
  parent CONFIG_DEVICE_VALIO_BUTTON
  flags value
  provide CONFIG_DEVICE_VALIO_ATTRIBUTE_ENUM
  default 3
%config end

%config CONFIG_DEVICE_VALIO_HWCLOCK
  desc Valio Hwclock class enable
  parent CONFIG_DEVICE_VALIO
  flags auto
%config end

%config CONFIG_DEVICE_VALIO_HWCLOCK_ATTRIBUTE_COUNT
  desc Valio Hwclock class attribute count
  parent CONFIG_DEVICE_VALIO_HWCLOCK
  flags value
  provide CONFIG_DEVICE_VALIO_ATTRIBUTE_ENUM
  default 1
%config end

%config CONFIG_DEVICE_VALIO_MOTION
  desc Valio Motion class enable
  parent CONFIG_DEVICE_VALIO
  flags auto
%config end

%config CONFIG_DEVICE_VALIO_MOTION_ATTRIBUTE_COUNT
  desc Valio Motion class attribute count
  parent CONFIG_DEVICE_VALIO_MOTION
  flags value
  provide CONFIG_DEVICE_VALIO_ATTRIBUTE_ENUM
  default 7
%config end

%config CONFIG_DEVICE_VALIO_TOUCHPAD
  desc Valio Touchpad class enable
  parent CONFIG_DEVICE_VALIO
  flags auto
%config end

%config CONFIG_DEVICE_VALIO_TOUCHPAD_ATTRIBUTE_COUNT
  desc Valio Touchpad class attribute count
  parent CONFIG_DEVICE_VALIO_TOUCHPAD
  flags value
  provide CONFIG_DEVICE_VALIO_ATTRIBUTE_ENUM
  default 2
%config end

%config CONFIG_DEVICE_VALIO_KEYBOARD
  desc Valio Keyboard class enable
  parent CONFIG_DEVICE_VALIO
  flags auto
%config end

%config CONFIG_DEVICE_VALIO_KEYBOARD_ATTRIBUTE_COUNT
  desc Valio Keyboard class attribute count
  parent CONFIG_DEVICE_VALIO_KEYBOARD
  flags value
  provide CONFIG_DEVICE_VALIO_ATTRIBUTE_ENUM
  default 1
%config end

%config CONFIG_DEVICE_VALIO_ADC
  desc Valio ADC class enable
  parent CONFIG_DEVICE_VALIO
  flags auto
%config end

%config CONFIG_DEVICE_VALIO_ADC_ATTRIBUTE_COUNT
  desc Valio ADC class attribute count
  parent CONFIG_DEVICE_VALIO_ADC
  flags value
  provide CONFIG_DEVICE_VALIO_ATTRIBUTE_ENUM
  default 2
%config end

%config CONFIG_DEVICE_VALIO_MOTION_SENSOR
  desc Valio Motion Sensor class enable
  parent CONFIG_DEVICE_VALIO
  flags auto
%config end

%config CONFIG_DEVICE_VALIO_MOTION_SENSOR_ATTRIBUTE_COUNT
  desc Valio Motion Sensor class attribute count
  parent CONFIG_DEVICE_VALIO_MOTION_SENSOR
  flags value
  provide CONFIG_DEVICE_VALIO_ATTRIBUTE_ENUM
  default 2
%config end

%config CONFIG_DEVICE_VALIO_TEMPERATURE
  desc Valio Temperature Sensor class enable
  parent CONFIG_DEVICE_VALIO
  flags auto
%config end

%config CONFIG_DEVICE_VALIO_TEMPERATURE_ATTRIBUTE_COUNT
  desc Valio Temperature Sensor class attribute count
  parent CONFIG_DEVICE_VALIO_TEMPERATURE
  flags value
  provide CONFIG_DEVICE_VALIO_ATTRIBUTE_ENUM
  default 2
%config end

%config CONFIG_DEVICE_VALIO_UART_CONFIG
  desc Valio UART config class enable
  parent CONFIG_DEVICE_VALIO
  flags auto
%config end

%config CONFIG_DEVICE_VALIO_UART_CONFIG_ATTRIBUTE_COUNT
  desc Valio UART config class attribute count
  parent CONFIG_DEVICE_VALIO_UART_CONFIG
  flags value
  provide CONFIG_DEVICE_VALIO_ATTRIBUTE_ENUM
  default 1
%config end

%config CONFIG_DEVICE_VALIO_HUMIDITY
  desc Valio Humidity Sensor class enable
  parent CONFIG_DEVICE_VALIO
  flags auto
%config end

%config CONFIG_DEVICE_VALIO_HUMIDITY_ATTRIBUTE_COUNT
  desc Valio Humidity Sensor class attribute count
  parent CONFIG_DEVICE_VALIO_HUMIDITY
  flags value
  provide CONFIG_DEVICE_VALIO_ATTRIBUTE_ENUM
  default 2
%config end

%config CONFIG_DEVICE_VALIO_LUMINOSITY
  desc Valio Ambient Luminosity Sensor class enable
  parent CONFIG_DEVICE_VALIO
  flags auto
%config end

%config CONFIG_DEVICE_VALIO_LUMINOSITY_ATTRIBUTE_COUNT
  desc Valio Ambient Luminosity Sensor class attribute count
  parent CONFIG_DEVICE_VALIO_LUMINOSITY
  flags value
  provide CONFIG_DEVICE_VALIO_ATTRIBUTE_ENUM
  default 2
%config end

%config CONFIG_DEVICE_VALIO_PRESSURE
  desc Valio Pressure Sensor class enable
  parent CONFIG_DEVICE_VALIO
  flags auto
%config end

%config CONFIG_DEVICE_VALIO_PRESSURE_ATTRIBUTE_COUNT
  desc Valio Pressure Sensor class attribute count
  parent CONFIG_DEVICE_VALIO_PRESSURE
  flags value
  provide CONFIG_DEVICE_VALIO_ATTRIBUTE_ENUM
  default 2
%config end

%config CONFIG_DEVICE_VALIO_IR
  desc Valio IR transceiver class enable
  parent CONFIG_DEVICE_VALIO
  flags auto
%config end

%config CONFIG_DEVICE_VALIO_IR_ATTRIBUTE_COUNT
  desc Valio IR transceiver class attribute count
  parent CONFIG_DEVICE_VALIO_IR
  flags value
  provide CONFIG_DEVICE_VALIO_ATTRIBUTE_ENUM
  default 1
%config end

%config CONFIG_DEVICE_VALIO_LED
  desc Valio RGB LED class enable
  parent CONFIG_DEVICE_VALIO
  flags auto
%config end

%config CONFIG_DEVICE_VALIO_LED_ATTRIBUTE_COUNT
  desc Valio RGB LED class attribute count
  parent CONFIG_DEVICE_VALIO_LED
  flags value
  provide CONFIG_DEVICE_VALIO_ATTRIBUTE_ENUM
  default 1
%config end
