
%config CONFIG_DRIVER_CC26XX_UART
  desc Enable CC26XX UART driver
  parent CONFIG_ARCH_CC26XX
%config end

%config CONFIG_DRIVER_CC26XX_UART_CHAR
  desc Enable CC26XX UART char driver
  parent CONFIG_DRIVER_CC26XX_UART
  depend CONFIG_DEVICE_CHAR
  suggest CONFIG_DEVICE_IRQ
  default defined
%config end

%config CONFIG_DRIVER_CHAR_CC26XX_UART_SWFIFO
  desc Size of the additional software FIFOs. 0 disable software FIFOs.
  parent CONFIG_DRIVER_CC26XX_UART_CHAR
  flags value
  default 0
%config end

%config CONFIG_DRIVER_CC26XX_UART_PRINTK
  desc Enable CC26XX UART printk handler
  parent CONFIG_DRIVER_CC26XX_UART
  depend CONFIG_MUTEK_PRINTK
  provide CONFIG_MUTEK_PRINTK_HANDLER
%config end

%init INIT_DRIVER_CC26XX_PRINTK
  parent CONFIG_DRIVER_CC26XX_UART_PRINTK
  during INIT_MUTEK_PRINTK
  function cc26xx_printk_init
%init end
