%config CONFIG_DRIVER_PIC32_USBDEV
  desc Enable PIC32 usb device driver
  parent CONFIG_ARCH_PIC32
  depend CONFIG_DEVICE_USBDEV
  depend CONFIG_DEVICE_IRQ
%config end

%config CONFIG_DRIVER_PIC32_USBDEV_EP_COUNT
  desc Number of additional input and output endpoint supported by device
  parent CONFIG_DRIVER_PIC32_USBDEV
  flags value
  default 7
%config end

%config CONFIG_DRIVER_PIC32_USBDEV_USE_DMA
  desc Use of USB core internal DMA
  parent CONFIG_DRIVER_PIC32_USBDEV
  default defined
%config end
