
%config CONFIG_ARCH_SIMPLE
desc Simple platform support
default	undefined
provide	CONFIG_ARCH_NAME=simple
provide CONFIG_MODULES=+arch:%CONFIGPATH
require CONFIG_ARCH_SIMPLE_RAM_SIZE
require CONFIG_ARCH_SIMPLE_RAM_ADDR
require CONFIG_ARCH_SIMPLE_ROM_SIZE
require CONFIG_ARCH_SIMPLE_ROM_ADDR
require CONFIG_ARCH_SIMPLE_RESET_ADDR
exclude CONFIG_SMP CONFIG_CLUSTER
%config end

%config CONFIG_ARCH_SIMPLE_RAM_ADDR
desc RAM memory base address on this platform
parent CONFIG_ARCH_SIMPLE
%config end

%config CONFIG_ARCH_SIMPLE_RAM_SIZE
desc RAM memory size in bytes on this platform
parent CONFIG_ARCH_SIMPLE
%config end

%config CONFIG_ARCH_SIMPLE_ROM_ADDR
desc ROM memory base address on this platform
parent CONFIG_ARCH_SIMPLE
%config end

%config CONFIG_ARCH_SIMPLE_ROM_SIZE
desc ROM memory size in bytes on this platform
parent CONFIG_ARCH_SIMPLE
%config end

%config CONFIG_ARCH_SIMPLE_RESET_ADDR
desc Set the reset vector address
parent CONFIG_ARCH_SIMPLE
default CONFIG_CPU_RESET_ADDR
%config end

%config CONFIG_ARCH_SIMPLE_COPY_DATA
desc Whether we have to copy .data from rodata before init
default undefined
%config end

%config CONFIG_ARCH_SIMPLE_ATMEGA
desc ATMega platform
parent CONFIG_ARCH_SIMPLE
provide CONFIG_ARCH_SIMPLE
provide CONFIG_CPU_AVR
provide CONFIG_ARCH_SIMPLE_COPY_DATA
%config end

%config CONFIG_ARCH_SIMPLE_ATMEGA128
desc Provide all configuration tokens suitable for the Atmega128 device.
parent CONFIG_ARCH_SIMPLE_ATMEGA
provide CONFIG_ARCH_SIMPLE_ATMEGA
provide CONFIG_ARCH_SIMPLE_RAM_ADDR=0x0100
provide CONFIG_ARCH_SIMPLE_RAM_SIZE=0xf00
provide CONFIG_ARCH_SIMPLE_ROM_ADDR=0x0000
provide CONFIG_ARCH_SIMPLE_ROM_SIZE=0x20000
provide CONFIG_CPU_AVR_IRQ_COUNT=28
provide CONFIG_CPU_AVR_GCCMCU=atmega128
provide CONFIG_CPU_AVR_ENHANCED
%config end
