
######################################################################
# User definable tokens

%config CONFIG_ARCH_SIMPLE_SAM7
  desc Atmel SAM7 ARM based microcontroller
#  provide CONFIG_ARCH_SIMPLE_HW_INIT
  parent CONFIG_ARCH_SIMPLE
%config end

######################################################################
# Provided token, not definable by user directly

%config CONFIG_ARCH_SIMPLE
  desc Simple platform support
  module arch Hexo
  flags internal
  parent CONFIG_ARCH_META

  when CONFIG_ARCH_SIMPLE_SAM7

  provide CONFIG_ARCH_NAME=simple
  exclude CONFIG_ARCH_SMP CONFIG_ARCH_CLUSTER
%config end

%config CONFIG_ARCH_SIMPLE_HW_INIT
  parent CONFIG_ARCH_SIMPLE
  flags value internal
  desc Whether we have an hardware-specific initialization routine
%config end
