
%config CONFIG_ARCH_SIMPLE
desc Simple platform support
default	undefined
provide	CONFIG_ARCH_NAME=simple
require CONFIG_ARCH_SIMPLE_RAM_SIZE
require CONFIG_ARCH_SIMPLE_RAM_ADDR
require CONFIG_ARCH_SIMPLE_ROM_SIZE
require CONFIG_ARCH_SIMPLE_ROM_ADDR
require CONFIG_ARCH_SIMPLE_RESET_ADDR
exclude CONFIG_SMP CONFIG_CLUSTER
%config end

%config CONFIG_ARCH_SIMPLE_RAM_ADDR
desc RAM memory base address on this platform
parent CONFIG_ARCH_SIMPLE
%config end

%config CONFIG_ARCH_SIMPLE_RAM_SIZE
desc RAM memory size in bytes on this platform
parent CONFIG_ARCH_SIMPLE
%config end

%config CONFIG_ARCH_SIMPLE_ROM_ADDR
desc ROM memory base address on this platform
parent CONFIG_ARCH_SIMPLE
%config end

%config CONFIG_ARCH_SIMPLE_ROM_SIZE
desc ROM memory size in bytes on this platform
parent CONFIG_ARCH_SIMPLE
%config end

%config CONFIG_ARCH_SIMPLE_RESET_ADDR
desc Set the reset vector address
parent CONFIG_ARCH_SIMPLE
default CONFIG_CPU_RESET_ADDR
%config end

