
%config CONFIG_DRIVER_STM32_GPIO_F1
  desc Driver for GPIO controller on stm32
  parent CONFIG_ARCH_STM32
  depend CONFIG_DEVICE_GPIO
  depend CONFIG_DEVICE_IOMUX
%config end

%config CONFIG_DRIVER_STM32_GPIO_F1_ICU
  desc Enable GPIO as interrupt source
  parent CONFIG_DRIVER_STM32_GPIO_F1
  depend CONFIG_DEVICE_IRQ
  depend CONFIG_DEVICE_ICU
  default defined
%config end

%config CONFIG_DRIVER_STM32_GPIO_F1_IRQ_COUNT
  desc IRQ count as interrupt sources
  parent CONFIG_DRIVER_STM32_GPIO_F1_ICU
  flags value
  default 16
%config end

