%config CONFIG_DRIVER_USBDEV_DFU_CLASS
  desc DFU device class driver
  parent CONFIG_DRIVER
  depend CONFIG_DEVICE_USBDEV
  single CONFIG_DRIVER_USBDEV_DFU_FUNCTIONAL CONFIG_DRIVER_USBDEV_DFU_DFU
%config end

%config CONFIG_DRIVER_USBDEV_DFU_FUNCTIONAL
  desc Firmware is in functional mode
  parent CONFIG_DRIVER_USBDEV_DFU_CLASS
%config end

%config CONFIG_DRIVER_USBDEV_DFU_DFU
  desc Firmware is DFU firmware
  parent CONFIG_DRIVER_USBDEV_DFU_CLASS
  depend CONFIG_DEVICE_MEM
%config end
