
%config CONFIG_CPU_X86_EMU
  desc Linux Emulation 32 bit x86 processor support
  flags harddep
  module cpu Processors::x86 32 bit Linux process
  depend CONFIG_ARCH_EMU
  depend CONFIG_DEVICE_CPU
  provide CONFIG_CPU_WAIT_IRQ
  provide CONFIG_CPU_CACHE
  provide CONFIG_CPU_NAME=x86_emu
  provide CONFIG_CPU_ARCHNAME=x86_emu
  provide CONFIG_CPU_CACHE CONFIG_CPU_CACHE_COHERENCY
  provide CONFIG_CPU_ENDIAN_LITTLE
  provide CONFIG_CPU_NONALIGNED_ACCESS=15
  provide CONFIG_ARCH_EMU_PAGESIZE=4096
  provide CONFIG_CPU_WAIT_IRQ
  provide CONFIG_CPU_SMP_CAPABLE
  provide CONFIG_CPU_META
  provide CONFIG_HEXO_STACK_ALIGN=16
  provide CONFIG_CPU_HARDWARE_MUL=64
  provide CONFIG_CPU_HARDWARE_DIVMOD=64
  exclude CONFIG_HEXO_CONTEXT_NESTED
  exclude CONFIG_HEXO_CONTEXT_STACK_IRQ
%config end

%config CONFIG_CPU_X86_EMU_ALIGNCHECK
  parent CONFIG_CPU_X86_EMU
  desc Enable processor memory access alignement checking
  provide CONFIG_CPU_NONALIGNED_ACCESS=1
%config end

