
%config CONFIG_DRIVER_GAISLER_AHBCTRL
  desc Provide support for Gaisler AMBA AHB controller with pnp support
  depend CONFIG_DEVICE_ENUM
  depend CONFIG_DEVICE_TREE
  depend CONFIG_DEVICE_RESOURCE_ALLOC
  parent CONFIG_ARCH_GAISLER
%config end

%config CONFIG_DRIVER_GAISLER_AHBCTRL_USERPARAMS
  desc When this token is defined, the 3 user-defined words in configuration records are loaded as device resource integer parameters
  parent CONFIG_DRIVER_GAISLER_AHBCTRL
%config end

