
%module Hexo

%config CONFIG_CPU_MIPS
desc MIPS processors support
default undefined
require	CONFIG_ARCH_SOCLIB
require CONFIG_CPU_MIPS_ABI_O32 CONFIG_CPU_MIPS_ABI_O64 CONFIG_CPU_MIPS_ABI_N32 CONFIG_CPU_MIPS_ABI_EABI
single CONFIG_CPU_MIPS_ABI_O32 CONFIG_CPU_MIPS_ABI_O64 CONFIG_CPU_MIPS_ABI_N32 CONFIG_CPU_MIPS_ABI_EABI
require CONFIG_CPU_MIPS_VERSION
provide CONFIG_CPU_CACHE
provide CONFIG_CPU_NAME=mips
provide CONFIG_MODULES=+cpu:%CONFIGPATH
provide CONFIG_CPU_RESET_ADDR=0xbfc00000
provide CONFIG_CPU_RESET_SIZE=0x2000
provide CONFIG_COMPILE_SIZEOF_INT=4
provide CONFIG_CPU_EXCEPTION_ALIGN=0x00001000
%config end

%config CONFIG_CPU_MIPS_VERSION
desc Mips processor version (1, 2, 3, 4, 32, 322, 64)
parent CONFIG_CPU_MIPS
default 32
%config end

%config CONFIG_CPU_MIPS_ABI_O32
desc Mips processor abi is Old 32
parent CONFIG_CPU_MIPS
default defined
%config end

%config CONFIG_CPU_MIPS_ABI_O64
desc Mips processor abi is Old 64
parent CONFIG_CPU_MIPS
default undefined
%config end

%config CONFIG_CPU_MIPS_ABI_N32
desc Mips processor abi is New 32
parent CONFIG_CPU_MIPS
default undefined
%config end

%config CONFIG_CPU_MIPS_ABI_EABI
desc Mips processor abi is Ext ABI
parent CONFIG_CPU_MIPS
default undefined
%config end
