
%config CONFIG_DRIVER_CHAR_PL011
  desc Enable ARM PrimeCell pl011 UART device driver
  parent CONFIG_CPU_ARM32
  depend CONFIG_DEVICE_CHAR
  suggest CONFIG_DEVICE_IRQ
%config end

%config CONFIG_DRIVER_CHAR_PL011_SWFIFO
  desc Size of the additional software FIFOs. 0 disables software FIFOs.
  parent CONFIG_DRIVER_CHAR_PL011
  flags value
  default 32
%config end

