######################################################################
# User definable tokens

%config CONFIG_CPU_ARM_SOCLIB
  desc SoCLib ARM-v6
  flags harddep
  parent CONFIG_CPU_ARM
  depend CONFIG_ARCH_SOCLIB
  depend CONFIG_COMPILE_SOFTFLOAT
  provide CONFIG_CPU_SMP_CAPABLE
  provide CONFIG_CPU_WAIT_IRQ
  provide CONFIG_CPU_NAME=arm
  provide CONFIG_CPU_ARM_ARCH_VERSION=6
%config end

%config CONFIG_CPU_ARM_7TDMI
  desc Arm7-TDMI
  flags harddep
  parent CONFIG_CPU_ARM
  provide CONFIG_COMPILE_MCPU=arm7tdmi
  depend CONFIG_COMPILE_SOFTFLOAT
  provide CONFIG_CPU_NAME=arm7tdmi
  provide CONFIG_CPU_ARM_ARCH_VERSION=4
%config end

%config CONFIG_CPU_ARM_1176
  desc Arm 1176
  flags harddep
  parent CONFIG_CPU_ARM
  provide CONFIG_CPU_CACHE
  depend CONFIG_COMPILE_SOFTFLOAT
  provide CONFIG_COMPILE_MCPU=arm1176jz-s
  provide CONFIG_CPU_NAME=arm1176
  provide CONFIG_CPU_EXCEPTION_RELOCATABLE
  provide CONFIG_CPU_ARM_ARCH_VERSION=6
%config end

%config CONFIG_CPU_ARM_1176F
  desc Arm 1176
  flags harddep
  parent CONFIG_CPU_ARM
  provide CONFIG_CPU_CACHE
  provide CONFIG_COMPILE_MCPU=arm1176jzf-s
  provide CONFIG_CPU_NAME=arm1176f
  provide CONFIG_CPU_EXCEPTION_RELOCATABLE
  provide CONFIG_CPU_ARM_ARCH_VERSION=6
%config end

%config CONFIG_CPU_ARM_CORTEXA8
  desc Arm Cortex-A8
  flags harddep
  parent CONFIG_CPU_ARM
  provide CONFIG_CPU_CACHE
  provide CONFIG_CPU_SMP_CAPABLE
  provide CONFIG_COMPILE_MCPU=cortex-a8
  provide CONFIG_CPU_NAME=arm_cortex_a8
  provide CONFIG_CPU_EXCEPTION_RELOCATABLE
  provide CONFIG_CPU_ARM_ARCH_VERSION=7
%config end

%config CONFIG_CPU_ARM_CORTEXA9
  desc Arm Cortex-A9
  flags harddep
  parent CONFIG_CPU_ARM
  provide CONFIG_CPU_CACHE
  provide CONFIG_CPU_SMP_CAPABLE
  provide CONFIG_COMPILE_MCPU=cortex-a9
  provide CONFIG_CPU_NAME=arm_cortex_a9
  provide CONFIG_CPU_EXCEPTION_RELOCATABLE
  provide CONFIG_CPU_ARM_ARCH_VERSION=7
%config end

%config CONFIG_CPU_ARM_CORTEXM0
  desc Arm Cortex-M0
  flags harddep
  parent CONFIG_CPU_ARM
  provide CONFIG_COMPILE_MCPU=cortex-m0
  provide CONFIG_CPU_NAME=arm_cortex_m0
  provide CONFIG_CPU_EXCEPTION_RELOCATABLE
  provide CONFIG_CPU_ARM_ARCH_VERSION=6
%config end

%config CONFIG_CPU_ARM_CORTEXM0PLUS
  desc Arm Cortex-M0+
  flags harddep
  parent CONFIG_CPU_ARM
  provide CONFIG_COMPILE_MCPU=cortex-m0+
  provide CONFIG_CPU_NAME=arm_cortex_m0plus
  provide CONFIG_CPU_EXCEPTION_RELOCATABLE
  provide CONFIG_CPU_ARM_ARCH_VERSION=6
%config end

%config CONFIG_CPU_ARM_CORTEXM1
  desc Arm Cortex-M1
  flags harddep
  parent CONFIG_CPU_ARM
  provide CONFIG_COMPILE_MCPU=cortex-m1
  provide CONFIG_CPU_NAME=arm_cortex_m1
  provide CONFIG_CPU_EXCEPTION_RELOCATABLE
  provide CONFIG_CPU_ARM_ARCH_VERSION=6
%config end

%config CONFIG_CPU_ARM_CORTEXM3
  desc Arm Cortex-M3
  flags harddep
  parent CONFIG_CPU_ARM
  provide CONFIG_COMPILE_MCPU=cortex-m3
  provide CONFIG_CPU_NAME=arm_cortex_m3
  provide CONFIG_CPU_EXCEPTION_RELOCATABLE
  provide CONFIG_CPU_ARM_ARCH_VERSION=7
%config end

%config CONFIG_CPU_ARM_CORTEXM4
  desc Arm Cortex-M4
  flags harddep
  parent CONFIG_CPU_ARM
  provide CONFIG_COMPILE_MCPU=cortex-m4
  provide CONFIG_CPU_NAME=arm_cortex_m4
  provide CONFIG_CPU_EXCEPTION_RELOCATABLE
  provide CONFIG_CPU_ARM_ARCH_VERSION=7
%config end

%config CONFIG_CPU_ARM_THUMB
  desc Generate ARM thumb code
  parent CONFIG_CPU_ARM
  depend CONFIG_CPU_ARM_ARCH_PROFILE_A
%config end

%config CONFIG_CPU_ARM_CUSTOM_IRQ_HANDLER
  desc Has custom ICU-based IRQ handler, often seen in microcontrollers
  parent CONFIG_CPU_ARM
%config end

######################################################################
# Provided tokens, not definable by user directly

%config CONFIG_CPU_ARM
  desc ARM processors support
  parent CONFIG_CPU_META
  flags internal
  module cpu Hexo

  when CONFIG_CPU_ARM_SOCLIB
  when CONFIG_CPU_ARM_7TDMI
  when CONFIG_CPU_ARM_CORTEXA8
  when CONFIG_CPU_ARM_CORTEXA9
  when CONFIG_CPU_ARM_1176
  when CONFIG_CPU_ARM_1176F
  when CONFIG_CPU_ARM_CORTEXM0
  when CONFIG_CPU_ARM_CORTEXM0PLUS
  when CONFIG_CPU_ARM_CORTEXM1
  when CONFIG_CPU_ARM_CORTEXM3
  when CONFIG_CPU_ARM_CORTEXM4

  provide CONFIG_CPU_ARCHNAME=arm
  single CONFIG_CPU_ARM_SOCLIB CONFIG_CPU_ARM_7TDMI CONFIG_CPU_ARM_CORTEXA8 CONFIG_CPU_ARM_CORTEXA9 CONFIG_CPU_ARM_1176 CONFIG_CPU_ARM_1176F CONFIG_CPU_ARM_CORTEXM0 CONFIG_CPU_ARM_CORTEXM0PLUS CONFIG_CPU_ARM_CORTEXM1 CONFIG_CPU_ARM_CORTEXM3 CONFIG_CPU_ARM_CORTEXM4
  provide CONFIG_HEXO_STACK_ALIGN=8

  provide CONFIG_CPU_EXCEPTION_ADDR=0x00000000
  exclude CONFIG_HEXO_CONTEXT_NESTED
  single CONFIG_CPU_ARM_LITTLE CONFIG_CPU_ARM_BIG_BE32 CONFIG_CPU_ARM_BIG_BE8

  require CONFIG_CPU_ARM_ARCH_VERSION
  depend CONFIG_CPU_ARM_ARCH_PROFILE_A CONFIG_CPU_ARM_ARCH_PROFILE_M
%config end

%config CONFIG_CPU_ARM_ARCH_VERSION
  desc ARM processor architecture version
  flags internal value
  parent CONFIG_CPU_ARM
%config end

%config CONFIG_CPU_ARM_ARCH_PROFILE_A
  desc ARM processor application architecture profile
  flags internal harddep
  parent CONFIG_CPU_ARM

  provide CONFIG_CPU_EXCEPTION_SIZE=0x00000100
  provide CONFIG_CPU_EXCEPTION_ALIGN=0x00000004
  provide CONFIG_CPU_RESET_ADDR=0x00000000
  provide CONFIG_CPU_RESET_SIZE=12

  when CONFIG_CPU_ARM_SOCLIB
  when CONFIG_CPU_ARM_7TDMI
  when CONFIG_CPU_ARM_1176
  when CONFIG_CPU_ARM_1176F
  when CONFIG_CPU_ARM_CORTEXA8
  when CONFIG_CPU_ARM_CORTEXA9
%config end

%config CONFIG_CPU_ARM_TIMER_CYCLECOUNTER
  desc Enable timer driver for ARM-v6 cycle counter
  parent CONFIG_CPU_ARM_ARCH_PROFILE_A
  when CONFIG_CPU_ARM_ARCH_VERSION>=6
  depend CONFIG_DEVICE_TIMER
%config end

%config CONFIG_CPU_ARM_ARCH_PROFILE_M
  desc ARM processor microcontroller architecture profile
  flags internal harddep
  parent CONFIG_CPU_ARM

  provide CONFIG_CPU_EXCEPTION_SIZE=(16+CONFIG_CPU_ARM_M_IRQ_COUNT*4)
  provide CONFIG_CPU_EXCEPTION_ALIGN=0x00000100
  provide CONFIG_CPU_RESET_ADDR=0x00000000
  provide CONFIG_CPU_RESET_SIZE=0

  when CONFIG_CPU_ARM_CORTEXM0
  when CONFIG_CPU_ARM_CORTEXM0PLUS
  when CONFIG_CPU_ARM_CORTEXM1
  when CONFIG_CPU_ARM_CORTEXM3
  when CONFIG_CPU_ARM_CORTEXM4

  exclude CONFIG_LOAD_RESET_SEPARATE
  exclude CONFIG_ARCH_SMP
%config end

%config CONFIG_CPU_ARM_LITTLE
  desc Select ARM little endian mode
  parent CONFIG_CPU_ARM
  provide CONFIG_CPU_ENDIAN_LITTLE
  when CONFIG_CPU_ARM_BIG_BE8! CONFIG_CPU_ARM_BIG_BE32!
%config end

%config CONFIG_CPU_ARM_BIG_BE32
  desc Select ARM legacy big endian mode (code & data are big endian)
  parent CONFIG_CPU_ARM
  provide CONFIG_CPU_ENDIAN_BIG
%config end

%config CONFIG_CPU_ARM_BIG_BE8
  desc Select ARM data big endian mode (big endian for data only)
  parent CONFIG_CPU_ARM
  provide CONFIG_CPU_ENDIAN_BIG
  depend CONFIG_CPU_ARM_ARCH_PROFILE_A
%config end

%config CONFIG_CPU_ARM_NEON
  desc Enable use of ARM Neon instructions
  parent CONFIG_CPU_ARM
  depend CONFIG_CPU_ARM_ARCH_PROFILE_A
  depend CONFIG_HEXO_FPU
%config end

%config CONFIG_CPU_ARM_M_IRQ_COUNT
  desc ARM M profile irq count
  flags value
  default 16
  parent CONFIG_CPU_ARM
%config end

%config CONFIG_CPU_ARM_TIMER_SYSTICK
  desc Enable timer driver for ARM-m SysTick
  parent CONFIG_CPU_ARM_ARCH_PROFILE_M
  default defined
  depend CONFIG_DEVICE_TIMER
%config end

%config CONFIG_CPU_ARM_TIMER_SYSTICK_PERIOD
  desc Set the initial SysTick timer period
  parent CONFIG_CPU_ARM_TIMER_SYSTICK
  default 1000000
  flags value
%config end

%config CONFIG_CPU_ARM_TIMER_DWTCYC
  desc Enable timer driver for ARM-v7m DWT cycle counter
  parent CONFIG_CPU_ARM_ARCH_PROFILE_M
  when CONFIG_CPU_ARM_ARCH_VERSION>=7
  depend CONFIG_DEVICE_TIMER
%config end

