
######################################################################
# User definable tokens

%config CONFIG_CPU_ARM_SOCLIB
  desc SoCLib ARM-v6
  parent CONFIG_CPU_ARM
  require	CONFIG_ARCH_SOCLIB
  provide CONFIG_CPU_CACHE
  provide CONFIG_CPU_ARM_TLS_IN_C15
  provide CONFIG_CPU_ARM_ARCH=armv6k
  provide CONFIG_CPU_WAIT_IRQ
  require CONFIG_COMPILE_SOFTFLOAT
%config end

%config CONFIG_CPU_ARM_7TDMI
  desc Arm7-TDMI
  parent CONFIG_CPU_ARM
  provide CONFIG_CPU_ARM_CPU=arm7tdmi
  provide CONFIG_CPU_ARM_M_PROFILE
# provide CONFIG_CPU_ARM_T_PROFILE
  require CONFIG_COMPILE_SOFTFLOAT
%config end

%config CONFIG_CPU_ARM_THUMB
  desc ARM Thumb code support
  parent CONFIG_CPU_ARM
%config end

%config CONFIG_CPU_ARM_CUSTOM_IRQ_HANDLER
  desc Has custom ICU-based IRQ handler, often seen in microcontrollers
  parent CONFIG_CPU_ARM
%config end

######################################################################
# Provided tokens, not definable by user directly

%config CONFIG_CPU_ARM
  desc ARM processors support
  parent CONFIG_CPU_META
  flags nodefine
  module cpu Hexo

  when CONFIG_CPU_ARM_7TDMI
  when CONFIG_CPU_ARM_SOCLIB

  provide CONFIG_CPU_NAME=arm
  provide CONFIG_CPU_ENDIAN_LITTLE
  provide CONFIG_CPU_RESET_ADDR=0x00000000
  provide CONFIG_CPU_RESET_SIZE=0x00000400
  provide CONFIG_CPU_EXCEPTION_FIXED_ADDRESS=0x0
  single	CONFIG_CPU_ARM_SOCLIB CONFIG_CPU_ARM_7TDMI
%config end

%config CONFIG_CPU_ARM_TLS_IN_C15
  desc Implement TLS with dedicated register in c0
  flags nodefine value
  parent CONFIG_CPU_ARM
%config end

%config CONFIG_CPU_ARM_T_PROFILE
  desc Support ARM-Thumb when compiling
  flags nodefine value
  parent CONFIG_CPU_ARM
%config end

%config CONFIG_CPU_ARM_M_PROFILE
  desc Microcontroller profile (ARM-7M)
  flags nodefine value
  parent CONFIG_CPU_ARM
  exclude CONFIG_ARCH_SMP
  require CONFIG_DATA_FROM_ROM
%config end

%config CONFIG_CPU_ARM_ARCH
  desc ARM architecture name, like -march=
  flags nodefine value
  parent CONFIG_CPU_ARM
%config end

%config CONFIG_CPU_ARM_CPU
  desc ARM cpu name, like -mcpu=
  flags nodefine value
  parent CONFIG_CPU_ARM
%config end

