%config CONFIG_DRIVER_EFR32_RADIO
  desc Enable EFR32 Radio Frequency driver
  parent CONFIG_ARCH_EFM32
  require CONFIG_EFM32_ARCHREV=EFM32_ARCHREV_EFR_XG12 CONFIG_EFM32_ARCHREV=EFM32_ARCHREV_EFR_XG14
%config end

%config CONFIG_DRIVER_EFR32_RADIO_VBAT
  desc Indicates the radio use vbat instead of dcdc as power supply
  parent CONFIG_DRIVER_EFR32_RADIO
%config end

%config CONFIG_DRIVER_EFR32_BLE_ADVERTISE
  desc Enable EFR32 ble advertise support
  parent CONFIG_DRIVER_EFR32_RADIO
  depend CONFIG_BLE
%config end

%config CONFIG_DRIVER_EFR32_RFPACKET
  desc Enable EFR32 rfpacket driver
  parent CONFIG_DRIVER_EFR32_RADIO
%config end

%config CONFIG_DRIVER_EFR32_DEBUG
  desc Enable EFR32 debug support
  parent CONFIG_DRIVER_EFR32_RADIO
%config end

%config CONFIG_DRIVER_EFR32_SIGFOX
  desc Enable EFR32 sigfox config
  parent CONFIG_DRIVER_EFR32_RADIO
%config end

%config CONFIG_DRIVER_EFR32_RFPACKET_ANT_DIV
  desc Enable EFR32 rfpacket antenna diversity support 
  parent CONFIG_DRIVER_EFR32_RFPACKET
%config end

%config CONFIG_DRIVER_EFR32_RFPACKET_LDC
  desc Enable rx ldc management for EFR32 radio driver
  parent CONFIG_DRIVER_EFR32_RFPACKET
  depend CONFIG_DRIVER_EFM32_RTCC
%config end

%config CONFIG_DRIVER_EFR32_RFPACKET_SLEEP
  desc Enable sleep for EFR32 radio
  parent CONFIG_DRIVER_EFR32_RFPACKET
  depend CONFIG_DEVICE_CLOCK_GATING CONFIG_DEVICE_SLEEP
%config end