
%module Hexo

%config CONFIG_ARCH_EMU
desc Linux Emulation platform support
provide	CONFIG_ARCH_NAME=emu
provide CONFIG_MODULES=+arch:$(CONFIGPATH)
provide	CONFIG_ARCH_HW_INIT
require CONFIG_ARCH_EMU_MEMORY
require CONFIG_ARCH_EMU_PAGESIZE
require CONFIG_CPU_X86_EMU CONFIG_CPU_X86_64_EMU
require CONFIG_ARCH_EMU_LINUX CONFIG_ARCH_EMU_DARWIN
single  CONFIG_ARCH_EMU_LINUX CONFIG_ARCH_EMU_DARWIN
exclude CONFIG_CLUSTER
%config end

%config CONFIG_ARCH_EMU_MEMORY
desc Set the amount of memory to emulate in bytes
parent CONFIG_ARCH_EMU
default 16777216
%config end

%config CONFIG_ARCH_EMU_DARWIN
desc Target system is Darwin (MacOS X)
parent CONFIG_ARCH_EMU
%config end

%config CONFIG_ARCH_EMU_LINUX
desc Target system is Linux
parent CONFIG_ARCH_EMU
%config end

%config CONFIG_ARCH_EMU_PAGESIZE
desc Host architecture mmap page size
parent CONFIG_ARCH_EMU
%config end
