
%config CONFIG_DRIVER_EFM32_GPIO
  desc Enable EFM32 GPIO driver
  parent CONFIG_ARCH_EFM32
  depend CONFIG_DEVICE_IOMUX
  depend CONFIG_DEVICE_GPIO
%config end

%config CONFIG_DRIVER_EFM32_GPIO_UNTIL
  desc Enable support of the DEV_GPIO_UNTIL gpio type of requests
  parent CONFIG_DRIVER_EFM32_GPIO
  depend CONFIG_DEVICE_IRQ
  default defined
%config end

%config CONFIG_DRIVER_EFM32_GPIO_ICU
  desc Enable use of the EFM32 GPIO as an irq controller
  parent CONFIG_DRIVER_EFM32_GPIO
  depend CONFIG_DEVICE_IRQ
  depend CONFIG_DEVICE_ICU
  default defined
  require CONFIG_DRIVER_EFM32_GPIO_IRQ_COUNT<=16
  require CONFIG_DRIVER_EFM32_GPIO_IRQ_COUNT>0
%config end

%config CONFIG_DRIVER_EFM32_GPIO_IRQ_COUNT
  parent CONFIG_DRIVER_EFM32_GPIO_ICU
  desc Specify the number of supported input interrupt lines.
  default 16
  flags value
%config end

