
%config CONFIG_DRIVER_TTY
flags nodefine
desc At least one tty device driver must be enabled to have it defined
%config end

%config CONFIG_DRIVER_UART
flags nodefine
desc At least one uart device driver must be enabled to have it defined
%config end

%config CONFIG_DRIVER_NET
flags nodefine
desc At least one network device driver must be enabled to have it defined
%config end

%config CONFIG_DRIVER_TIMER
flags nodefine
desc At least one timer device driver must be enabled to have it defined
%config end

%config CONFIG_DRIVER_ICU
flags nodefine
desc At least one interrupt control device driver must be enabled to have it defined
%config end

%config CONFIG_DRIVER_FB
flags nodefine
desc At least one frame buffer device driver must be enabled to have it defined
%config end

%config CONFIG_DRIVER_KEYBOARD
flags nodefine
desc At least one input keyborad driver must be enabled to have it defined
%config end

%config CONFIG_DRIVER_SOUND
flags nodefine
desc At least one sound driver must be enabled to have it defined
%config end

%config CONFIG_DRIVER_BLOCK
flags nodefine
desc At least one block device driver must be enabled to have it defined
%config end

%config CONFIG_DRIVER_SPI
flags nodefine
desc At least one SPI driver must be enabled to have it defined
%config end

%config CONFIG_DRIVER_LCD
flags nodefine
desc At least one LCD driver must be enabled to have it defined
%config end

%config CONFIG_DRIVER_GPIO
flags nodefine
desc At least one GPIO driver must be enabled to have it defined
%config end

%config CONFIG_DRIVER_I2C
flags nodefine
desc At least one I2C driver must be enabled to have it defined
%config end
