
%config CONFIG_DRIVER_EFM32_DMA
  desc Enable EFM32 dma driver
  parent CONFIG_ARCH_EFM32
  depend CONFIG_DEVICE_DMA
  require CONFIG_DRIVER_EFM32_DMA_CHANNEL_COUNT
%config end

%config CONFIG_DRIVER_EFM32_DMA_CHANNEL_COUNT
  desc Number of dma channel used
  parent CONFIG_DRIVER_EFM32_DMA
  flags value
  default 4
%config end

%config CONFIG_DRIVER_EFM32_DMA_MAX_CHANNEL_COUNT
  desc Maximum number of dma channel 
  parent CONFIG_DRIVER_EFM32_DMA
  flags value
%config end
