
%config CONFIG_DRIVER_EFM32_DMA
  desc Enable EFM32 dma driver
  parent CONFIG_ARCH_EFM32
  depend CONFIG_DEVICE_DMA
  depend CONFIG_DEVICE_IRQ
  require CONFIG_DRIVER_EFM32_DMA_CHANNEL_COUNT
#  require CONFIG_EFM32_ARCHREV=EFM32_ARCHREV_EFM
%config end

%config CONFIG_DRIVER_EFM32_DMA_CHANNEL_COUNT
  desc Number of dma channel used
  parent CONFIG_DRIVER_EFM32_DMA
  flags value
  default 4
%config end

%config CONFIG_DRIVER_EFM32_DMA_TEST
  desc Special mode for test
  parent CONFIG_DRIVER_EFM32_DMA
  default undefined
%config end

%config CONFIG_DRIVER_EFM32_DMA_LINKED_LIST_SIZE
  desc Number of descriptor allocated for linked list
  parent CONFIG_DRIVER_EFM32_DMA
  flags value
  default 2
%config end
