
%config CONFIG_ARCH_GAISLER
  desc Gaisler Aeroflex platform support
  parent CONFIG_ARCH_META
  module arch Hexo
  provide CONFIG_ARCH_NAME=gaisler
  provide CONFIG_ARCH_SMP_CAPABLE
%config end

%init INIT_GAISLER_ARCH_LOCK
  parent CONFIG_ARCH_GAISLER
  condition CONFIG_CPU_SPARC_LEON3_CASA!
  desc Initialize the global spinlock used to implement atomic ops when CASA instruction is not available.
  during INIT_BOOTSTRAP
  after INIT_DEVICE
  before INIT_START_CPUS
  function gaisler_arch_lock_init
%init end

%init INIT_GAISLER_MEM_ALLOC
  parent CONFIG_ARCH_GAISLER
  during INIT_MUTEK_MEMALLOC
  function gaisler_mem_init
%init end


%config CONFIG_GAISLER_EARLY_CONSOLE
  desc enable SoCLib early console TTY before device initialization
  provide CONFIG_MUTEK_EARLY_CONSOLE
  parent CONFIG_ARCH_GAISLER
  require CONFIG_GAISLER_EARLY_CONSOLE_ADDR
%config end

%config CONFIG_GAISLER_EARLY_CONSOLE_ADDR
  desc Gaisler early console UART address
  parent CONFIG_GAISLER_EARLY_CONSOLE
  flags value
%config end

%config CONFIG_GAISLER_EARLY_CONSOLE_SCALER
  desc Gaisler early console UART scaler value
  parent CONFIG_GAISLER_EARLY_CONSOLE
  default 0x100
  flags value
%config end

%config CONFIG_GAISLER_EARLY_CONSOLE_DEBUG
  desc Gaisler UART is configured by debug support unit, do not update control register
  parent CONFIG_GAISLER_EARLY_CONSOLE
%config end

%init INIT_GAISLER_EARLY_CONSOLE
  parent CONFIG_GAISLER_EARLY_CONSOLE
  during INIT_MUTEK_EARLY_CONSOLE
  function gaisler_early_console_init
%init end



%config CONFIG_GAISLER_AHB_ENUM
  desc Register a Gaisler AHB controller enumerator device on boot
  parent CONFIG_ARCH_GAISLER
  default defined
%config end

%config CONFIG_GAISLER_AHB_ENUM_ADDR
  parent CONFIG_GAISLER_AHB_ENUM
  desc Address of the Gaisler AHB controller plug and play information table
  flags value
  default 0xfffff000
%config end

%init INIT_GAISLER_AHB_ENUM
  parent CONFIG_GAISLER_AHB_ENUM
  during INIT_DEVICE_ENUM
  function gaisler_ahb_enum_init
%init end



%config CONFIG_GAISLER_DEVICE_IDS
  desc Provide a database of device names for display in device tree.
  parent CONFIG_ARCH_GAISLER
  default defined
  warn_when CONFIG_COMPILE_OPTIMIZE=s
%config end

