
%config CONFIG_ARCH_GAISLER
  desc Gaisler Aeroflex platform support
  provide CONFIG_ARCH_META
  module arch Hardware abstraction layer
  provide CONFIG_ARCH_NAME=gaisler
  provide CONFIG_ARCH_SMP_CAPABLE
%config end

%init INIT_GAISLER_ARCH_LOCK
  parent CONFIG_ARCH_GAISLER
  condition CONFIG_CPU_SPARC_LEON3_CASA!
  desc Initialize the global spinlock used to implement atomic ops when CASA instruction is not available.
  during INIT_BOOTSTRAP
  after INIT_DEVICE
  before INIT_START_CPUS
  function gaisler_arch_lock_init
%init end

%config CONFIG_GAISLER_PRINTK
  desc enable SoCLib early console TTY before device initialization
  provide CONFIG_MUTEK_PRINTK_HANDLER
  parent CONFIG_ARCH_GAISLER
  require CONFIG_MUTEK_PRINTK_ADDR
%config end

%config CONFIG_GAISLER_PRINTK_SCALER
  desc Gaisler early console UART scaler value
  parent CONFIG_GAISLER_PRINTK
  default 0x100
  flags value
%config end

%config CONFIG_GAISLER_PRINTK_DEBUG
  desc Gaisler UART is configured by debug support unit, do not update control register
  parent CONFIG_GAISLER_PRINTK
%config end

%init INIT_GAISLER_PRINTK
  parent CONFIG_GAISLER_PRINTK
  during INIT_MUTEK_PRINTK
  function gaisler_early_console_init
%init end



%config CONFIG_GAISLER_AHB_ENUM
  desc Register a Gaisler AHB controller enumerator device on boot
  parent CONFIG_ARCH_GAISLER
  default defined
%config end

%config CONFIG_GAISLER_AHB_ENUM_ADDR
  parent CONFIG_GAISLER_AHB_ENUM
  desc Address of the Gaisler AHB controller plug and play information table
  flags value
  default 0xfffff000
%config end


%config CONFIG_GAISLER_DEVICE_IDS
  desc Provide a database of device names for display in device tree.
  parent CONFIG_ARCH_GAISLER
  default defined
  warn_when CONFIG_COMPILE_OPTIMIZE=s
%config end

