
%config CONFIG_DRIVER_TTY
desc At least one tty device driver must be enable to have it defined
%config end

%config CONFIG_DRIVER_UART
desc At least one uart device driver must be enable to have it defined
%config end

%config CONFIG_DRIVER_NET
desc At least one network device driver must be enable to have it defined
%config end

%config CONFIG_DRIVER_TIMER
desc At least one timer device driver must be enable to have it defined
%config end

%config CONFIG_DRIVER_ICU
desc At least one interrupt control device driver must be enable to have it defined
%config end

%config CONFIG_DRIVER_FB
desc At least one frame buffer device driver must be enable to have it defined
%config end

