
%config CONFIG_DRIVER_ARM_A9MPCORE
  desc Provide support for ARM Cortex-A9 MPCore
  parent CONFIG_CPU_ARM32
  depend CONFIG_DEVICE_ENUM
  depend CONFIG_CPU_ARM32_CORTEXA9
%config end

%config CONFIG_DRIVER_ARM_A9MPCORE_IRQ
  desc Provide support for ARM Cortex-A9 MPCore interrupts
  parent CONFIG_DRIVER_ARM_A9MPCORE
  when CONFIG_DEVICE_IRQ
  flags internal
  depend CONFIG_DRIVER_ICU_PL390
%config end

