
%config CONFIG_DRIVER_CRYPTO_SOFT_ARC4
  desc Enable software implementation of the ARC4 cipher
  parent CONFIG_DRIVER
  depend CONFIG_DEVICE_CRYPTO
  suggest CONFIG_DEVICE_DELAYED_REQUEST
%config end

%config CONFIG_DRIVER_CRYPTO_SOFT_ARC4_STREAM
  desc Enable support for stream cipher mode of operation
  parent CONFIG_DRIVER_CRYPTO_SOFT_ARC4
  default defined
%config end

%config CONFIG_DRIVER_CRYPTO_SOFT_ARC4_RANDOM
  desc Enable support for pseudo random generator mode of operation
  parent CONFIG_DRIVER_CRYPTO_SOFT_ARC4
  default defined
%config end

