
%config CONFIG_DRIVER_CRYPTO_SOFT_CRC
  desc Enable software implementation of the CRC hash
  parent CONFIG_DRIVER
  depend CONFIG_DEVICE_CRYPTO
  suggest CONFIG_DEVICE_DELAYED_REQUEST
%config end

%config CONFIG_DRIVER_CRYPTO_SOFT_CRC_NOTABLE
  desc Use slower implementation of CRC without constant lookup table
  parent CONFIG_DRIVER_CRYPTO_SOFT_CRC
  when CONFIG_COMPILE_OPTIMIZE=s
%config end

%config CONFIG_DRIVER_CRYPTO_SOFT_CRC_CRC32C
  desc CRC algorithm variant
  parent CONFIG_DRIVER_CRYPTO_SOFT_CRC
  default defined
%config end

%config CONFIG_DRIVER_CRYPTO_SOFT_CRC_CRC32
  desc CRC algorithm variant
  parent CONFIG_DRIVER_CRYPTO_SOFT_CRC
%config end

%config CONFIG_DRIVER_CRYPTO_SOFT_CRC_CRC32_IEC13818
  desc CRC algorithm variant
  parent CONFIG_DRIVER_CRYPTO_SOFT_CRC
%config end

%config CONFIG_DRIVER_CRYPTO_SOFT_CRC_CRC32_POSIX
  desc CRC algorithm variant
  parent CONFIG_DRIVER_CRYPTO_SOFT_CRC
%config end

%config CONFIG_DRIVER_CRYPTO_SOFT_CRC_CRC32_ETSI
  desc CRC algorithm variant
  parent CONFIG_DRIVER_CRYPTO_SOFT_CRC
%config end

