
%config CONFIG_DRIVER_GAISLER_GPTIMER
  desc Enable Gaisler GPTIMER device driver
  parent CONFIG_ARCH_GAISLER
  depend CONFIG_DEVICE_TIMER
  suggest CONFIG_DEVICE_IRQ
  require CONFIG_DRIVER_GAISLER_GPTIMER_PRESCALE<=65536
  require CONFIG_DRIVER_GAISLER_GPTIMER_PRESCALE>=8
%config end

%config CONFIG_DRIVER_GAISLER_GPTIMER_PRESCALE
  parent CONFIG_DRIVER_GAISLER_GPTIMER
  default 64
  desc Specify Gaisler GPTIMER prescaler division factor
  flags value
%config end
