
%config CONFIG_DRIVER_EFM32_BITBANG
  desc Enable EFM32 BITBANG driver
  parent CONFIG_ARCH_EFM32
  depend CONFIG_DEVICE_IOMUX
  depend CONFIG_DEVICE_DMA
%config end

%config CONFIG_DRIVER_EFM32_BITBANG_READ
  desc Enable reading from a pin
  parent CONFIG_DRIVER_EFM32_BITBANG
  depend CONFIG_DEVICE_IRQ
  default defined
%config end

%config CONFIG_DRIVER_EFM32_BITBANG_WRITE
  desc Enable writing to a pin
  parent CONFIG_DRIVER_EFM32_BITBANG
  default defined
%config end

%config CONFIG_DRIVER_EFM32_BITBANG_WARMUP
  desc Number of warmup cycles on write
  parent CONFIG_DRIVER_EFM32_BITBANG
  default 2048
  flags value
%config end
