
%config CONFIG_DRIVER_CRYPTO_SOFT_SHA2
  desc Enable software implementation of the SHA2 hash
  parent CONFIG_DRIVER
  depend CONFIG_DEVICE_CRYPTO
  suggest CONFIG_DEVICE_DELAYED_REQUEST
%config end

%config CONFIG_DRIVER_CRYPTO_SOFT_SHA224
  desc Enable software implementation of the SHA2-224 hash
  parent CONFIG_DRIVER_CRYPTO_SOFT_SHA2
%config end

%config CONFIG_DRIVER_CRYPTO_SOFT_SHA256
  desc Enable software implementation of the SHA2-256 hash
  parent CONFIG_DRIVER_CRYPTO_SOFT_SHA2
  default defined
%config end

%config CONFIG_DRIVER_CRYPTO_SOFT_SHA384
  desc Enable software implementation of the SHA2-384 hash
  parent CONFIG_DRIVER_CRYPTO_SOFT_SHA2
%config end

%config CONFIG_DRIVER_CRYPTO_SOFT_SHA512
  desc Enable software implementation of the SHA2-512 hash
  parent CONFIG_DRIVER_CRYPTO_SOFT_SHA2
%config end

