%config CONFIG_DRIVER_PIC32_SPI
  desc Enable PIC32 SPI controller class driver
  parent CONFIG_ARCH_PIC32
  depend CONFIG_DEVICE_SPI
  suggest CONFIG_DEVICE_IRQ
  default defined
%config end

%config CONFIG_DRIVER_PIC32_SPI_BAUDRATE
  desc Default baudrate used for PIC32 spi
  parent CONFIG_DRIVER_PIC32_SPI
  flags value
  default 1000000
%config end
