%config CONFIG_DRIVER_FS_VFAT
parent CONFIG_VFS
depend CONFIG_VFS
desc enable VFAT filesystem support
default undefined
%config end

%config CONFIG_DRIVER_FS_VFAT_DEBUG
parent CONFIG_DRIVER_FS_VFAT
desc Enables VFAT debugging
%config end

%config CONFIG_DRIVER_FS_VFAT_INSTRUMENT
parent CONFIG_DRIVER_FS_VFAT
desc Enables VFAT instrumentation
%config end

%config CONFIG_DRIVER_FS_VFAT_READBYPASSBC
desc Bypass the 'write-back full associative Buffer-Cache' for vfs_read_file operation
default undefined
parent CONFIG_DRIVER_FS_VFAT
%config end
