
%config CONFIG_ARCH_SMP
  desc Support multi-processors systems
  parent CONFIG_ARCH
  depend CONFIG_CPU_SMP_CAPABLE
  depend CONFIG_ARCH_SMP_CAPABLE
  depend CONFIG_DEVICE_CPU
  require CONFIG_ARCH_LAST_CPU_ID
  require CONFIG_ARCH_BOOTSTRAP_CPU_ID
  single CONFIG_LOAD_SMP_RESET_MERGED CONFIG_LOAD_SMP_RESET_SEPARATE CONFIG_LOAD_SMP_RESET_COPY CONFIG_LOAD_SMP_RESET_TEXT
%config end

%config CONFIG_ARCH_LAST_CPU_ID
  parent CONFIG_ARCH_SMP
  desc Greatest possible value for a processor numeric ID in the system.
  flags value
  default 0
%config end

%config CONFIG_ARCH_BOOTSTRAP_CPU_ID
  parent CONFIG_ARCH_SMP
  desc Processor ID of the bootstrap processor.
  flags value
  default 0
%config end

%config CONFIG_ARCH_SMP_RESET_RELOCATABLE
  desc This token is defined if the reset vector of non-bootstrap processors can be configured at runtime.
  parent CONFIG_ARCH_SMP
  flags meta
%config end

%config CONFIG_ARCH_CLUSTER
  desc Support multi-clusters systems
  parent CONFIG_ARCH_SMP
%config end

######################################################################

%config CONFIG_ARCH
  desc	Platform support root token
  flags	mandatory internal root
  require CONFIG_ARCH_NAME
  depend CONFIG_ARCH_META
%config end

%config CONFIG_ARCH_META
  desc meta configuration token used to impose requirements
  flags	meta single
  parent CONFIG_ARCH
%config end

%config CONFIG_ARCH_SMP_CAPABLE
  parent CONFIG_ARCH
  desc Platform is designed to support multi-processor operation
  flags meta
%config end

%config CONFIG_ARCH_NOT_SMP_CAPABLE
  parent CONFIG_ARCH
  desc No support for multi-processors systems
  when CONFIG_ARCH_SMP_CAPABLE!
  flags internal
%config end

######################################################################
# Provided token, not definable by user directly

%config CONFIG_ARCH_NAME
  parent CONFIG_ARCH
  desc	Platform name configuration token
  flags	internal value
%config end

