%config CONFIG_DRIVER_USBDEV_ECM
  parent CONFIG_DRIVER
  depend CONFIG_DEVICE_NET
  depend CONFIG_DEVICE_USBDEV
  desc Enable CDC_ECM device driver
%config end

%config CONFIG_DRIVER_USBDEV_ECM_DATA_MPS
  parent CONFIG_DRIVER_USBDEV_ECM
  desc CDC_ECM Data endpoint Max Packet Size
  default 64
  flags value
%config end
