%config CONFIG_ARCH_NRF51
  desc Nordic nRF51 platform support
  module arch Hexo
  provide CONFIG_ARCH_META
  provide CONFIG_ARCH_NAME=nrf51
  single CONFIG_NRF51_822
%config end

%init INIT_NRF51_MEM_ALLOC
  parent CONFIG_ARCH_NRF51
  during INIT_MUTEK_MEMALLOC
  function nrf51_mem_init
%init end

%config CONFIG_NRF51_822
  desc Support for nRF51822 microcontrollers
  parent CONFIG_ARCH_NRF51
  depend CONFIG_CPU_ARM32M_CORTEXM0
%config end
