
%config CONFIG_GFX
  desc Enable 2d graphic library
  module libgfx Libraries::Gfx Lightweight 2d graphic library
  flags auto
%config end

%config CONFIG_GFX_DEFAULT_L2BPP
  parent CONFIG_GFX
  desc specifies log2 of default surface bits per pixel
  flags value
%config end

%config CONFIG_GFX_LOG2_WORD_WIDTH
  parent CONFIG_GFX
  desc Specifies the log 2 word width in bytes used for performing memory access on surfaces.
  desc The storage size of a single surface row will be aligned on a word boundary.
  flags value
  default 2
%config end

%config CONFIG_GFX_BPP0
  parent CONFIG_GFX
  desc enable support for 1 bit per pixel surfaces
%config end

%config CONFIG_GFX_BPP1
  parent CONFIG_GFX
  desc enable support for 2 bit per pixel surfaces
%config end

%config CONFIG_GFX_BPP2
  parent CONFIG_GFX
  desc enable support for 4 bit per pixel surfaces
%config end

%config CONFIG_GFX_BPP3
  parent CONFIG_GFX
  desc enable support for 8 bit per pixel surfaces
%config end

%config CONFIG_GFX_BPP4
  parent CONFIG_GFX
  desc enable support for 16 bit per pixel surfaces
  require CONFIG_GFX_LOG2_WORD_WIDTH>=1
%config end

%config CONFIG_GFX_BPP5
  parent CONFIG_GFX
  desc enable support for 32 bit per pixel surfaces
  require CONFIG_GFX_LOG2_WORD_WIDTH>=2
%config end

%config CONFIG_GFX_UNROLL
  parent CONFIG_GFX
  default defined
  desc generate faster but larger code
%config end

%config CONFIG_GFX_BYTECODE
  parent CONFIG_GFX
  desc enable support for graphic bytecode interpreter
%config end

%config CONFIG_GFX_LOG2_SURFACE_SIZE
  parent CONFIG_GFX
  desc optimize by only supporting surfaces with power of 2 width and height
%config end
