
%config CONFIG_CPU_68HCS12
desc 68HCS12 processors support
default undefined
provide CONFIG_CPU_NAME=68hcs12
provide CONFIG_CPU_RESET_ADDR=0x00004000
provide CONFIG_COMPILE_SIZEOF_INT=2
provide CONFIG_CPU_ENDIAN_LITTLE

provide CONFIG_ARCH_SIMPLE_RAM_ADDR=0x2000
provide CONFIG_ARCH_SIMPLE_RAM_SIZE=8192
provide CONFIG_ARCH_SIMPLE_ROM_ADDR=0x4000
provide CONFIG_ARCH_SIMPLE_ROM_SIZE=49152


%config end

