
%config CONFIG_LIBTINYGL
    desc Enable TinyGL, a very small implementation of a subset of OpenGL*
    desc See http://bellard.org/TinyGL/
    module libtinygl
    flags auto
    depend CONFIG_LIBM
%config end

%config CONFIG_LIBTINYGL_FB
    parent CONFIG_LIBTINYGL
    desc Use the framebuffer device as backend for TinyGL
    flags auto
%config end
