######################################################################
# User definable tokens

%config CONFIG_CPU_ARM32_SOCLIB
  desc SoCLib ARM-v6
  flags harddep
  parent CONFIG_CPU_ARM32
  depend CONFIG_ARCH_SOCLIB
  depend CONFIG_COMPILE_SOFTFLOAT
  provide CONFIG_CPU_CACHE
  provide CONFIG_CPU_SMP_CAPABLE
  provide CONFIG_CPU_NAME=arm
  provide CONFIG_CPU_WAIT_IRQ
  provide CONFIG_CPU_ARM32_ARCH_VERSION=6
  provide CONFIG_CPU_HARDWARE_MUL=64
%config end

%config CONFIG_CPU_ARM32_7TDMI
  desc Arm7-TDMI
  flags harddep
  parent CONFIG_CPU_ARM32
  provide CONFIG_COMPILE_MCPU=arm7tdmi
  depend CONFIG_COMPILE_SOFTFLOAT
  provide CONFIG_CPU_NAME=arm7tdmi
  provide CONFIG_CPU_ARM32_ARCH_VERSION=4
  provide CONFIG_CPU_HARDWARE_MUL=64
%config end

%config CONFIG_CPU_ARM32_926EJS
  desc Arm926
  flags harddep
  parent CONFIG_CPU_ARM32
  provide CONFIG_COMPILE_MCPU=arm926ej-s
  depend CONFIG_COMPILE_SOFTFLOAT
  provide CONFIG_CPU_NAME=arm926ejs
  provide CONFIG_CPU_ARM32_ARCH_VERSION=5
  provide CONFIG_CPU_HARDWARE_MUL=64
%config end

%config CONFIG_CPU_ARM32_1176
  desc Arm 1176
  flags harddep
  parent CONFIG_CPU_ARM32
  provide CONFIG_CPU_CACHE
  depend CONFIG_COMPILE_SOFTFLOAT
  provide CONFIG_COMPILE_MCPU=arm1176jz-s
  provide CONFIG_CPU_NAME=arm1176
  provide CONFIG_CPU_EXCEPTION_RELOCATABLE
  provide CONFIG_CPU_WAIT_IRQ
  provide CONFIG_CPU_ARM32_ARCH_VERSION=6
  provide CONFIG_CPU_HARDWARE_MUL=64
%config end

%config CONFIG_CPU_ARM32_1176F
  desc Arm 1176
  flags harddep
  parent CONFIG_CPU_ARM32
  provide CONFIG_CPU_CACHE
  provide CONFIG_COMPILE_MCPU=arm1176jzf-s
  provide CONFIG_CPU_NAME=arm1176f
  provide CONFIG_CPU_EXCEPTION_RELOCATABLE
  provide CONFIG_CPU_WAIT_IRQ
  provide CONFIG_CPU_ARM32_ARCH_VERSION=6
  provide CONFIG_CPU_HARDWARE_MUL=64
%config end

%config CONFIG_CPU_ARM32_CORTEXA8
  desc Arm Cortex-A8
  flags harddep
  parent CONFIG_CPU_ARM32
  provide CONFIG_CPU_CACHE
  provide CONFIG_CPU_SMP_CAPABLE
  provide CONFIG_COMPILE_MCPU=cortex-a8
  provide CONFIG_CPU_NAME=arm_cortex_a8
  provide CONFIG_CPU_EXCEPTION_RELOCATABLE
  provide CONFIG_CPU_WAIT_IRQ
  provide CONFIG_CPU_ARM32_ARCH_VERSION=7
  provide CONFIG_CPU_HARDWARE_MUL=64
%config end

%config CONFIG_CPU_ARM32_CORTEXA9
  desc Arm Cortex-A9
  flags harddep
  parent CONFIG_CPU_ARM32
  provide CONFIG_CPU_CACHE
  provide CONFIG_CPU_SMP_CAPABLE
  provide CONFIG_COMPILE_MCPU=cortex-a9
  provide CONFIG_CPU_NAME=arm_cortex_a9
  provide CONFIG_CPU_EXCEPTION_RELOCATABLE
  provide CONFIG_CPU_WAIT_IRQ
  provide CONFIG_CPU_ARM32_ARCH_VERSION=7
  provide CONFIG_CPU_HARDWARE_MUL=64
%config end

%config CONFIG_CPU_ARM32_THUMB
  desc Generate ARM thumb code
  parent CONFIG_CPU_ARM32
%config end

%config CONFIG_CPU_ARM32_CUSTOM_IRQ_HANDLER
  desc Redirect the IRQ exception entry point to the user defined function arm_c_irq_handler
  parent CONFIG_CPU_ARM32
  exclude CONFIG_HEXO_IRQ
%config end

%config CONFIG_CPU_ARM32_CUSTOM_FIQ_HANDLER
  desc Redirect the FIQ exception entry point to the user defined function arm_c_fiq_handler
  parent CONFIG_CPU_ARM32
%config end

######################################################################
# Provided tokens, not definable by user directly

%config CONFIG_CPU_ARM32
  desc ARM processors support
  provide CONFIG_CPU_META
  flags internal
  module cpu Processors::ARM 32 bit processor

  when CONFIG_CPU_ARM32_SOCLIB
  when CONFIG_CPU_ARM32_7TDMI
  when CONFIG_CPU_ARM32_CORTEXA8
  when CONFIG_CPU_ARM32_CORTEXA9
  when CONFIG_CPU_ARM32_926EJS
  when CONFIG_CPU_ARM32_1176
  when CONFIG_CPU_ARM32_1176F

  provide CONFIG_CPU_ARCHNAME=arm32
  single CONFIG_CPU_ARM32_SOCLIB CONFIG_CPU_ARM32_7TDMI CONFIG_CPU_ARM32_CORTEXA8 CONFIG_CPU_ARM32_CORTEXA9 CONFIG_CPU_ARM32_1176 CONFIG_CPU_ARM32_1176F CONFIG_CPU_ARM32_926EJS
  provide CONFIG_HEXO_STACK_ALIGN=8

  provide CONFIG_CPU_EXCEPTION_ADDR=0x00000000
  exclude CONFIG_HEXO_CONTEXT_NESTED
  exclude CONFIG_HEXO_CONTEXT_STACK_IRQ
  single CONFIG_CPU_ARM32_LITTLE CONFIG_CPU_ARM32_BIG_BE32 CONFIG_CPU_ARM32_BIG_BE8

  require CONFIG_CPU_ARM32_ARCH_VERSION

  provide CONFIG_CPU_EXCEPTION_SIZE=0x00000100
  provide CONFIG_CPU_EXCEPTION_ALIGN=0x00000004
  provide CONFIG_CPU_RESET_ADDR=0x00000000
  provide CONFIG_CPU_RESET_SIZE=12
  provide CONFIG_CPU_NONALIGNED_ACCESS=1
%config end

%config CONFIG_DRIVER_CPU_ARM32
  desc Enable driver for ARM CPU
  parent CONFIG_CPU_ARM32
  depend CONFIG_DEVICE_CPU
  default defined
%config end

%config CONFIG_CPU_ARM32_ARCH_VERSION
  desc ARM processor architecture version
  flags internal value
  parent CONFIG_CPU_ARM32
%config end

%config CONFIG_CPU_ARM32_TIMER_CYCLECOUNTER
  desc Enable timer driver for ARM-v6 cycle counter
  parent CONFIG_CPU_ARM32
  when CONFIG_CPU_ARM32_ARCH_VERSION>=6
  depend CONFIG_DEVICE_TIMER
%config end

%config CONFIG_CPU_ARM32_LITTLE
  desc Select ARM little endian mode
  parent CONFIG_CPU_ARM32
  provide CONFIG_CPU_ENDIAN_LITTLE
  when CONFIG_CPU_ARM32_BIG_BE8! CONFIG_CPU_ARM32_BIG_BE32!
%config end

%config CONFIG_CPU_ARM32_BIG_BE32
  desc Select ARM legacy big endian mode (code & data are big endian)
  parent CONFIG_CPU_ARM32
  provide CONFIG_CPU_ENDIAN_BIG
%config end

%config CONFIG_CPU_ARM32_BIG_BE8
  desc Select ARM data big endian mode (big endian for data only)
  parent CONFIG_CPU_ARM32
  provide CONFIG_CPU_ENDIAN_BIG
%config end

%config CONFIG_CPU_ARM32_NEON
  desc Enable use of ARM Neon instructions
  parent CONFIG_CPU_ARM32
  depend CONFIG_HEXO_FPU
%config end

