%config CONFIG_DRIVER_MEM_SD1306
  desc Enable SD1306 OLED driver as a memory
  parent CONFIG_DRIVER
  depend CONFIG_DEVICE_SPI
  depend CONFIG_DEVICE_SPI_BYTECODE
  depend CONFIG_DEVICE_SPI_BYTECODE_GPIO
  depend CONFIG_DEVICE_SPI_BYTECODE_TIMER
  depend CONFIG_DEVICE_MEM
%config end

%config CONFIG_DRIVER_MEM_SD1306_POWER_GATING
  desc SSD1306 Power Gating support
  parent CONFIG_DRIVER_MEM_SD1306
  depend CONFIG_DEVICE_CLOCK
%config end
