
%config CONFIG_DRIVER_EFM32_AES
  desc Enable driver for EFM32 AES crypto
  parent CONFIG_ARCH_EFM32
  depend CONFIG_DEVICE_CRYPTO
  suggest CONFIG_DEVICE_DELAYED_REQUEST
%config end

%config CONFIG_DRIVER_EFM32_AES_KEY256
  desc Enable support for 256 bits keys
  parent CONFIG_DRIVER_EFM32_AES
  # require CONFIG_EFM32_CFAMILY!=EFM32_CFAMILY_EFM32ZG
%config end

%config CONFIG_DRIVER_EFM32_AES_ECB
  desc Enable ECB mode for EFM32 AES
  parent CONFIG_DRIVER_EFM32_AES
  default defined
%config end

%config CONFIG_DRIVER_EFM32_AES_CBC
  desc Enable CBC mode for EFM32 AES
  parent CONFIG_DRIVER_EFM32_AES
  default defined
%config end

%config CONFIG_DRIVER_EFM32_AES_CTR
  desc Enable CTR mode for EFM32 AES
  parent CONFIG_DRIVER_EFM32_AES
  default defined
%config end

%config CONFIG_DRIVER_EFM32_AES_OCB3
  desc Enable OCB3 mode as specified in RFC7253 for EFM32 AES
  parent CONFIG_DRIVER_EFM32_AES
  default defined
%config end

%config CONFIG_DRIVER_EFM32_AES_OCB3_MAXBLOCKS
  desc Specifies the maximum number of blocks processed in OCB mode
  parent CONFIG_DRIVER_EFM32_AES
  default 15
  flags value
%config end

%config CONFIG_DRIVER_EFM32_AES_AD
  desc Handle assocaited data with authenticated modes
  parent CONFIG_DRIVER_EFM32_AES
  default defined
%config end

%config CONFIG_DRIVER_EFM32_AES_CTXCOUNT
  desc Specifies the number of cached crypto contexts
  parent CONFIG_DRIVER_EFM32_AES
  default 2
  flags value
%config end

%config CONFIG_DRIVER_EFM32_AES_RANDOM
  desc Enable AES based PRNG
  parent CONFIG_DRIVER_EFM32_AES
  default defined
%config end

