
%config CONFIG_LIBDSRL
desc Lua API for dynamic SRL
flags root
module libdsrl
depend CONFIG_MUTEK_SCHEDULER
require CONFIG_MUTEK_SCHEDULER_MIGRATION=undefined
depend CONFIG_ARCH_SOCLIB
#depend CONFIG_MWMR
#depend CONFIG_MWMR_SOCLIB
depend CONFIG_LIBLUA
depend CONFIG_VFS
depend CONFIG_LIBELF_RTLD
#require CONFIG_MUTEK_MAIN=undefined
require CONFIG_ARCH_SOCLIB_RAMLOCK=undefined
%config end

%config CONFIG_LIBDSRL_DEBUG
desc Enable DSRL lib debug information
parent CONFIG_LIBDSRL
default undefined
%config end

# vim: filetype=conf
