%config CONFIG_DRIVER_MTCH6102
  parent CONFIG_DRIVER
  desc Enable MTCH6102 Touchpad ValIO driver
  depend CONFIG_DEVICE_VALIO
%config end

%config CONFIG_DRIVER_DS3231
  parent CONFIG_DRIVER
  desc Enable DS3231 Calendar Clock ValIO driver
  depend CONFIG_DEVICE_VALIO
%config end

%config CONFIG_DRIVER_ADXL345
  parent CONFIG_DRIVER
  desc Enable ADXL345 accelerometer Valio driver
  depend CONFIG_DEVICE_VALIO
  depend CONFIG_DEVICE_I2C
%config end

