%config CONFIG_DRIVER_MTCH6102
  parent CONFIG_DRIVER
  desc Enable MTCH6102 Touchpad ValIO driver
  depend CONFIG_DEVICE_VALIO_TOUCHPAD
%config end

%config CONFIG_DRIVER_ADXL345
  parent CONFIG_DRIVER
  desc Enable ADXL345 accelerometer Valio driver
  depend CONFIG_DEVICE_VALIO_MOTION
  depend CONFIG_DEVICE_I2C
%config end

%config CONFIG_DRIVER_IS31FL3194
  parent CONFIG_DRIVER
  desc Enable IS31FL3194 accelerometer Valio driver
  depend CONFIG_DEVICE_VALIO_LED
  depend CONFIG_DEVICE_I2C
  depend CONFIG_DEVICE_I2C_BYTECODE
  depend CONFIG_DEVICE_I2C_BYTECODE_TIMER
  depend CONFIG_DEVICE_INIT_ASYNC
%config end

%config CONFIG_DRIVER_PUSH_BUTTON
  parent CONFIG_DRIVER
  desc Support for push button
  depend CONFIG_DEVICE_IRQ
  depend CONFIG_DEVICE_VALIO_BUTTON
%config end

%config CONFIG_DRIVER_PUSH_BUTTON_TIMER
  desc Support for timestamp in push button driver
  parent CONFIG_DRIVER_PUSH_BUTTON
  default defined
%config end

%config CONFIG_DRIVER_PUSH_BUTTON_REPEAT
  desc Support for repeat push events in driver
  parent CONFIG_DRIVER_PUSH_BUTTON
  depend CONFIG_DRIVER_PUSH_BUTTON_TIMER
  default defined
%config end

%config CONFIG_DRIVER_PUSH_BUTTON_DELAYED
  desc Support for delayed push events in driver
  parent CONFIG_DRIVER_PUSH_BUTTON
  depend CONFIG_DRIVER_PUSH_BUTTON_TIMER
  default defined
%config end

%config CONFIG_DRIVER_PUSH_BUTTON_SOFT_DEBOUNCING
  desc Support for software debouncing in driver
  parent CONFIG_DRIVER_PUSH_BUTTON
  depend CONFIG_DRIVER_PUSH_BUTTON_TIMER
  default undefined
%config end

%config CONFIG_DRIVER_PUSH_BUTTON_SOFT_DEBOUNCING_TIMING
  desc Software debouncing lock time in ms
  parent CONFIG_DRIVER_PUSH_BUTTON_SOFT_DEBOUNCING
  flags value
  default 10
%config end

%config CONFIG_DRIVER_BUTTON_SET
  parent CONFIG_DRIVER
  desc Enable GPIO-based set of button button keyboard Valio driver
  depend CONFIG_DEVICE_VALIO_KEYBOARD
  depend CONFIG_DEVICE_GPIO
  provide CONFIG_DEVICE_START_LOG2INC=1
  depend CONFIG_DEVICE_SLEEP
%config end
