
%config CONFIG_DRIVER_RFPACKET_S2LP
  desc Enable ST S2-LP radio frequency driver
  parent CONFIG_DRIVER
  depend CONFIG_DEVICE_RFPACKET
  depend CONFIG_DEVICE_INIT_ASYNC
  depend CONFIG_DEVICE_IRQ
  depend CONFIG_DEVICE_SPI
  depend CONFIG_DEVICE_SPI_BYTECODE
  depend CONFIG_DEVICE_SPI_BYTECODE_TIMER
  depend CONFIG_DEVICE_SPI_BYTECODE_GPIO
  require CONFIG_DRIVER_RFPACKET_S2LP_SPI_BITRATE<=10000000
%config end

%config CONFIG_DRIVER_RFPACKET_S2LP_FREQ_XO
  desc S2-LP XO frequency
  parent CONFIG_DRIVER_RFPACKET_S2LP
  default 50000000U
  flags value
%config end

%config CONFIG_DRIVER_RFPACKET_S2LP_SPI_BITRATE
  desc S2-LP spi clock speed
  parent CONFIG_DRIVER_RFPACKET_S2LP
  default 1000000
  flags value
%config end

%config CONFIG_DRIVER_RFPACKET_S2LP_GFSK_BT_FILTER_1
  desc Set S2-LP GFSK BT filter value to 1 (0.5 otherwise)
  parent CONFIG_DRIVER_RFPACKET_S2LP
  default defined
%config end