%config CONFIG_LIBELF
desc "Enable ability to load (static) elf executables"
provide CONFIG_MODULES=+librtld:%CONFIGPATH
provide CONFIG_LICENSE_USE_GPL
depend CONFIG_VFS
%config end

%config CONFIG_LIBELF_DYNAMIC
desc "Enable ability to load dynamic elf executables"
parent CONFIG_LIBELF
default undefined
%config end

%config CONFIG_LIBELF_DEBUG
desc "Enable libELF debbugging verbosity (0=nothing, 1=trace, 2=debug)"
parent CONFIG_LIBELF
default 0
%config end

%config CONFIG_LIBELF_HACKVFSNAME
desc "Convert pathnames into uppershort names"
parent CONFIG_LIBELF
default defined
%config end


%config CONFIG_LIBELF_RTLD
desc "Enable RunTime LoaDer library (load and relocate dynamic elf executables)"
provide CONFIG_LIBELF
provide CONFIG_LIBELF_DYNAMIC
%config end

%config CONFIG_LIBELF_RTLD_TLS
desc "Provide 'Thread Local Storage' support for elf executables"
parent CONFIG_LIBELF_RTLD
default defined
%config end

%config CONFIG_LIBELF_RTLD_KERNEL
desc "Allows to load kernel modules (not implemented yet)"
parent CONFIG_LIBELF_RTLD
exclude CONFIG_LIBELF_RTLD_TLS # TLS is non-sense for kernel module
default undefined
%config end

# vim: filetype=conf
