%config CONFIG_DRIVER_NET_DWC10100
  parent CONFIG_DRIVER
  depend CONFIG_DEVICE_NET
  depend CONFIG_NET
  depend CONFIG_NET_ETHERNET
  depend CONFIG_MUTEK_KROUTINE_SCHED
  desc Enable Synopsys DesignWare 10/100 Ethernet MAC
%config end

%config CONFIG_DRIVER_NET_DWC10100_SMI_MEM
  parent CONFIG_DRIVER_NET_DWC10100
  depend CONFIG_DEVICE_MEM
  desc Export SMI access through Memory device interface
%config end
