
%config CONFIG_DRIVER_NET_NE2000
  desc enable NE2000 network device support
  default undefined
  depend CONFIG_NETWORK
  depend CONFIG_ARCH_IBMPC
  depend CONFIG_DRIVER_ICU
  provide CONFIG_DRIVER_NET
%config end

%config CONFIG_DRIVER_NET_NE2000_FRAGMENT
  desc NE2000 driver option: use fragmenation
  parent CONFIG_DRIVER_NET_NE2000
  default defined
%config end

