
%config CONFIG_DRIVER_SOCLIB_SPI
  desc Enable SoCLib SPI controller driver
  parent CONFIG_ARCH_SOCLIB
  depend CONFIG_DEVICE_SPI
  suggest CONFIG_DEVICE_IRQ
%config end

%config CONFIG_DRIVER_SOCLIB_SPI_ICU
  desc Enable support the external interrupt controller feature of the SoCLib SPI controller
  parent CONFIG_DRIVER_SOCLIB_SPI
  depend CONFIG_DEVICE_ICU
  default defined
%config end

%config CONFIG_DRIVER_SOCLIB_SPI_GPIO
  desc Enable support for the GPIO feature of the SoCLib SPI controller
  parent CONFIG_DRIVER_SOCLIB_SPI
  depend CONFIG_DEVICE_GPIO
  default defined
%config end

