
%config CONFIG_DRIVER_PIC32_UART
  desc Enable PIC32 UART driver
  parent CONFIG_ARCH_PIC32
%config end

%config CONFIG_DRIVER_PIC32_UART_PRINTK
  desc Enable PIC32 early console
  parent CONFIG_DRIVER_PIC32_UART
  depend CONFIG_MUTEK_PRINTK
  provide CONFIG_MUTEK_PRINTK_HANDLER
  require CONFIG_MUTEK_PRINTK_ADDR!=0
  require CONFIG_DRIVER_PIC32_UART_PRINTK_PIN
  require CONFIG_DRIVER_PIC32_UART_PRINTK_BAUDRATE
  when CONFIG_MUTEK_PRINTK CONFIG_MUTEK_PRINTK_ADDR=0x1F802000
  when CONFIG_MUTEK_PRINTK CONFIG_MUTEK_PRINTK_ADDR=0x1F802200
  when CONFIG_MUTEK_PRINTK CONFIG_MUTEK_PRINTK_ADDR=0x1F802400
  when CONFIG_MUTEK_PRINTK CONFIG_MUTEK_PRINTK_ADDR=0x1F802600
  when CONFIG_MUTEK_PRINTK CONFIG_MUTEK_PRINTK_ADDR=0x1F802800
  when CONFIG_MUTEK_PRINTK CONFIG_MUTEK_PRINTK_ADDR=0x1F802A00
%config end

%config CONFIG_DRIVER_PIC32_UART_PRINTK_PIN
  desc Specify PIC32 UART pin used for printk TX
  parent CONFIG_DRIVER_PIC32_UART_PRINTK
  flags value
%config end

%config CONFIG_DRIVER_PIC32_UART_PRINTK_BAUDRATE
  desc Baudrate used for PIC32 early console
  parent CONFIG_DRIVER_PIC32_UART_PRINTK
  flags value
  default 115200
%config end

%init INIT_DRIVER_PIC32_UART_PRINTK
  parent CONFIG_DRIVER_PIC32_UART_PRINTK
  during INIT_MUTEK_PRINTK
  function pic32_uart_printk_init
%init end

%config CONFIG_DRIVER_PIC32_UART_CHAR
  desc Enable PIC32 UART driver
  parent CONFIG_DRIVER_PIC32_UART
%config end

%config CONFIG_DRIVER_PIC32_UART_CHAR_SWFIFO
  desc Size of the additional software FIFOs. 0 disables software FIFOs.
  parent CONFIG_DRIVER_PIC32_UART_CHAR
  flags value
  default 32
%config end
