
%config CONFIG_ARCH_IBMPC
  desc IBM PC platform support
  provide CONFIG_ARCH_META
  module arch Platforms::IBM PC
  provide CONFIG_ARCH_NAME=ibmpc
  provide CONFIG_ARCH_SMP_CAPABLE
%config end

%init INIT_IBMPC_MEM_ALLOC
  parent CONFIG_ARCH_IBMPC
  during INIT_MUTEK_MEMALLOC
  function ibmpc_mem_init
%init end

%init INIT_IBMPC_START_CPUS
  parent CONFIG_ARCH_IBMPC
  condition CONFIG_ARCH_SMP
  during INIT_START_CPUS
  function ibmpc_start_cpus
%init end

%config CONFIG_IBMPC_PRINTK_VGA
  desc Enable early text console before real drivers init.
  desc Text output will be written to vga text buffer at 0xb8000.
  provide CONFIG_MUTEK_PRINTK_HANDLER
  depend CONFIG_MUTEK_PRINTK
  parent CONFIG_ARCH_IBMPC
%config end

%config CONFIG_IBMPC_PRINTK_UART
  desc Enable early text console before real drivers init.
  desc Text output will be sent to 16550 UART.
  provide CONFIG_MUTEK_PRINTK_HANDLER
  depend CONFIG_MUTEK_PRINTK
  parent CONFIG_ARCH_IBMPC
%config end

%config CONFIG_IBMPC_PRINTK_UART_PORT
  desc Defines early console 16550 UART port address.
  parent CONFIG_IBMPC_PRINTK_UART
  flags value
  default 0x3f8
%config end

%config CONFIG_IBMPC_PRINTK_E9HACK
  desc Enable early text console before real drivers init.
  desc Text output will be written to 0xe9 port, supported by Qemu and Bochs emulators.
  provide CONFIG_MUTEK_PRINTK_HANDLER
  depend CONFIG_MUTEK_PRINTK
  parent CONFIG_ARCH_IBMPC
%config end

%init INIT_IBMPC_PRINTK
  parent CONFIG_ARCH_IBMPC
  condition CONFIG_MUTEK_PRINTK
  during INIT_MUTEK_PRINTK
  function ibmpc_printk_init
%init end

%config CONFIG_ARCH_IBMPC_MEMORY
  desc Set the amount of ram memory. Ram size will be autodetected if this token is diabled.
  flags value
  parent CONFIG_ARCH_IBMPC
%config end

%config CONFIG_ARCH_IBMPC_DMA
  desc Support 8237 dma controller found in IBM PCs
  parent CONFIG_ARCH_IBMPC
%config end

