
%config CONFIG_ARCH_IBMPC
desc IBM PC platform support
module arch Hexo
default	undefined
provide	CONFIG_ARCH_NAME=ibmpc
provide CONFIG_ROM_ADDR=0x00100000
provide CONFIG_ROM_SIZE=0x00200000
provide CONFIG_RAM_ADDR=0x00300000
provide CONFIG_RAM_SIZE=0x00200000
require CONFIG_ARCH_HW_INIT
%config end

%config CONFIG_ARCH_IBMPC_MEMORY
desc Set the amount of ram memory. Ram size will be autodetected if this token is diabled.
parent CONFIG_ARCH_IBMPC
%config end

%config CONFIG_ARCH_IBMPC_DMA
desc Support 8237 dma controller found in IBM PCs
parent CONFIG_ARCH_IBMPC
%config end

