%config CONFIG_SYSTEMVIEW
  desc Segger SystemView instrumentation
  module systemview
  depend CONFIG_DRIVER_RTT
  provide CONFIG_MUTEK_INSTRUMENTATION
%config end

%init INIT_SYSTEMVIEW_INSTRUMENTATION
  parent CONFIG_SYSTEMVIEW
  during INIT_INSTRUMENTATION
  before INIT_MUTEK_INSTRUMENTATION
  function init_systemview
%init end

%config CONFIG_SYSTEMVIEW_WAIT
  desc Wait systemview start before running main
  parent CONFIG_SYSTEMVIEW
%config end

%init INIT_SYSTEMVIEW_START
  parent CONFIG_SYSTEMVIEW
  during INIT_SMP
  after INIT_MUTEK_SCHEDULER_INITSMP
  before INIT_APP_START
  function init_systemview_start
%init end

%init INIT_SYSTEMVIEW_INSTRUMENTATION_SMP
  parent CONFIG_SYSTEMVIEW
  during INIT_INSTRUMENTATION_SMP
  condition CONFIG_ARCH_SMP
%init end

%config CONFIG_SYSTEMVIEW_INSTRUMENTATION_CHANNEL_COUNT
  desc SystemView Channel ID
  parent CONFIG_SYSTEMVIEW
  provide CONFIG_DRIVER_RTT_BIDIR_CHANNEL
  flags value
  default 1
%config end

%config CONFIG_SYSTEMVIEW_TX_BUFFER_SIZE
  desc SystemView transmit buffer size
  parent CONFIG_SYSTEMVIEW
  flags value
  default 512
%config end

%config CONFIG_SYSTEMVIEW_RX_BUFFER_SIZE
  desc SystemView receive buffer size
  parent CONFIG_SYSTEMVIEW
  flags value
  default 16
%config end
