%config CONFIG_DRIVER_SEGGER_RTT
  desc Segger RTT driver
  parent CONFIG_DRIVER
  flags auto
%config end

%config CONFIG_DRIVER_SEGGER_RTT_PRINTK
  desc Use segger RTT printk
  parent CONFIG_DRIVER_SEGGER_RTT
  depend CONFIG_MUTEK_PRINTK
  provide CONFIG_MUTEK_PRINTK_HANDLER
%config end

%config CONFIG_RTT_PRINTK_RINGBUFFER_SIZE
  desc Segger RTT printk buffer size
  parent CONFIG_DRIVER_SEGGER_RTT_PRINTK
  flags value
  default 512
%config end

%init INIT_DRIVER_SEGGER_RTT_PRINTK
  parent CONFIG_DRIVER_SEGGER_RTT_PRINTK
  during INIT_MUTEK_PRINTK
  function rtt_printk_init
%init end
