%config CONFIG_PERSIST
  desc Provide support for persitent storage of values in flash memory
  flags auto
  module libpersist Libraries::Persistent configuration service
%config end

%config CONFIG_PERSIST_RAM_BACKEND
  parent CONFIG_PERSIST
  desc Change persist backend to ram simulating flash write/erase
  require CONFIG_PERSIST_RAM_BACKEND_PAGESIZE
%config end

%config CONFIG_PERSIST_RAM_BACKEND_PAGESIZE
  parent CONFIG_PERSIST_RAM_BACKEND
  desc Set page size for the compiled test
  flags value
  default 0x1000
%config end
