%config CONFIG_BLE_PROFILE_OAD
  parent CONFIG_BLE
  desc Over the air update profile (client/service)
%config end

%config CONFIG_BLE_PROFILE_OAD_CLIENT
  parent CONFIG_BLE_PROFILE_OAD
  desc Over the air update profile client
  depend CONFIG_BLE_CENTRAL
%config end

%config CONFIG_BLE_PROFILE_OAD_SERVICE
  parent CONFIG_BLE_PROFILE_OAD
  desc Over the air update profile service
  depend CONFIG_BLE_PERIPHERAL
%config end
