%config CONFIG_BLE_PROFILE_OAD
  desc Over the air update profile (client/service)
%config end

%config CONFIG_BLE_PROFILE_OAD_CLIENT
  parent CONFIG_BLE_PROFILE_OAD
  desc Over the air update profile client
%config end

%config CONFIG_BLE_PROFILE_OAD_SERVICE
  parent CONFIG_BLE_PROFILE_OAD
  desc Over the air update profile service
%config end
