
%config CONFIG_HEXO
desc Hardware abstraction layer
flags mandatory root nodefine
module hexo Hexo
default defined
%config end

%config CONFIG_HEXO_IRQ
desc Hardware interrupts support
default defined
parent CONFIG_HEXO
%config end

%config CONFIG_HEXO_IPI
desc Inter processor interrupts support
depend CONFIG_SMP
parent CONFIG_HEXO
%config end

%config CONFIG_HEXO_MMU
desc Enable MMU driver
default undefined
require CONFIG_HEXO_MMU_PADDR
require CONFIG_HEXO_MMU_VADDR
require CONFIG_HEXO_CPU_MMU CONFIG_HEXO_ARCH_MMU
single CONFIG_HEXO_CPU_MMU CONFIG_HEXO_ARCH_MMU
%config end

%config CONFIG_HEXO_CPU_MMU
desc Use processor MMU driver implementation
parent CONFIG_HEXO_MMU
%config end

%config CONFIG_HEXO_ARCH_MMU
desc Use platform MMU driver implementation
parent CONFIG_HEXO_MMU
%config end

%config CONFIG_HEXO_MMU_PADDR
desc Physical address size used by MMU
flags value
parent CONFIG_HEXO_MMU
%config end

%config CONFIG_HEXO_MMU_VADDR
desc Virtual address size used by MMU
flags value
parent CONFIG_HEXO_MMU
%config end

%config CONFIG_HEXO_INTTYPES_DEPRECATED
desc Mark short, int and long compiler types has deprecated because their size may vary between architectures
default defined
parent CONFIG_HEXO
%config end

######################################################################
# Provided token, not definable by user directly

%config CONFIG_HEXO_MMU_PAGESIZE
desc Virtual memory physical page size
flags nodefine value
parent CONFIG_HEXO_MMU
%config end

