
%config CONFIG_HEXO
  desc Hardware abstraction layer
  flags mandatory
  provide CONFIG_LICENSE_USE_LGPL
  module hexo Core::Hardware abstraction layer
  require CONFIG_HEXO_CPU_STACK_SIZE
%config end

%config CONFIG_HEXO_IRQ
  desc Hardware interrupts support
  flags auto
  parent CONFIG_HEXO
%config end

%config CONFIG_HEXO_EXCEP
  desc Processor exceptions support
  flags auto
  parent CONFIG_HEXO
%config end

%config CONFIG_HEXO_INTERRUPT_STACK
  desc Use a special stack for interrupts
  flags auto
  parent CONFIG_HEXO
  require CONFIG_HEXO_INTERRUPT_STACK_SIZE
%config end

%config CONFIG_HEXO_INTERRUPT_STACK_SIZE
  desc Interrupts stack size
  flags value maxval
  default 4096
  parent CONFIG_HEXO_INTERRUPT_STACK
%config end

%config CONFIG_HEXO_IPI
  desc Inter processor interrupts support
  flags auto
  depend CONFIG_ARCH_SMP
  depend CONFIG_CPU_WAIT_IRQ
  depend CONFIG_HEXO_IRQ
  suggest_when CONFIG_ARCH_SMP
  parent CONFIG_HEXO
%config end

%config CONFIG_HEXO_FPU
  desc Enables hardware floating points support
  flags auto
  parent CONFIG_HEXO_CONTEXT
  exclude CONFIG_COMPILE_SOFTFLOAT
%config end

%config CONFIG_HEXO_LAZY_SWITCH
  desc Enable optimized partial context switching of extra (fpu and simd) registers
  parent CONFIG_HEXO
  depend CONFIG_HEXO_IRQ
  suggest_when CONFIG_HEXO_IRQ CONFIG_HEXO_FPU
%config end

%config CONFIG_HEXO_CONTEXT
  parent CONFIG_HEXO
  default defined
  desc Enable processor context save/restore
  depend CONFIG_MUTEK_MEMALLOC
%config end

%init INIT_HEXO_CONTEXT
  parent CONFIG_HEXO_CONTEXT
  desc Initialization of processor contexts and first interrupts enable.
  desc Execution context save/restore and interrupts/exceptions are allowed once this is done.
  during INIT_SMP
  after INIT_CPUS
  function hexo_context_initsmp
%init end

%config CONFIG_HEXO_CONTEXT_NESTED
  parent CONFIG_HEXO_CONTEXT
  flags auto
  desc Enable nested save/restore of registers in the same context.
  desc This allows either an explicit context switch, or an irq/fault to occur during execution of an irq/fault/syscall handler.
  desc Interrupts can be re-enabled by the handler code when this configuration token is enabled.
  require CONFIG_HEXO_CONTEXT_NESTED_COUNT>1
%config end

%config CONFIG_HEXO_CONTEXT_NESTED_COUNT
  parent CONFIG_HEXO_CONTEXT_NESTED
  flags value
  desc Specify the number of nested register save buffers allocated for a single context.
  default 2
%config end

%config CONFIG_HEXO_CONTEXT_PREEMPT
  parent CONFIG_HEXO_CONTEXT
  flags auto
  desc Enable context switching on interrupts
%config end

%config CONFIG_HEXO_CONTEXT_IRQEN
  parent CONFIG_HEXO_CONTEXT
  flags auto
  desc Enable hook function on irq restore enable
  depend CONFIG_HEXO_IRQ
%config end

%config CONFIG_HEXO_CONTEXT_STACK_IRQ
  parent CONFIG_HEXO_CONTEXT
  desc Execute irq handlers on the idle context stack
  depend CONFIG_HEXO_IRQ
%config end

%config CONFIG_HEXO_CONTEXT_STATS
  parent CONFIG_HEXO_CONTEXT
  desc Enable context stats collection
%config end

%config CONFIG_HEXO_LOCK_DEBUG
  parent CONFIG_HEXO
  desc Enable spin lock deadlock detection
  depend CONFIG_LIBC_ASSERT
  when CONFIG_DEBUG
  when CONFIG_RELEASE!
%config end

%config CONFIG_HEXO_USERMODE
  parent CONFIG_HEXO
  depend CONFIG_HEXO_CONTEXT
  flags auto
  desc Enable processor user privilege level support
%config end

%config CONFIG_HEXO_MMU
  desc Enable MMU driver
  flags auto
  parent CONFIG_HEXO
  single CONFIG_HEXO_CPU_MMU CONFIG_HEXO_ARCH_MMU
%config end

%config CONFIG_HEXO_CPU_MMU
  desc Use processor MMU driver implementation
  parent CONFIG_HEXO_MMU
%config end

%config CONFIG_HEXO_ARCH_MMU
  desc Use platform MMU driver implementation
  parent CONFIG_HEXO_MMU
%config end

%config CONFIG_HEXO_MMU_PADDR
  desc Physical address size used by MMU
  flags value
  parent CONFIG_HEXO_MMU
%config end

%config CONFIG_HEXO_MMU_VADDR
  desc Virtual address size used by MMU
  flags value
  parent CONFIG_HEXO_MMU
%config end

%config CONFIG_HEXO_INTTYPES_DEPRECATED
  desc Mark short, int and long compiler types has deprecated because their size may vary between architectures
  # replaced with -D_HEXO_INTTYPES_DEPRECATED in DIR_CFLAGS
  flags deprecated
  default defined
  parent CONFIG_HEXO
%config end

%config CONFIG_HEXO_INTTYPES_SMALL
  desc Use shortest possible integer types for int_fast*_t and uint_fast*_t types instead of optimal ones
  when CONFIG_COMPILE_OPTIMIZE=s
  parent CONFIG_HEXO
%config end

%config CONFIG_HEXO_STACK_ALIGN
  desc Stack alignment constraint
  flags value maxval
  default 16
  parent CONFIG_HEXO
%config end

%config CONFIG_HEXO_CPU_STACK_SIZE
  desc This specifies the size of the processor main context stack.
  flags value maxval
  parent CONFIG_HEXO_CONTEXT
  default 4096
%config end

######################################################################
# Provided token, not definable by user directly

%config CONFIG_HEXO_MMU_PAGESIZE
  desc Virtual memory physical page size
  flags internal value
  parent CONFIG_HEXO_MMU
%config end

