
%config CONFIG_HEXO_DEVICE_TREE
desc Have all device nodes sorted in a tree form
default defined
%config end

%config CONFIG_HEXO_IPI
desc Inter processor interrupts support
depend CONFIG_SMP
%config end

%config CONFIG_HEXO_MEMALLOC_ALGO
desc Enable use of memory allocation algorithm.
desc Incremental memory allocation without freeing is performed if this token is undefined.
default defined
require CONFIG_HEXO_MEMALLOC_ALGO_FIRSTFIT CONFIG_HEXO_MEMALLOC_ALGO_BESTFIT
single CONFIG_HEXO_MEMALLOC_ALGO_FIRSTFIT CONFIG_HEXO_MEMALLOC_ALGO_BESTFIT
%config end

%config CONFIG_HEXO_MEMALLOC_ALGO_FIRSTFIT
desc select memory allocation algorithm first fit
parent CONFIG_HEXO_MEMALLOC_ALGO
default defined
%config end

%config CONFIG_HEXO_MEMALLOC_ALGO_BESTFIT
desc select memory allocation algorithm best fit
parent CONFIG_HEXO_MEMALLOC_ALGO
default undefined
%config end

%config CONFIG_HEXO_MEMALLOC_ALIGN
desc Memory allocation block address alignment
flags mandatory
default 0x20
%config end

%config CONFIG_HEXO_MEMALLOC_DEBUG
desc When enabled all allocated and freed memory blocks will filled be with 0x5a and 0xa5 bytes
%config end

%config CONFIG_HEXO_MEMALLOC_STATS
desc keep stats about allocated blocks count and size
depend CONFIG_HEXO_MEMALLOC_ALGO
%config end

%config CONFIG_HEXO_MEMALLOC_SIGNED
desc When enabled all memory block headers will include a special magic value
depend CONFIG_HEXO_MEMALLOC_ALGO
%config end

%config CONFIG_HEXO_MEMALLOC_GUARD
desc Add a guard zone before and after each allocated block.
desc All guard zone content can be check with the mem_guard_check() function to detect bad memory write access.
depend CONFIG_HEXO_MEMALLOC_ALGO
depend CONFIG_HEXO_MEMALLOC_DEBUG
suggest CONFIG_HEXO_MEMALLOC_ALIGN=1
require CONFIG_HEXO_MEMALLOC_GUARD_SIZE
%config end

%config CONFIG_HEXO_MEMALLOC_GUARD_SIZE
desc Memory allocation debug guard zone size in bytes.
parent CONFIG_HEXO_MEMALLOC_GUARD
default 256
%config end

%config CONFIG_HEXO_MEMALLOC_GUARD_INSTRUMENT
desc Automatically check guard zone on all function calls and returns.
parent CONFIG_HEXO_MEMALLOC_GUARD
depend CONFIG_COMPILE_INSTRUMENT
%config end

%config CONFIG_HEXO_CPU_MMU
desc Use processor MMU driver implementation
parent CONFIG_HEXO_MMU
%config end

%config CONFIG_HEXO_ARCH_MMU
desc Use platform MMU driver implementation
parent CONFIG_HEXO_MMU
%config end

%config CONFIG_HEXO_MMU
desc Enable MMU driver
default undefined
require CONFIG_HEXO_MMU_PAGESIZE
require CONFIG_HEXO_MEMALLOC_ALGO
require CONFIG_HEXO_CPU_MMU CONFIG_HEXO_ARCH_MMU
single CONFIG_HEXO_CPU_MMU CONFIG_HEXO_ARCH_MMU
%config end

%config CONFIG_HEXO_MMU_PAGESIZE
desc Virtual memory physical page size
parent CONFIG_HEXO_MMU
%config end

%config CONFIG_HEXO_MMU_USER_START
desc Virtual memory minimal user accessible start address
parent CONFIG_HEXO_MMU
default 0x40000000
%config end

%config CONFIG_HEXO_MMU_USER_END
desc Virtual memory minimal user accessible end address
parent CONFIG_HEXO_MMU
default 0xc0000000
%config end

%config CONFIG_HEXO_MMU_INITIAL_START
desc Size of initial memory reserved for kernel use
default 0x00000000
%config end

%config CONFIG_HEXO_MMU_INITIAL_END
desc Size of initial memory reserved for kernel use
default 0x00800000
%config end

%config CONFIG_HEXO_INTTYPES_DEPRECATED
desc Mark short, int and long compiler types has deprecated because their size may vary between architectures
default defined
%config end

