%config CONFIG_DRIVER_NXP_FLEXCOMM_SPI_CTRL
  desc Enable Flexcomm SPI controller driver
  parent CONFIG_DRIVER_NXP_FLEXCOMM
  depend CONFIG_DEVICE_IRQ
  depend CONFIG_DEVICE_SPI
  depend CONFIG_DEVICE_IOMUX
%config end

%config CONFIG_DRIVER_NXP_FLEXCOMM_SPI_CTRL_DMA
  desc Enable Flexcomm DMA support
  parent CONFIG_DRIVER_NXP_FLEXCOMM_SPI_CTRL
  depend CONFIG_DEVICE_DMA
%config end

%config CONFIG_DRIVER_NXP_FLEXCOMM_SPI_SLAVE
  desc Enable Flexcomm SPI slave driver
  parent CONFIG_DRIVER_NXP_FLEXCOMM
  depend CONFIG_DEVICE_IRQ
  depend CONFIG_DEVICE_SPI
  depend CONFIG_DEVICE_IOMUX
  depend CONFIG_DEVICE_DMA
%config end

