%config CONFIG_NET
  desc Enable networking stack
  module libnetwork
  depend CONFIG_DEVICE_TIMER
  depend CONFIG_MUTEK_CONTEXT_SCHED
  depend CONFIG_MUTEK_SEMAPHORE
  flags auto
%config end

%config CONFIG_NET_LAYER_TYPE_ENUM
  desc Layer type ID allocator
  parent CONFIG_NET
  flags enum
  default 0
%config end
