%config CONFIG_NET
  desc Abstract network stack
  module libnetwork Libraries::Abstract network stack
  depend CONFIG_DEVICE_TIMER
  depend CONFIG_MUTEK_CONTEXT_SCHED
  depend CONFIG_MUTEK_SEMAPHORE
  depend CONFIG_MUTEK_BUFFER_POOL
  flags auto
%config end

%config CONFIG_NET_LAYER_TYPE_ENUM
  desc Layer type ID allocator
  parent CONFIG_NET
  flags enum
  default 0
%config end

%config CONFIG_NET_ETHERNET
  desc Allocate Ethernet Layer ID
  parent CONFIG_NET
%config end

%config CONFIG_NET_ETHERNET_LAYER_COUNT
  desc Ethernet Layer ID Range
  parent CONFIG_NET_ETHERNET
  flags value
  provide CONFIG_NET_LAYER_TYPE_ENUM
  default 1
%config end
