
%config CONFIG_MWMR
desc Mwmr middleware support
provide CONFIG_MODULES=+libmwmr:%CONFIGPATH
require CONFIG_MWMR_SOCLIB CONFIG_MWMR_PTHREAD
single CONFIG_MWMR_SOCLIB CONFIG_MWMR_PTHREAD
%config end

%config CONFIG_MWMR_SOCLIB
desc Mwmr on SOCLIB, with hardware protocol compatibility
parent CONFIG_MWMR
depend CONFIG_HEXO_SCHED
depend CONFIG_ARCH_SOCLIB
require CONFIG_ARCH_SOCLIB_RAMLOCK=undefined
%config end

%config CONFIG_MWMR_PTHREAD
desc Mwmr on Pthreads, with no hardware protocol compatibility
parent CONFIG_MWMR
depend CONFIG_PTHREAD
%config end
