
%config CONFIG_SRL
desc MutekS API
provide CONFIG_MODULES=+libsrl:%CONFIGPATH
depend CONFIG_HEXO_SCHED
depend CONFIG_ARCH_SOCLIB
depend CONFIG_MWMR
depend CONFIG_MWMR_SOCLIB
require CONFIG_MUTEK_MAIN=undefined
require CONFIG_ARCH_SOCLIB_RAMLOCK=undefined
%config end

%config CONFIG_SRL_NTTY
desc Total TTYs
%config end
