
%config CONFIG_SRL
desc Enable DSX System Ressource Layer library
default undefined
depend CONFIG_HEXO_SCHED
require CONFIG_SRL_VERBOSITY=NONE CONFIG_SRL_VERBOSITY=TRACE CONFIG_SRL_VERBOSITY=DEBUG CONFIG_SRL_VERBOSITY=MAX
require CONFIG_SRL_MWMR_ALGO
%config end

%config CONFIG_SRL_VERBOSITY
desc Specifies SRL vebosity level
parent CONFIG_SRL
default NONE
%config end

%config CONFIG_SRL_SPINLOCKS
desc Implement locks as spinlocks instead of mutexes
default defined
parent CONFIG_SRL
%config end

%config CONFIG_SRL_MWMR_ALGO
desc	meta configuration token used to impose requirements
parent CONFIG_SRL
default defined
flags	noexport nodefine
single	CONFIG_SRL_MWMR_SOFTONLY CONFIG_SRL_MWMR_HARWARE
require CONFIG_SRL_MWMR_SOFTONLY CONFIG_SRL_MWMR_HARWARE
%config end

%config CONFIG_SRL_MWMR_SOFTONLY
parent CONFIG_SRL
desc Enable Software MWMR fifo implementation.
desc Use Hexo scheduler primitives, most efficient when no fifo hardware access support is needed.
default defined
%config end

%config CONFIG_SRL_MWMR_HARWARE
parent CONFIG_SRL
desc Enable hardware aware MWMR fifo implementation using locks and yield()
default undefined
%config end

