
%config CONFIG_SRL
desc MutekS API
provide CONFIG_MODULES=+libsrl:$(CONFIGPATH)
depend CONFIG_MUTEK_SCHEDULER
depend CONFIG_MWMR
require CONFIG_SRL_SOCLIB CONFIG_SRL_STD
single CONFIG_SRL_SOCLIB CONFIG_SRL_STD
%config end

%config CONFIG_SRL_SOCLIB
desc MutekS API for SoCLib
depend CONFIG_MUTEK_SCHEDULER
depend CONFIG_ARCH_SOCLIB
provide CONFIG_MWMR_SOCLIB
exclude CONFIG_MUTEK_MAIN
%config end

%config CONFIG_SRL_STD
desc MutekS API for standard architectures
depend CONFIG_MUTEK_MAIN
provide CONFIG_PTHREAD
provide CONFIG_MWMR_PTHREAD
%config end

%config CONFIG_SRL_MULTI_TTY
desc Whether we can support multiple TTYs for the application
parent CONFIG_SRL_SOCLIB
depend CONFIG_SRL_SOCLIB
%config end

%config CONFIG_SRL_VERBOSITY
desc Minimal verbosity level for SRL messages
parent CONFIG_SRL
require CONFIG_SRL
default NONE
%config end
