
%config CONFIG_ARCH_EFM32
  desc Silabs EFM32 platform support
  module arch Hexo
  provide CONFIG_ARCH_META
  provide CONFIG_ARCH_NAME=efm32
  single CONFIG_EFM32_GECKO CONFIG_EFM32_ZERO_GECKO CONFIG_EFM32_LEOPARD_GECKO CONFIG_EFM32_WONDER_GECKO CONFIG_EFM32_GIANT_GECKO
  require CONFIG_EFM32_FLASH_PAGE_SIZE
%config end

%init INIT_EFM32_MEM_ALLOC
  parent CONFIG_ARCH_EFM32
  during INIT_MUTEK_MEMALLOC
  function efm32_mem_init
%init end

%config CONFIG_EFM32_FLASH_PAGE_SIZE
  desc Specify the log2 of the flash page size
  parent CONFIG_ARCH_EFM32
  flags value
%config end

%config CONFIG_EFM32_GECKO
  desc Support for EFM32 Gecko family of microcontrollers
  parent CONFIG_ARCH_EFM32
  depend CONFIG_CPU_ARM_CORTEXM3
  provide CONFIG_EFM32_FLASH_PAGE_SIZE=9
%config end

%config CONFIG_EFM32_ZERO_GECKO
  desc Support for EFM32 Zero Gecko family of microcontrollers
  parent CONFIG_ARCH_EFM32
  depend CONFIG_CPU_ARM_CORTEXM0
  provide CONFIG_EFM32_FLASH_PAGE_SIZE=10
%config end

%config CONFIG_EFM32_LEOPARD_GECKO
  desc Support for EFM32 Leopard Gecko family of microcontrollers
  parent CONFIG_ARCH_EFM32
  depend CONFIG_CPU_ARM_CORTEXM3
  provide CONFIG_EFM32_FLASH_PAGE_SIZE=11
%config end

%config CONFIG_EFM32_WONDER_GECKO
  desc Support for EFM32 Wonder Gecko family of microcontrollers
  parent CONFIG_ARCH_EFM32
  depend CONFIG_CPU_ARM_CORTEXM4
  provide CONFIG_EFM32_FLASH_PAGE_SIZE=11
%config end

%config CONFIG_EFM32_GIANT_GECKO
  desc Support for EFM32 Giant Gecko family of microcontrollers
  parent CONFIG_ARCH_EFM32
  depend CONFIG_CPU_ARM_CORTEXM3
  provide CONFIG_EFM32_FLASH_PAGE_SIZE=12
%config end

%config CONFIG_EFM32_G8XX_STK
  desc Efm32 support for G8xx gecko starter kit
  parent CONFIG_ARCH_EFM32
  provide CONFIG_MUTEK_PRINTK_HANDLER
  require CONFIG_MUTEK_PRINTK_ADDR
  depend CONFIG_EFM32_GECKO
%config end

%init INIT_EFM32_PRINTK_LEUART_G8XX_STK
  parent CONFIG_EFM32_G8XX_STK
  during INIT_MUTEK_PRINTK
  function efm32_early_console_leuart_init
%init end

%config CONFIG_EFM32_STK3200
  desc Efm32 support for STK3200 zero gecko starter kit
  parent CONFIG_ARCH_EFM32
  provide CONFIG_MUTEK_PRINTK_HANDLER
  require CONFIG_MUTEK_PRINTK_ADDR
  depend CONFIG_EFM32_ZERO_GECKO
%config end

%init INIT_EFM32_PRINTK_LEUART_STK3200
  parent CONFIG_EFM32_STK3200
  during INIT_MUTEK_PRINTK
  function efm32_early_console_leuart_init
%init end

%config CONFIG_EFM32_STK3600
  desc Efm32 support for STK3600 leopard gecko starter kit
  parent CONFIG_ARCH_EFM32
  provide CONFIG_MUTEK_PRINTK_HANDLER
  require CONFIG_MUTEK_PRINTK_ADDR
  depend CONFIG_EFM32_LEOPARD_GECKO
%config end

%init INIT_EFM32_PRINTK_LEUART_STK3600
  parent CONFIG_EFM32_STK3600
  during INIT_MUTEK_PRINTK
  function efm32_early_console_leuart_init
%init end

%config CONFIG_EFM32_STK3800
  desc Efm32 support for STK3800 Wonder gecko starter kit
  parent CONFIG_ARCH_EFM32
  provide CONFIG_MUTEK_PRINTK_HANDLER
  require CONFIG_MUTEK_PRINTK_ADDR
  depend CONFIG_EFM32_WONDER_GECKO
%config end

%init INIT_EFM32_PRINTK_LEUART_STK3800
  parent CONFIG_EFM32_STK3800
  during INIT_MUTEK_PRINTK
  function efm32_early_console_leuart_init
%init end

%config CONFIG_EFM32_STK3700
  desc Efm32 support for STK3700 Giant gecko starter kit
  parent CONFIG_ARCH_EFM32
  provide CONFIG_MUTEK_PRINTK_HANDLER
  require CONFIG_MUTEK_PRINTK_ADDR
  depend CONFIG_EFM32_GIANT_GECKO
%config end

%init INIT_EFM32_PRINTK_LEUART_STK3700
  parent CONFIG_EFM32_STK3700
  during INIT_MUTEK_PRINTK
  function efm32_early_console_leuart_init
%init end

