
%config CONFIG_ARCH_EFM32
  desc Silabs EFM32 platform support
  module arch Platforms::Silabs EFM32
  provide CONFIG_ARCH_META
  provide CONFIG_ARCH_NAME=efm32
  single CONFIG_EFM32_GECKO CONFIG_EFM32_ZERO_GECKO CONFIG_EFM32_LEOPARD_GECKO CONFIG_EFM32_WONDER_GECKO CONFIG_EFM32_GIANT_GECKO CONFIG_EFR32
  require CONFIG_EFM32_FLASH_PAGE_SIZE
%config end

%config CONFIG_EFM32_FLASH_PAGE_SIZE
  desc Specify the log2 of the flash page size
  parent CONFIG_ARCH_EFM32
  flags value
%config end

%config CONFIG_EFM32_BOOT_BUTTON
  desc Wait for pushbutton release on startup
  parent CONFIG_ARCH_EFM32
  require CONFIG_EFM32_BOOT_BUTTON_PIN
%config end

%config CONFIG_EFM32_BOOT_BUTTON_PIN
  desc Sepcify pin index of the push button
  flags value
  parent CONFIG_EFM32_BOOT_BUTTON
%config end

%init INIT_EFM32_BOOT_BUTTON
  parent CONFIG_EFM32_BOOT_BUTTON
  during INIT_BOOTSTRAP
  before INIT_DEVICE
  before INIT_EFM32_CLOCK_ENABLE
  function efm32_boot_button_wait
%init end

%init INIT_EFM32_CLOCK_ENABLE
  parent CONFIG_ARCH_EFM32
  during INIT_BOOTSTRAP
  before INIT_DEVICE
  function efm32_clock_enable
  condition CONFIG_DEVICE_CLOCK!
%init end

%config CONFIG_EFM32_RAMSIZE
  desc Size of ram 0x20000000
  parent CONFIG_ARCH_EFM32
  flags value
%config end

%config CONFIG_EFM32_GECKO
  desc Support for EFM32 Gecko family of microcontrollers
  parent CONFIG_ARCH_EFM32
  depend CONFIG_CPU_ARM32M_CORTEXM3
  provide CONFIG_EFM32_FLASH_PAGE_SIZE=9
  provide CONFIG_DRIVER_EFM32_DMA_MAX_CHANNEL_COUNT=12
%config end

%config CONFIG_EFM32_ZERO_GECKO
  desc Support for EFM32 Zero Gecko family of microcontrollers
  parent CONFIG_ARCH_EFM32
  depend CONFIG_CPU_ARM32M_CORTEXM0
  provide CONFIG_EFM32_FLASH_PAGE_SIZE=10
  provide CONFIG_DRIVER_EFM32_DMA_MAX_CHANNEL_COUNT=4
%config end

%config CONFIG_EFM32_LEOPARD_GECKO
  desc Support for EFM32 Leopard Gecko family of microcontrollers
  parent CONFIG_ARCH_EFM32
  depend CONFIG_CPU_ARM32M_CORTEXM3
  provide CONFIG_EFM32_FLASH_PAGE_SIZE=11
  provide CONFIG_DRIVER_EFM32_DMA_MAX_CHANNEL_COUNT=12
%config end

%config CONFIG_EFM32_WONDER_GECKO
  desc Support for EFM32 Wonder Gecko family of microcontrollers
  parent CONFIG_ARCH_EFM32
  depend CONFIG_CPU_ARM32M_CORTEXM4
  provide CONFIG_EFM32_FLASH_PAGE_SIZE=11
  provide CONFIG_DRIVER_EFM32_DMA_MAX_CHANNEL_COUNT=12
%config end

%config CONFIG_EFM32_GIANT_GECKO
  desc Support for EFM32 Giant Gecko family of microcontrollers
  parent CONFIG_ARCH_EFM32
  depend CONFIG_CPU_ARM32M_CORTEXM3
  provide CONFIG_EFM32_FLASH_PAGE_SIZE=12
  provide CONFIG_DRIVER_EFM32_DMA_MAX_CHANNEL_COUNT=12
%config end

%config CONFIG_EFR32
  desc Support for EFR32 Gecko family of microcontrollers
  parent CONFIG_ARCH_EFM32
  provide CONFIG_EFM32_FLASH_PAGE_SIZE=9
  depend CONFIG_CPU_ARM32M_CORTEXM4
%config end

%config CONFIG_EFM32_BOARD
  desc EFM32 board name
  parent CONFIG_ARCH_EFM32
  default none
  flags value
%config end

%config CONFIG_EFM32_STK_BC_EN
  desc Enable board controller on STK dev boards
  parent CONFIG_ARCH_EFM32
%config end

