
%config CONFIG_ARCH_EFM32
  desc Silabs EFM32/EFR32 platform support
  module arch Platforms::Silabs EFM32
  provide CONFIG_ARCH_META
  provide CONFIG_ARCH_NAME=efm32
  require CONFIG_EFM32_RAMSIZE
  require CONFIG_EFM32_FAMILY
  require CONFIG_EFM32_ARCHREV
%config end

%config CONFIG_EFM32_BOOT_BUTTON
  desc Wait for pushbutton release on startup
  parent CONFIG_ARCH_EFM32
  require CONFIG_EFM32_BOOT_BUTTON_PIN
%config end

%config CONFIG_EFM32_BOOT_BUTTON_PIN
  desc Sepcify pin index of the push button
  flags value
  parent CONFIG_EFM32_BOOT_BUTTON
%config end

%init INIT_EFM32_BOOT_BUTTON
  parent CONFIG_EFM32_BOOT_BUTTON
  during INIT_BOOTSTRAP
  before INIT_DEVICE
  before INIT_EFM32_CLOCK_ENABLE
  function efm32_boot_button_wait
%init end

%init INIT_EFM32_CLOCK_ENABLE
  parent CONFIG_ARCH_EFM32
  during INIT_BOOTSTRAP
  before INIT_DEVICE
  function efm32_clock_enable
  condition CONFIG_DEVICE_CLOCK!
%init end

%config CONFIG_EFM32_RAMSIZE
  desc Size of ram mapped at 0x20000000
  parent CONFIG_ARCH_EFM32
  flags value
%config end

%config CONFIG_EFM32_FAMILY
  desc Specifies the microcontroller Gecko family. see include/arch/efm32/chips.h
  parent CONFIG_ARCH_EFM32
  flags value
%config end

%config CONFIG_EFM32_ARCHREV
  desc Specifies the microcontroller architecture version. see include/arch/efm32/chips.h
  parent CONFIG_ARCH_EFM32
  flags value
%config end

%config CONFIG_EFM32_BOARD
  desc EFM32 board name
  parent CONFIG_ARCH_EFM32
  default none
  flags value
%config end

%config CONFIG_EFM32_STK_BC_EN
  desc Enable board controller on STK dev boards
  parent CONFIG_ARCH_EFM32
%config end

