
%config CONFIG_DRIVER_GPIO_BCM2835
  desc Provide support for Broadcom BCM2835 soc GPIO controller.
  parent CONFIG_ARCH_RASPBERRY
  depend CONFIG_DEVICE_GPIO
%config end

%config CONFIG_DRIVER_GPIO_BCM2835_ICU
  desc Enable use of the BCM2835 GPIO as an irq controller
  parent CONFIG_DRIVER_GPIO_BCM2835
  depend CONFIG_DEVICE_ICU
  default defined
%config end

