%config CONFIG_ARCH_NRF5X
  desc Nordic nRF5X platform support
  module arch Platforms::nRF5X platform
  provide CONFIG_ARCH_META
  provide CONFIG_ARCH_NAME=nrf5x
%config end

%config CONFIG_NRF5X_MODEL
  desc Nordic nRF5x model number
  parent CONFIG_ARCH_NRF5X
  flags value
%config end

%config CONFIG_NRF5X_RAMSIZE
  desc nRF5x RAM size
  parent CONFIG_ARCH_NRF5X
  flags value
%config end

%config CONFIG_NRF5X_GPIO_COUNT
  desc nRF5x GPIO count
  parent CONFIG_ARCH_NRF5X
  flags value
%config end

%init INIT_NRF5X
  parent CONFIG_ARCH_NRF5X
  during INIT_BOOTSTRAP
  function nrf5x_init
%init end

%config CONFIG_NRF5X_RADIO_DCDC
  desc Enable nRF5X Radio DCDC
  parent CONFIG_ARCH_NRF5X
%config end

%config CONFIG_NRF5X_HAS_VREGH
  desc Enable nRF5X Radio DCDC
  parent CONFIG_ARCH_NRF5X
  require CONFIG_NRF5X_MODEL=52840
  require CONFIG_NRF5X_MODEL=52820
%config end

%config CONFIG_NRF5X_VREGH
  desc Enable nRF5X Radio DCDC
  parent CONFIG_NRF5X_HAS_VREGH
  flags value
%config end

%config CONFIG_NRF52_RESET_PIN
  desc Enable nRF52 Reset pin mapping
  parent CONFIG_ARCH_NRF5X
  require CONFIG_NRF5X_MODEL>=52000
%config end
