%config CONFIG_ARCH_NRF5X
  desc Nordic nRF5X platform support
  module arch Platforms::nRF5X platform
  provide CONFIG_ARCH_META
  provide CONFIG_ARCH_NAME=nrf5x
  single CONFIG_ARCH_NRF51 CONFIG_ARCH_NRF52
%config end

%config CONFIG_ARCH_NRF51
  desc Nordic nRF51 Series
  parent CONFIG_ARCH_NRF5X
  depend CONFIG_CPU_ARM32M_CORTEXM0
%config end

%config CONFIG_ARCH_NRF52
  desc Nordic nRF52 Series
  parent CONFIG_ARCH_NRF5X
  depend CONFIG_CPU_ARM32M_CORTEXM4
%config end

%config CONFIG_NRF5X_RAMSIZE
  desc nRF5x RAM size
  parent CONFIG_ARCH_NRF5X
  flags value
%config end

%init INIT_NRF52
  parent CONFIG_ARCH_NRF52
  during INIT_BOOTSTRAP
  function nrf52_init
%init end

%config CONFIG_NRF5X_RADIO_DCDC
  desc Enable nRF5X Radio DCDC
  parent CONFIG_ARCH_NRF5X
%config end
