
%config CONFIG_DRIVER_FS_FAT16
parent CONFIG_VFS
depend CONFIG_VFS
desc FAT16 support
default undefined
provide CONFIG_DRIVER_FS_FAT
%config end

%config CONFIG_DRIVER_FS_FAT
parent CONFIG_VFS
depend CONFIG_VFS
desc FAT support (internal token)
default undefined
flags nodefine
%config end

%config CONFIG_DRIVER_FS_FAT_LFN
parent CONFIG_VFS
depend CONFIG_VFS
desc FAT Long File Names support
default defined
parent CONFIG_DRIVER_FS_FAT
depend CONFIG_DRIVER_FS_FAT
%config end
