%config CONFIG_DRIVER_CHAR_HDLC
  desc Enable char device multiplexer
  parent CONFIG_DRIVER
  depend CONFIG_DEVICE_CHAR
  depend CONFIG_MUTEK_KROUTINE_SCHED
  require CONFIG_DRIVER_CHAR_HDLC_RX_SIZE>=4
  require CONFIG_DRIVER_CHAR_HDLC_RX_BUFFER_COUNT>=1
  require CONFIG_DRIVER_CHAR_HDLC_TX_SIZE>=4
%config end

%config CONFIG_DRIVER_CHAR_HDLC_RX_SIZE
  desc Size of IO rx buffer
  parent CONFIG_DRIVER_CHAR_HDLC
  flags value
  default 32
%config end

%config CONFIG_DRIVER_CHAR_HDLC_RX_BUFFER_COUNT
  desc Count of RX buffers
  parent CONFIG_DRIVER_CHAR_HDLC
  flags value
  default 1
%config end

%config CONFIG_DRIVER_CHAR_HDLC_TX_SIZE
  desc Size of IO tx buffer
  parent CONFIG_DRIVER_CHAR_HDLC
  flags value
  default 32
%config end
