
%config CONFIG_DRIVER_EFM32_RECMU
  desc Enable EFM32 Reset, Clock and Energy management units drivers
  parent CONFIG_ARCH_EFM32
  depend CONFIG_DEVICE_CLOCK
%config end

%config CONFIG_DRIVER_EFM32_RECMU_NAMES
  desc Includes clock signal names in the binary
  default defined
  parent CONFIG_DRIVER_EFM32_RECMU
%config end

