
%config CONFIG_DRIVER_EFM32_RECMU
  desc Enable EFM32 Reset, Clock and Energy management units drivers
  parent CONFIG_ARCH_EFM32
  depend CONFIG_DEVICE_CLOCK
  depend CONFIG_DEVICE_SLEEP
%config end

%config CONFIG_DRIVER_EFM32_RECMU_SLEEPDEEP
  desc Use arm DEEPSLEEP mode
  parent CONFIG_DRIVER_EFM32_RECMU
  when CONFIG_DEVICE_CLOCK_GATING
%config end

%config CONFIG_DRIVER_EFM32_RECMU_NAMES
  desc Includes clock signal names in the binary
  default defined
  parent CONFIG_DRIVER_EFM32_RECMU
%config end

