
%config CONFIG_ARCH_SOCLIB
desc SocLib platform support
module arch Hexo
default	undefined
provide	CONFIG_ARCH_NAME=soclib
%config end

%config CONFIG_SOCLIB_EARLY_CONSOLE
desc SoCLib console output on a TTY at fixed address
desc before device initialization
flags value
parent CONFIG_ARCH_SOCLIB
default undefined
%config end

%config CONFIG_ARCH_SOCLIB_VCACHE_32
desc SocLib VCache with 32 bit physical address
exclude CONFIG_ARCH_SOCLIB_VCACHE_40
provide CONFIG_HEXO_MMU_PADDR=32
provide CONFIG_HEXO_MMU_VADDR=32
require CONFIG_HEXO_MMU_PAGESIZE=4096
default undefined
%config end

%config CONFIG_ARCH_SOCLIB_VCACHE_40
desc SocLib VCache with 40 bit physical address
exclude CONFIG_ARCH_SOCLIB_VCACHE_32
provide CONFIG_HEXO_MMU_PADDR=40
provide CONFIG_HEXO_MMU_VADDR=32
require CONFIG_HEXO_MMU_PAGESIZE=4096
default undefined
%config end

%config CONFIG_ARCH_SOCLIB_RAMLOCK
desc Enable use of ramlock devices instead of cpu atomic operations
parent CONFIG_ARCH_SOCLIB
default undefined
%config end

%config CONFIG_SOCLIB_MEMCHECK
desc Enable instrumentation with the SocLib memory checker ISS wrapper
parent CONFIG_ARCH_SOCLIB
default undefined
exclude CONFIG_MUTEK_MEMALLOC_GUARD
depend CONFIG_MUTEK_MEMALLOC_SMART
%config end

%config CONFIG_SOCLIB_MEMCHECK_ADDRESS
desc Memory check address
default 0x00004200
parent CONFIG_SOCLIB_MEMCHECK
%config end

%config CONFIG_SOCLIB_VMEM_MALLOC_REGION_SIZE
desc Initial memory allocation region size in bytes. Must be at least equal to the number of physical page available in memory * 4 (to hold pointers to the physical pages).
default 0x8000
%config end
