
%config CONFIG_ARCH_SOCLIB
  desc SocLib platform support
  provide CONFIG_ARCH_META
  module arch Platforms::SoCLib based platforms
  provide CONFIG_ARCH_NAME=soclib
  provide CONFIG_ARCH_SMP_CAPABLE
  require CONFIG_STARTUP_HEAP_ADDR
  require CONFIG_STARTUP_HEAP_SIZE
%config end

%init INIT_SOCLIB_MEM_ALLOC
  parent CONFIG_ARCH_SOCLIB
  during INIT_MUTEK_MEMALLOC
  function soclib_mem_init
%init end

%init INIT_SOCLIB_START_CPUS
  parent CONFIG_ARCH_SOCLIB
  condition CONFIG_ARCH_SMP
  during INIT_START_CPUS
  function soclib_start_cpus
%init end



%config CONFIG_SOCLIB_PRINTK
  desc enable SoCLib early console TTY before device initialization
  provide CONFIG_MUTEK_PRINTK_HANDLER
  parent CONFIG_ARCH_SOCLIB
  require CONFIG_MUTEK_PRINTK_ADDR!=0
  depend CONFIG_MUTEK_PRINTK
%config end

%init INIT_SOCLIB_PRINTK
  parent CONFIG_SOCLIB_PRINTK
  during INIT_MUTEK_PRINTK
  function soclib_printk_init
%init end



%init INIT_SOCLIB_VMEM
  parent CONFIG_ARCH_SOCLIB
  desc Intialize SoCLib virtual memory
  during INIT_MEMORY
  condition CONFIG_VMEM
  function soclib_vmem_init
%init end

%config CONFIG_ARCH_SOCLIB_VCACHE_32
  desc SocLib VCache with 32 bit physical address
  exclude CONFIG_ARCH_SOCLIB_VCACHE_40
  provide CONFIG_HEXO_MMU_PADDR=32
  provide CONFIG_HEXO_MMU_VADDR=32
  require CONFIG_HEXO_MMU_PAGESIZE=4096
  parent CONFIG_ARCH_SOCLIB
%config end

%config CONFIG_ARCH_SOCLIB_VCACHE_40
  desc SocLib VCache with 40 bit physical address
  exclude CONFIG_ARCH_SOCLIB_VCACHE_32
  provide CONFIG_HEXO_MMU_PADDR=40
  provide CONFIG_HEXO_MMU_VADDR=32
  require CONFIG_HEXO_MMU_PAGESIZE=4096
  parent CONFIG_ARCH_SOCLIB
%config end

%config CONFIG_SOCLIB_VMEM_MALLOC_REGION_SIZE
  desc Initial memory allocation region size in bytes. Must be at least equal to the number of physical page available in memory * 4 (to hold pointers to the physical pages).
  default 0x8000
  flags value
  parent CONFIG_ARCH_SOCLIB
%config end



%config CONFIG_SOCLIB_MEM_REGION
  desc Enable NUMA regions based allocator for SoCLib platforms
  parent CONFIG_ARCH_SOCLIB
  depend CONFIG_MUTEK_MEM_REGION
%config end

%init INIT_SOCLIB_MEM_REGION
  parent CONFIG_SOCLIB_MEM_REGION
  during INIT_MUTEK_MEM_REGION
  function soclib_mem_region_init
%init end



%config CONFIG_ARCH_SOCLIB_RAMLOCK
  desc Enable use of ramlock devices instead of cpu atomic operations
  parent CONFIG_ARCH_SOCLIB
%config end

%config CONFIG_SOCLIB_MEMCHECK
  desc Enable instrumentation with the SocLib memory checker ISS wrapper
  parent CONFIG_ARCH_SOCLIB
  depend CONFIG_MUTEK_MEMALLOC_SMART
  suggest CONFIG_COMPILE_NOBITFIELD
%config end

%init INIT_SOCLIB_MEMCHECK
  parent CONFIG_SOCLIB_MEMCHECK
  during INIT_MEMORY_SECTIONS
  before INIT_ZERO_BSS
  before INIT_COPY_DATA
  after INIT_COPY_EXCEPTION_VECTORS
  function soclib_memcheck_init
%init end

%init INIT_SOCLIB_MEMCHECK_SMP
  parent CONFIG_SOCLIB_MEMCHECK
  during INIT_CPUS
  before INIT_DEVICE_CPU_REGS
  before INIT_MUTEK_FAULT_HANDLER
  function soclib_memcheck_initsmp
  condition CONFIG_ARCH_SMP
%init end

%config CONFIG_SOCLIB_MEMCHECK_ADDRESS
  desc Memory check address
  flags value
  default 0x00000400
  parent CONFIG_SOCLIB_MEMCHECK
%config end



%config CONFIG_SOCLIB_FDT
  parent CONFIG_ARCH_SOCLIB
  depend CONFIG_DRIVER_ENUM_FDT
  depend CONFIG_LIBFDT
  desc Use a flat device tree in memory to discover available SoCLib devices
  default defined
%config end

%config CONFIG_SOCLIB_FDT_ROM_ADDRESS
  desc Specify address of flat device tree in platform memory
  flags value
  parent CONFIG_SOCLIB_FDT
  default 0xe0000000
%config end

