
%config CONFIG_ARCH_SOCLIB
desc SocLib platform support
default	undefined
provide	CONFIG_ARCH_NAME=soclib
provide CONFIG_MODULES=+arch:%CONFIGPATH
provide CONFIG_HEXO_MMU_PAGESIZE=4096
%config end

%config CONFIG_ARCH_SOCLIB_RAMLOCK
desc Enable use of ramlock devices instead of cpu atomic operations
default undefined
%config end

%config CONFIG_SOCLIB_MEMCHECK
desc Enable instrumentation with the SocLib memory checker ISS wrapper
default undefined
exclude CONFIG_HEXO_MEMALLOC_GUARD
depend CONFIG_HEXO_MEMALLOC_ALGO
%config end

%config CONFIG_SOCLIB_MEMCHECK_ADDRESS
default 0x00004200
parent CONFIG_SOCLIB_MEMCHECK
%config end

%config CONFIG_SOCLIB_VMEM_MALLOC_REGION_SIZE
desc Initial memory allocation region size. Must be at least egal to the number of physical page in memory * 4
default 0x8000
parent CONFIG_HEXO_MMU
%config end