%config CONFIG_BLE
  desc Bluetooth Low Energy protocol library
  module libble
  depend CONFIG_NET
  depend CONFIG_DEVICE_NET
  depend CONFIG_MUTEK_BUFFER_POOL
  depend CONFIG_DEVICE_CRYPTO
  depend CONFIG_MUTEK_MEMALLOC
%config end

%config CONFIG_BLE_ADVERTISER
  desc BLE Advertiser phy layer
  parent CONFIG_BLE
  flags auto
%config end

%config CONFIG_BLE_MASTER
  desc BLE Master phy layer
  parent CONFIG_BLE
  flags auto
%config end

%config CONFIG_BLE_SLAVE
  desc BLE Slave phy layer
  parent CONFIG_BLE
  flags auto
%config end

%config CONFIG_BLE_SCANNER
  desc BLE Scanner phy layer
  parent CONFIG_BLE
  flags auto
%config end

%config CONFIG_BLE_SNIFFER
  desc BLE sniffer
  parent CONFIG_BLE
%config end

%config CONFIG_BLE_PERIPHERAL
  desc BLE Peripheral role
  parent CONFIG_BLE
  depend CONFIG_BLE_ADVERTISER
  depend CONFIG_BLE_SLAVE
%config end

%config CONFIG_BLE_BEACON
  desc BLE Beacon role
  parent CONFIG_BLE
  depend CONFIG_BLE_ADVERTISER
%config end

%config CONFIG_BLE_CENTRAL
  desc BLE Central role
  parent CONFIG_BLE
  depend CONFIG_BLE_SCANNER
  depend CONFIG_BLE_MASTER
%config end

%config CONFIG_BLE_PACKET_SIZE
  desc BLE packet size
  flags value
  # Exclude Access Address and CRC fields.
  # Worst case on adv (Connect packet): 36 bytes
  # Minimum cast on data (min ATT MTU): 33 bytes
  # Add any device-specific prefix
  default 36
  parent CONFIG_BLE
%config end

%config CONFIG_BLE_SLEEP_CLOCK_HZ
  desc BLE sleep clock fixed frequency
  flags value
  parent CONFIG_BLE
%config end

%config CONFIG_BLE_SLEEP_CLOCK_PPM
  desc BLE sleep clock fixed accuracy
  flags value
  parent CONFIG_BLE
%config end

%config CONFIG_BLE_GATTDB
  desc Support GATTDB db
  parent CONFIG_BLE
  default defined
%config end

%config CONFIG_BLE_GATTDB_DESCRIPTOR
  desc Support GATTDB characteristics descriptors beyond built-in ones
  parent CONFIG_BLE_GATTDB
  default defined
%config end

%config CONFIG_BLE_GATTDB_INCLUDE
  desc Support GATTDB service includes
  parent CONFIG_BLE_GATTDB
%config end

%config CONFIG_BLE_GATTDB_STREAM
  desc Support GATTDB attribute value streaming
  parent CONFIG_BLE_GATTDB
%config end

%config CONFIG_BLE_CRYPTO
  desc Enable BLE crypto ops
  parent CONFIG_BLE
  depend CONFIG_DEVICE_CRYPTO
  flags auto
%config end

%config CONFIG_BLE_SECURITY_DB
  desc Enable peer DB
  parent CONFIG_BLE
  depend CONFIG_PERSIST
  depend CONFIG_BLE_CRYPTO
  flags auto
%config end

%config CONFIG_BLE_SECURITY_DB_MAX
  desc Maximum count of Peer DB entries
  parent CONFIG_BLE_SECURITY_DB
  flags value
  default 4
%config end

%config CONFIG_BLE_NET_LAYER_COUNT
  desc BLE Layer ID range
  parent CONFIG_BLE
  flags value
  provide CONFIG_NET_LAYER_TYPE_ENUM
  default 5
%config end

%config CONFIG_BLE_SHELL
  desc BLE Shell interface
  parent CONFIG_BLE
  depend CONFIG_MUTEK_SHELL
  when CONFIG_MUTEK_SHELL
%config end
