
%config CONFIG_DRIVER_CC26XX_GPIO
  desc Enable CC26XX GPIO driver
  parent CONFIG_ARCH_CC26XX
  depend CONFIG_DEVICE_IOMUX
  depend CONFIG_DEVICE_GPIO
%config end

%config CONFIG_DRIVER_CC26XX_GPIO_ICU
  desc Enable use of the CC26XX GPIO as an irq controller
  parent CONFIG_DRIVER_CC26XX_GPIO
  depend CONFIG_DEVICE_IRQ
  depend CONFIG_DEVICE_ICU
  require CONFIG_DRIVER_CC26XX_GPIO_IRQ_COUNT<=32
  require CONFIG_DRIVER_CC26XX_GPIO_IRQ_COUNT>0
%config end

%config CONFIG_DRIVER_CC26XX_GPIO_IRQ_COUNT
  parent CONFIG_DRIVER_CC26XX_GPIO_ICU
  desc Specify the number of supported input interrupt lines.
  default 16
  flags value
%config end

