
%config CONFIG_DRIVER_EFM32_ADC
  desc Enable EFM32 ADC
  parent CONFIG_ARCH_EFM32
  depend CONFIG_DEVICE_IRQ
  depend CONFIG_DEVICE_CLOCK
  depend CONFIG_DEVICE_VALIO_ADC
%config end

%config CONFIG_DRIVER_EFM32_ADC_CTRL
  desc Extra fields merged in the CTRL register
  parent CONFIG_DRIVER_EFM32_ADC
  flags value
  default 0
%config end
